<header class="site-header">
    <div class="container">
        <div class="main-head">
            <div class="container">
                <a href="index.html" class="logo">
                    <img src="img/asap40w.png" alt="白昌"/>
                    <h1>白昌</h1>
                </a>
                <!--<div class="avatar">
                    <h1><div class="bar"> <a href="index.html">ASAP購物網</div></a></h1>
                </div>-->
                <div class="site-search">
                    <input type="search" maxlength="128" class="input-search" placeholder="請輸入商品名稱"/>
                    <button type="submit" class="btn-submit"><img src="img/search_black.svg" class="icon-search"alt="搜尋icon"/></button>
                </div>
                <ul class="head-link">
                    <li><a href="per.html">專屬品</a></li>
                    <li><a href="#">瘋最夯</a></li>
                    <li><a href="#">新降價</a></li>
                    <li><a href="#">新到貨</a></li>
                    <li><a href="coupon.html">折價券</a></li>
                </ul>
                <ul class="head-func">
                    <li><a href="#" class="my-account"><img src="img/icon_account_w.png" alt="我的"><span>我的</span></a></li>
                    <li><a href="cart/orderlist.html" class="cart"><img src="img/icon_cart_w.png" alt="購物車"></a></li>
                </ul>
            </div>
            <!--<a href="OBtest.html" class="OB">公測說明！</a>-->
        </div>
    </div>
</header>