<footer class="copyright">
    <div class="container">
        <div class="foot_link">
            <div class="foot_link_l">
                <a href="#">關於 ASAP 4.0</a>
                <a href="https://www.uitox.com/c/web/uitox/index.html">關於 uitox</a>
                <a class="active" href="#">我要成為供應商</a>
                <a class="active" href="#">供應商入口</a>
                <a class="active" href="https://docs.google.com/forms/d/1dRQGIw9gK3YOvIBPR58tiqBlbDmUs1xFk5V75hdcQLs/edit?ts=5d689c9d">我要開店</a>
            </div>
            <div class="foot_link_r">
                <a href="#">新客註冊</a>
                <a href="#">購物流程</a>
                <a href="#">信用卡付款</a>
                <a href="#">超取付款</a>
            </div>
        </div>
        <small>Copyright © uitox Corporation  All rights reserved.<a href="#">隱私權政策</a></small>		
    </div>

<!--狀態列 僅作為切換版面使用-->
    <div class="chg_block">
        <div class="chg_btn">
            <p><i class="fa fa-sliders" aria-hidden="true"></i></p>
            <div class="chg_st">
                <a href="index.html">原始版本天</a>
                <a href="index_white.html">白色天</a>
                <a href="index_white_profile.html">白色天(網紅)</a>
                <a href="index_white_profile_bg.html">底圖天(網紅)</a>
                <hr/>
                <a href="item.html">單品</a>
                <a href="item_add01.html">加＋贈不選</a>
                <a href="item_add02.html">多規+加+贈</a>
                <a href="item_AB.html">A+B</a>
                <a href="item_hide.html">隱藏商品</a>
                <a href="item_notsale.html">尚未開賣</a>
                <a href="item_soldout.html">售完補貨中</a>
                <a href="item_per.html">個人賣場</a>
            </div>
        </div>    
    </div>

    <style>
        .chg_block{
             position:fixed;right:0;top:40%;
             z-index:10;
        }
        .chg_btn{
            position:relative;
        }
        .chg_btn p{
            padding:10px 5px;
            font-size:.85rem;
            color:#333;
            background:#ffda34;
        }
        .chg_btn:hover .chg_st{
            display:flex;
        }
        .chg_st{    
            display:none;
            flex-flow:column wrap;
            position:absolute;right:0;top: 100%;
        }
        .chg_st a{
            display:block;
            width:77px;
            margin:2px;
            padding:10px;
            font-size:.85rem;
            color:#333;
            background-color:#eee;
            text-decoration:none;
            border-radius:8px;
            box-shadow: -1px 1px 5px #aaa;
        }
        .chg_st a:hover{
            color:#333;
            background:#ffda34;
        }
    </style>
   
</footer>