<div class="pc_index_full_menu_left">       
    <nav class="nav-menu">
        <a href="#"><h2 class="title">全部分類</h2><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul class="menu-one">
            <li>
                <h3><a href="catelist.html">促銷優惠</a></h3>
                <div class="menu-expand">
                    <ul class="menu-sub-expand">
                        <li>
                            <a href="catelist.html" target="_blank">電視.4K電視</a>
                        </li>
                        <li><a href="#" target="_blank">家庭劇院</a></li>
                        <li><a href="#" target="_blank">音響.黑膠商品</a></li>
                        <li><a href="#" target="_blank">藍芽喇叭.揚聲器</a></li>
                        <li><a href="#" target="_blank">錄音筆.MP3.MP4</a></li>
                        <li><a href="#" target="_blank">遊戲.玩具.點數卡</a></li>
                        <li><a href="#" target="_blank">VR/AR相關裝置</a></li>
                        <li><a href="#" target="_blank">投影機.週邊</a></li>
                        <li><a href="#" target="_blank">口譯機.樂器.點讀筆</a></li>
                        <li><a href="#" target="_blank">耳機.喇叭.麥克風</a></li>
                    </ul>
                    <ul class="menu-sub-expand-blue">
                        <li>
                            <a href="#">活動專區</a>
                            <a href="#">品牌活動專區</a>
                            <a href="#">超夯功能專區</a>
                            <a href="#" class="bold">品牌專區</a>
                            <a href="#">最佳觀賞距離</a>
                            <a href="#">找到好價格</a>
                            <a href="#">尺寸分類</a>
                            <a href="#" class="menu-sub-expand-more">more</a>
                        </li>
                        <li>
                            <a href="#">新物、超值專區</a>
                            <a href="#">館長推薦</a>
                            <a href="#">Nintendo專區</a>
                            <a href="#">SONY PS4專區</a>
                            <a href="#">XBOX ONE專區</a>
                            <a href="#">遊戲點數卡</a>
                            <a href="#">遙控智能</a>
                            <a href="#" class="menu-sub-expand-more">more</a>
                        </li>
                        <li>
                            <a href="#">最佳觀賞距離</a>
                            <a href="#">找到好價格</a>
                            <a href="#">尺寸分類</a>
                        </li>
                        <% 7.times do %>  
                            <li>
                                <a href="#">新物、超值專區</a>
                                <a href="#">館長推薦</a>
                                <a href="#">Nintendo專區</a>
                                <a href="#">SONY PS4專區</a>
                                <a href="#">XBOX ONE專區</a>
                                <a href="#">遊戲點數卡</a>
                                <a href="#">遙控智能</a>
                                <a href="#" class="menu-sub-expand-more">more</a>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </li>
            <li><h3><a href="catelist.html">電視.音響.遊戲</a></h3></li>
            <li><h3><a href="catelist.html">主機.螢幕.零組件</a></h3></li>
            <li><h3><a href="catelist.html">電腦週邊.辦公設備</a></h3></li>
            <li><h3><a href="catelist.html">行動通訊.穿戴裝置</a></h3></li>
            <li><h3><a href="catelist.html">休閒.攝影.車用</a></h3></li>
            <li><h3><a href="catelist.html">筆記型電腦.APPLE</a></h3></li>
            <li><h3><a href="catelist.html">大型家電.季節專區</a></h3></li>
            <li><h3><a href="catelist.html">廚房.生活家電</a></h3></li>
            <li><h3><a href="catelist.html">主題旗艦館</a></h3></li>
            <li><h3><a href="catelist.html">福利品清倉</a></h3></li>
        </ul>           
    </nav>
</div>