<div class="tag-cloud">
    <% 6.times do %>
    <a href="#" class="greyLV<%= rand(1..2) %>"><span>年菜</span></a>
    <a href="#" class="blueLV<%= rand(1..2) %>"><span>iphone</span></a>
    <a href="#" class="greyLV<%= rand(1..2) %>"><span>鳳梨酥</span></a>
    <a href="#" class="blueLV<%= rand(1..2) %>"><span>4k電視</span></a>
    <a href="#" class="greyLV<%= rand(1..2) %>"><span>洗髮精</span></a>
    <a href="#" class="blueLV<%= rand(1..2) %>"><span>素顏霜</span></a>
    <a href="#" class="greyLV<%= rand(1..2) %>"><span>耳機</span></a>
    <a href="#" class="blueLV<%= rand(1..2) %>"><span>鍵盤</span></a>
    <% end %>
</div>