<div class="site-topbar">
	<div class="container">
		<ul class="nav-other">
			<li><a href="https://vendor-tw1.uitox.com/login" target="_blank">供應商入口</a></li>
			<li><a href="https://vendor-tw1.uitox.com/vendor_register/index/AW000001" target="_blank">加入成為供應商</a></li>
			<li class="grey"><a href="supplier.html" target="_blank">[供應商官網列表]</a></li>
		</ul> 
		<ul class="nav-user">
			<li><a href="asap_login_register/login.html">登入</a></li>
			<li><a href="follow.html">最愛商品</a></li>
		</ul>
		<div class="entry">
			<span>建議使用Chrome、Safari、Firefox新版瀏覽器</span>
			<a href="https://www.uitox.com/c/web/uitox/index.html">[官網開店入口]</a>
			<a href="item_per.html" class="top_item_per"><img src="img/top_per_icon.svg" alt=""/><span>個人賣場入口</span></a>
		</div>
	</div>
</div>