<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="icon" href="img/baichain.ico"/>
    <link href='css/catelist.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "topbar" %>
		<%= render :partial => "header" %>
		<div class="sub-head">
			<div class="container">
				<%= render :partial => "menu" %>
				<%= render :partial => "tagcloud" %>
			</div>
		</div>
		<!-- 各品牌分類 -->
		<div class="site-main" role="main">
			<div class="container">
				<div class="items">
					<% 15.times do %>
					<div href="#" class="item">
						<p class="photo">
							<img src="img/sample/item_0<%= rand(1..9) %>.jpg" alt="商品名稱" title="商品名稱"/>
						</p>
						<div class="info">
							<h3 class="name">商品名稱商品名稱商品</h3>
							<div class="oth-info">
								<div class="price">999,999</div>
								<a href="#" class="i-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a> 
								<a href="#" class="i-fav"><i class="fa fa-heart-o" aria-hidden="true"></i></a> 
							<!-- 實心愛心 <a href="#" class="i-fav"><i class="fa fa-heart" aria-hidden="true"></i></a> -->
							</div>
						</div>
					</div>
					<% end %>
				</div>
				<div class="loader">
					<button type="button" class="btn-load">加載更多商品<i class="fa fa-refresh" aria-hidden="true"></i></button>
				</div>
			</div>
			<!-- 相關商品 -->
			<div class="pc-item-related">
				<div class="related-title">推薦給您：</div>
				<div class="items">
					<% 9.times do %>  
					<a href="item.html" class="item">
						<p class="photo">
							<span class="float"></span>
							<img src="img/sample/item_0<%= rand(1..20) %>.jpg" alt="商品名稱" title="商品名稱" itemprop="image"/>
						</p>
						<div class="info">
							<h3 class="name" itemprop="name">商品名稱商品名稱商品商品名稱商品名稱商品</h3>
							<div class="price" itemprop="price">999,999</div>
						</div>
					</a>
					<% end %>
				</div>
			</div>
		</div>
			
		<%= render :partial => "indexfoot" %>
		<script src="js/3rd-party/jquery-1.9.1.min.js"></script>
		<script src="js/3rd-party/swiper.min.js"></script>
		<script src='js/catelist.js'></script>
	</div>
</body>  
</html>
	