<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="icon" href="img/baichain.ico"/>
    <link href='css/index.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "topbar" %>
		<%= render :partial => "header" %>
		<div class="sub-head">
			<div class="container">
				<%= render :partial => "menu" %>
				<%= render :partial => "tagcloud" %>
			</div>
		</div>
<!-- 各品牌分類 -->

    <div class="site-main clearfix" role="main">
		<div class="container">
			<div class="cupn single">
				<div class="cupn_block">
					<a href="item.html" class="cupn_bg">
						<div class="expired">
							<img src="img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
							<div class="fog"></div>
							<div class="expired_bg"><span>已過期</span></div>
						</div>
						<div class="cupn_info">
							<div class="cupn_num">禮券編號:AB1234567890</div>
							<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
							<div class="cupn_dur">01/06 今日對品禮券</span></div>
							<div class="cupn_price"><span class="title">限時特價</span><p class="price"> 99,900</p></div>
							<div class="cupn_share"><img src="img/share1.svg" alt=""><img src="img/share2.svg" alt=""></div>
						</div>
					</a>
				</div>
				<% 20.times do %>  
				<div class="cupn_block">
					<a href="item.html" class="cupn_bg">
						<img src="img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
						<div class="cupn_info">
							<div class="cupn_num">禮券編號:AB1234567890</div>
							<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
							<div class="cupn_dur">01/06 今日對品禮券</span></div>
							<div class="nor"><span class="title">原價</span><p class="del">199,900</p></div>
							<div class="cupn_price"><span class="title">限時特價</span><p class="price"> 99,900</p></div>
							<div class="cupn_share"><img src="img/share1.svg" alt=""><img src="img/share2.svg" alt=""></div>
						</div>
					</a>
				</div>
				<% end %>
			</div>
		</div>
	</div>
        
    <%= render :partial => "indexfoot" %>
	<script src="js/3rd-party/jquery-1.9.1.min.js"></script>
	<script src="js/3rd-party/masonry.pkgd.min.js"></script>
	<script src="js/3rd-party/imagesloaded.pkgd.min.js"></script>
	<script src="js/3rd-party/swiper.min.js"></script>
    <script src='js/index.js'></script>
	</div>
</body>  
</html>
	