<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="icon" href="img/baichain.ico"/>
    <link href='css/edm.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<header class="site-header bg_black">
			<div class="container">
				<div class="main-head">
					<div class="container">
						<a href="index.html" class="logo">
							<img src="img/asap40w.png" alt="白昌"/>
							<h1 itemprop="name">白昌</h1>
						</a>
						<ul class="head-func">
							<li><a href="#" class="my-account"><img src="img/icon_account_w.png" alt="我的"><span>我的</span></a></li>
							<li><a href="cart/orderlist.html" class="cart"><img src="img/icon_cart_w.png" alt="購物車"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
<!-- 各品牌分類 -->

    <div class="site-main clearfix" role="main">
		<div class="container">
			<!-- 專屬品 -->	
			<div class="personal">
				<div class="personal_info">
					<div class="personal_limit">
						<p>個人專屬商品</p>
					</div>
					<h2 class="name">SONY 索尼 A9F MASTER系列 OLED $K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h2>
					<div class="personal_buy">
						<p class="dur"><span>我的專屬特價期間：</span><br/>5/20 14:00 ~ 5/22 14:00</p>
						<div class="per_price">
							<div class="nor"><span class="title">原價</span><p class="del">199,900</p></div>
							<div class="pay_dis"><span class="title">限時特價</span><p class="price">195,900</p><button class="button large btn-imd" onclick='location.href="item.html"'>立即購買</button></div>
						</div>
					</div>
				</div>
				<img src="img/sample/item_019.jpg" class="per_img" alt="商品名稱" title="商品名稱"/>
			</div>

			<div class="cupn">
				<div class="cupn_slide swiper-container">
					<div class="swiper-wrapper">
						<% 10.times do %>  
						<div class="swiper-slide">
							<a href="#" class="cupn_bg">
								<img src="img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
								<div class="cupn_info">
									<div class="cupn_num">禮券編號:AB1234567890</div>
									<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
									<div class="cupn_dur">對品禮券&nbsp;期間：<br/><span>5/20 14:00 ~ 5/22 14:00</span></div>
									<div class="cupn_price"><span class="title">限時特價</span><p class="price"> 99,900</p></div>
								</div>
							</a>
						</div>
						<% end %>
					</div>
				</div>
				<i class="fa fa-angle-right cupn-next-black" aria-hidden="true"></i>
			</div>

			<div class="item_t">以下為您挑選可能需要的商品：</div>
			<div class="items">
				<% 30.times do %>  
				<a href="item.html" class="item">
					<p class="photo">
						<span class="float">
							<i class="fa fa-eye" aria-hidden="true"></i>
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</span>
						<img src="img/sample/item_0<%= rand(1..20) %>.jpg" alt="商品名稱" title="商品名稱"/>
					</p>
					<div class="info">
						<h3 class="name" itemprop="name">商品名稱商品名稱商品商品名稱商品名稱商品</h3>
						<div class="price" itemprop="price">999,999</div>
					</div>
				</a>
				<% end %>
				
			</div>
			<div class="loader">
				<button type="button" class="btn-load">加載更多商品<i class="fa fa-refresh" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
        
    <%= render :partial => "indexfoot" %>
	<script src="js/3rd-party/jquery-1.9.1.min.js"></script>
	<script src="js/3rd-party/masonry.pkgd.min.js"></script>
	<script src="js/3rd-party/imagesloaded.pkgd.min.js"></script>
	<script src="js/3rd-party/swiper.min.js"></script>
    <script src='js/index.js'></script>
	</div>
</body>  
</html>
	