<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>ASAP 4.0</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="icon" href="img/baichain.ico"/>
    <link href='css/follow.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "topbar" %>
		<%= render :partial => "header" %>
		<div class="sub-head">
			<div class="container">
				<%= render :partial => "menu" %>
				<%= render :partial => "tagcloud" %>
			</div>
		</div>
		<div class="item-list-follow">
			<div class="container">        
				<div class="follow-list-block">  
					<div class="follow-list">    

						<div class="follow-list-content">
							<div class="follow-date">2019-09-19</div>
							<div class="follow-photo"><a href="item.html"><img src="img/sample/item_019.jpg"></a></div>
							<h3 class="follow-name"><a href="item.html">500G 主機 + NBA 2K15 + 耳麥+ 保固卡 加送 果凍套 + 保護貼</a></h3>
							<div class="follow-price">$19,900,000</div>
							<div class="follow-status"><button class="button small btn-cart">加入購物車</button></div>               
							<div class="follow-notice-date"></div>
							<div class="follow-delete"></div>
						</div>

						<div class="follow-list-content">
							<div class="follow-date">2019-09-19</div>
							<div class="follow-photo"><a href="item.html"><img src="img/sample/item_018.jpg"></a></div>
							<h3 class="follow-name"><a href="item.html">雙面羔羊絨連帽外套/連帽大衣 - 雙面款-F</a></h3>                        
							<div class="follow-price">$19,900,000</div>
							<div class="follow-status"><button class="button small btn-notify">貨到通知</button></div>
							<div class="follow-notice-date"><span>最新通知</span><span>2019-09-01</span></div>        
							<div class="follow-delete"></div>
							                          
						</div>

						<div class="follow-list-content">
							<div class="follow-date">2019-09-19</div>
							<div class="follow-photo"><a href="item.html"><img src="img/sample/item_019.jpg"></a></div>
							<h3 class="follow-name"><a href="item.html">雙面羔羊絨連帽外套/連帽大衣 - 雙面款-F</a></h3>                        
							
							<div class="follow-price">$19,900,000</div>
							<div class="follow-status"><button class="button small btn-lack">補貨中</button></div>    
							<div class="follow-notice-date"><span>最新通知</span><span>2019-09-01</span></div>                    
							<div class="follow-delete"></div>
						                            
						</div>

						<div class="follow-list-content">
							<div class="follow-date">2019-09-19</div>
							<div class="follow-photo"><a href="item.html"><img src="img/sample/item_019.jpg"></a></div>
							<h3 class="follow-name"><a href="item.html">雙面羔羊絨連帽外套/連帽大衣 - 雙面款-F</a></h3>                        
							<div class="follow-price">$19,900,000</div>
							<div class="follow-status"><button class="button small btn-notsale">尚未開賣</button></div>
							<div class="follow-notice-date"><span>最新通知</span><span>2019-09-01</span></div>                
							<div class="follow-delete"></div>
						                        
						</div>

						<div class="follow-list-content none-item">
							目前無追蹤任何商品
						</div>
					</div>
				</div>

				<div class="follow-list-info">
					追蹤清單使用說明：
					<ul>
						<li>商品售價以網站即時標示為準。</li>
						<li>「貨到通知我」商品將在貨到後通知您，商品數量有限請盡速訂購。</li>
						<li>購物車商品以您加入清單日期算起，三個月後自動刪除，刪除追蹤商品後將不再發送通知。</li>
					</ul>                      
				</div>                           

			</div>
		</div>
    
		<%= render :partial => "indexfoot" %>
		<script src="js/3rd-party/jquery-1.9.1.min.js"></script>
		<script src="js/3rd-party/masonry.pkgd.min.js"></script>
		<script src="js/3rd-party/imagesloaded.pkgd.min.js"></script>
		<script src="js/3rd-party/swiper.min.js"></script>
		<script src='js/index.js'></script>
	</div>
</body>  
</html>
	