<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="icon" href="img/baichain.ico"/>
    <link href='css/index.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "topbar" %>
		<%= render :partial => "header" %>
		<div class="sub-head">
			<div class="container">
				<%= render :partial => "menu" %>
				<%= render :partial => "tagcloud" %>
			</div>
		</div>
<!-- 各品牌分類 -->

    <div class="site-main clearfix" role="main">
		<div class="container">
			<!-- 熱品推薦 -->
			<div class="per">
				<div class="per_info test hot">
					<a href="item.html" class="per_l">
						<div class="per_dur">
							<div class="per_t">熱品推薦：</div>
							<img src="img/sample/item_019.jpg" class="per_img" alt="商品名稱" title="商品名稱"/>
						</div>
						<div class="per_buy">
							<h2 class="name">SONY 索尼 A9FMASTER系列OLED $K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h2>
							<div class="per_price">
								<div class="pay_dis"><span class="title">網路價</span><p class="price"> 195,900</p><button class="button large btn-imd">立即購買</button></div>
							</div>
						</div>
					</a>
					<div class="per_r swiper-container">
						<div class="swiper-wrapper">
							<% 10.times do %>  
							<a href="item.html" class="swiper-slide">
								<img src="img/sample/item_04.jpg" alt="商品名稱" title="商品名稱"/>
								<div class="per_r_info">
									<h3 class="name">Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製</h3>
									<div class="per_price"><span class="title">售價</span><p class="price"> 99,900</p></div>
								</div>
							</a>
							<% end %>
						</div>
					</div>
					<i class="fa fa-angle-left per-prev-black" aria-hidden="true"></i>
					<i class="fa fa-angle-right per-next-black" aria-hidden="true"></i>
				</div>
			</div>
			<div class="ad_banner">
				<img src="img/1200x100_ad01.jpg" alt="廣告圖"/>
			</div>
			<!-- 專屬品 -->
			<div class="per">
				<div class="per_info test">
					<a href="item.html" class="per_l">
						<div class="per_dur">
							<div class="per_t">推薦給您：</div>
							<img src="img/sample/item_019.jpg" class="per_img" alt="商品名稱" title="商品名稱"/>
						</div>
						<div class="per_buy">
							<h2 class="name">SONY 索尼 A9FMASTER系列OLED $K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h2>
							<div class="per_price">
								<div class="pay_dis"><span class="title">網路價</span><p class="price"> 195,900</p><button class="button large btn-imd">立即購買</button></div>
							</div>
						</div>
					</a>
					<div class="per_r swiper-container">
						<div class="swiper-wrapper">
							<% 10.times do %>  
							<a href="item.html" class="swiper-slide">
								<img src="img/sample/item_04.jpg" alt="商品名稱" title="商品名稱"/>
								<div class="per_r_info">
									<h3 class="name">Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製</h3>
									<div class="per_price"><span class="title">售價</span><p class="price"> 99,900</p></div>
								</div>
							</a>
							<% end %>
						</div>
					</div>
					<i class="fa fa-angle-left per-prev-black" aria-hidden="true"></i>
					<i class="fa fa-angle-right per-next-black" aria-hidden="true"></i>
				</div>
			</div>

			<div class="per"> 
				<div class="per_info">
					<a href="item.html" class="per_l">
						<div class="per_dur">
							<div class="per_t">01/06&nbsp;今日個人專屬特價：</div>
							<img src="img/sample/item_019.jpg" class="per_img" alt="商品名稱" title="商品名稱"/>
						</div>
						<div class="per_buy">
							<h2 class="name">SONY 索尼 A9F MASTER系列 OLED $K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h2>
							<!--<p class="dur"><span>我的特價期間：</span><br/>5/20 14:00 ~ <br/>5/22 14:00止</p>-->
							<div class="per_price">
								<div class="nor"><span class="title">原價</span><p class="del">199,900</p></div>
								<div class="pay_dis"><span class="title">限時特價</span><p class="price"> 195,900</p><button class="button large btn-imd">立即購買</button></div>
							</div>
						</div>
					</a>
					<div class="per_r swiper-container">
						<div class="swiper-wrapper">
							<% 10.times do %>  
							<a href="item.html" class="swiper-slide">
								<img src="img/sample/item_04.jpg" alt="商品名稱" title="商品名稱"/>
								<div class="per_r_info">
									<h3 class="name">Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製</h3>
									<div class="per_price"><span class="title">售價</span><p class="price"> 99,900</p></div>
								</div>
							</a>
							<% end %>
						</div>
					</div>
					<i class="fa fa-angle-left per-prev-black" aria-hidden="true"></i>
					<i class="fa fa-angle-right per-next-black" aria-hidden="true"></i>
				</div>
			</div>
			<div class="cupn">
				<div class="cupn_slide swiper-container">
					<div class="swiper-wrapper">
						<% 5.times do %>  
						<div class="swiper-slide">
							<a href="#" class="cupn_bg">
								<img src="img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
								<div class="cupn_info">
									<div class="cupn_num">禮券編號:AB1234567890</div>
									<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
									<div class="cupn_dur">01/06 今日對品禮券</span></div>
									<div class="nor"><span class="title">原價</span><p class="del">199,900</p></div>
									<div class="cupn_price"><span class="title">限時特價</span><p class="price"> 99,900</p></div>
									<div class="cupn_share"><img src="img/share1.svg" alt=""><img src="img/share2.svg" alt=""></div>
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="cupn_bg test">
								<img src="img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
								<div class="cupn_info">
									<div class="cupn_num">推薦給您：</div>
									<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
									<div class="cupn_price"><span class="title">網路價</span><p class="price"> 99,900</p></div>
								</div>
							</a>
						</div>
						<% end %>
					</div>
				</div>
				<i class="fa fa-angle-right cupn-next-black" aria-hidden="true"></i>
			</div>

			<div class="items">
				<% 30.times do %>  
				<a href="item.html" class="item">
					<p class="photo">
						<span class="float">
							<i class="fa fa-eye" aria-hidden="true"></i>
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</span>
						<img src="img/sample/item_0<%= rand(1..20) %>.jpg" alt="商品名稱" title="商品名稱"/>
					</p>
					<div class="info">
						<h3 class="name" itemprop="name">商品名稱商品名稱商品商品名稱商品名稱商品</h3>
						<div class="price" itemprop="price">999,999</div>
					</div>
				</a>
				<% end %>
				
			</div>
			<!--<div class="loader">
				<button type="button" class="btn-load">加載更多商品<i class="fa fa-refresh" aria-hidden="true"></i></button>
			</div>-->
		</div>
	</div>
        
    <%= render :partial => "indexfoot" %>
	<script src="js/3rd-party/jquery-1.9.1.min.js"></script>
	<!--<script src="js/3rd-party/masonry.pkgd.min.js"></script>
	<script src="js/3rd-party/imagesloaded.pkgd.min.js"></script>-->
	<script src="js/3rd-party/swiper.min.js"></script>
    <script src='js/index.js'></script>
	</div>
</body>  
</html>
	