<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="icon" href="img/baichain.ico"/>
    <link href='css/item.css' rel='stylesheet'/>
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Product",
			"name": "送無線充電版多選一+Targus Newport 15吋拉繩後背包-時尚黑 iPhone XR 紅色(PRODUCT)",
			"description": "擁有 iPhone 歷來最持久的電池續航力 最快的效能表現、防潑抗水能力 媲美攝影棚等級的照片與 4K 影片 #iphone #iphoneXR",
			"url": "https://baichian.com.tw/item.html",
			"image": "img/sample/XRred.jpg",
			"offers": {
				"@type": "AggregateOffer",
				"lowPrice": "195.000",
				"highPrice": "199.000",
				"priceCurrency": "TWD",
				"seller": {
					"@context": "http://schema.org",
					"@type": "Organization",
					"name": "APPLE",
					"url": "https://www.apple.com/tw",
					"image": ""
				},
				"availability": "http://schema.org/InStock"
			},
		}
	</script>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "topbar" %>
		<%= render :partial => "header" %>
		<div class="sub-head">
			<div class="container">
				<%= render :partial => "menu" %>
			</div>
		</div>

<!-- 各品牌分類 -->
    <div class="site-main" role="main">
		<div class="pc-item-main">
			<div class="container">
				<div class="item_frame">
					<div class="item_full clearfix">
						<div class="item-main-left">
							<div class="swiper-container gallery-top">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img src="img/sample/XRred.jpg" alt="" class="photo-main"></div>
									<div class="swiper-slide"><img src="img/sample/XRorange.jpg" alt="" class="photo-main"> </div>
									<div class="swiper-slide"><img src="img/sample/XRblack.jpg" alt="" class="photo-main"> </div>
									<div class="swiper-slide"><img src="img/sample/XRblue.jpg" alt="" class="photo-main"> </div>
									<div class="swiper-slide"><img src="img/sample/XRwhite.jpg" alt="" class="photo-main"> </div>
									<div class="swiper-slide"><img src="img/sample/XRyellow.jpg" alt="" class="photo-main"> </div>
								</div>
							</div>
							<div class="swiper-thumbs item_line">
								<div class="swiper-container gallery-thumbs">
									<div class="swiper-wrapper">
											<div class="swiper-slide"><img src="img/sample/XRred.jpg" alt="紅色"></div>
											<div class="swiper-slide"><img src="img/sample/XRorange.jpg" alt="橘色"></div>
											<div class="swiper-slide"><img src="img/sample/XRblack.jpg" alt="黑色"></div>
											<div class="swiper-slide"><img src="img/sample/XRblue.jpg" alt="藍色"></div>
											<div class="swiper-slide"><img src="img/sample/XRwhite.jpg" alt="白色"></div>
											<div class="swiper-slide"><img src="img/sample/XRyellow.jpg" alt="黃色"></div>
									</div>
								</div>
								<i class="fa fa-angle-left nextBtn" aria-hidden="true"></i>
								<i class="fa fa-angle-right prevBtn" aria-hidden="true"></i>
							</div>
			<!-- 活動 -->	
							<!-- 	<div class="act_bulletin">
								<ul>
									<li>
										<span class="act_tag">活動</span>
										<span class="act_des">全場加碼五折起，領折價券，滿額再送$1111</span>
									</li>
									<li>
										<span class="act_tag">活動</span>
										<span class="act_des"><small class="cole00">(二選一)</small>滿5000登記送WMF單柄湯鍋; 滿10000登記送HAPPYCALL IH 微晶爐<a href="#">前往登記</a></span>
									</li>
								</ul>
							</div>-->	
						</div>

						<div class="info">
							<div class="comtag">燦坤線上購物</div>
			<!-- 商品名稱 -->	
							<h1 class="name">送無線充電版多選一+Targus Newport 15吋拉繩後背包-時尚黑 iPhone XR 紅色(PRODUCT)</h1>
			<!-- 留言、購買狀態 -->				
							<div class="buyer_st"><p>99999人已購買</p><p>333則留言</p><p><i class="fa fa-heart" aria-hidden="true"></i>933</p></div>
			<!-- 售價 -->
							<div class="payinfo">
								<div class="item_line">
									<div class="pay_dis"><span class="title">網路價</span><span class="price"><small>$</small>195,000</span></div> 
									<div class="sale_time"><span class="colfe0">1天13小時25分11秒 </span><span class="colwhite">特賣結束</span></div>
									<button class="button large btn-fav"><i class="fa fa-heart" aria-hidden="true"></i>已追蹤</button>
								</div>
								<div class="item_line">
									<div class="coupon">最高可折 <span class="cole00">11111</span>購物金<a href="#">(說明)</a></div> 
									<a href="../popup/site_fancybox_all.html #login_box" class="fancybox coupon_search">查詢可使用的折價券<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
									<div class="coupon">活動中 </div> 
								</div>
							</div>
			<!-- 簡介 -->
							<div class="feature">
								<ul class="feature_list">
									<li>擁有 iPhone 歷來最持久的電池續航力</li>
									<li>最快的效能表現、防潑抗水能力</li>
									<li>媲美攝影棚等級的照片與 4K 影片</li>
								</ul>
							</div>
			<!--分期 -->
							<div class="stag item_line">
								<span class="title">分期</span>
								<span class="cole00">6</span>期<span class="cole00">0</span>利率&nbsp;每期<span class="cole00">32,500</span>元起
								<a href="#" class="">更多分期選項<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
							</div>
			<!--配送方式 -->  
							<div class="send item_line">
								<span class="title">配送</span>
								<ul class="value">
									<li class="active">門市配送<i class="fa fa-check"></i></li>
									<li class="">宅配</li>
								</ul>
							</div>
			<!--規格 -->  
							<div class="colorsize item_line">
								<span class="title">顏色(尺寸)</span>
								<ul class="value">
									<li class="active" data-href="0">紅色<i class="fa fa-check"></i></li>
									<li class="" data-href="1">橘色</li>
									<li class="" data-href="2">黑色</li>
									<li class="" data-href="3">藍色</li>
									<li class="disabled" data-href="4">白色</li>
									<li class="" data-href="5">黃色</li>
								</ul>
							</div>
			<!--規格 -->  
							<div class="count item_line">
								<span class="title">數量</span>
								<div class="quantity-add">
									<div class="quantity">
										<span class="quantity-decrease"><i class="fa fa-minus" aria-hidden="true"></i></span>      
										<input type="text" class="quantity-input" value="1" max="99" title="請輸入購買量">                            
										<span class="quantity-increase"><i class="fa fa-plus" aria-hidden="true"></i></span>
									</div>
								</div>
							</div>
			<!-- 贈品區 -->
							<div class="gift_chk_area">
								<dl class="add_list">
									<dt class="title">
										<div class="l_title"><i class="fa fa-star" aria-hidden="true">&nbsp;贈品區&nbsp;</i>目前<span class="cole00">已選購2件，還差1件尚未符合結帳條件</span></div>
										<div class="r_title"><span class="cole00">2/3</span></div>
									</dt>
									<% for i in 1..2 do %>
									<dd>
										<div class="add_chk_block">
											<input type="checkbox" id="gift_chk_00<%= i %>" class="add_chk"/>
											<label for="gift_chk_00<%= i %>" class="add_label"></label>
											<span>全家商品卡100元+好收納不鏽鋼刀剪組+100週年紀念公仔</span>
										</div>
										<select name="" id="">
											<option value="1">紅色24cm(3.6L)</option>
											<option value="2">藍色24cm(3.6L)</option>
										</select>
									</dd>
									<% end %>
								</dl>
							</div>
			<!-- 加購區 -->
							<div class="add_chk_area">
								<dl class="add_list">
									<dt class="title">
										<div class="l_title"><i class="fa fa-star" aria-hidden="true">&nbsp;加購區&nbsp;</i></div>
										<div class="r_title"><span class="cole00">$99,999</span></div>
									</dt>
									<% for i in 1..3 do %>
									<dd>
										<div class="add_chk_block">
											<input type="checkbox" id="add_chk_00<%= i %>" class="add_chk"/>
											<label for="add_chk_00<%= i %>" class="add_label"></label>
											<span>全家商品卡100元+好收納不鏽鋼刀剪組+100週年紀念公仔</span>
										</div>
									</dd>
									<% end %>
									<dd><a href="#" class="more">看更多<i class="fa fa-chevron-down" aria-hidden="true"></i></a></dd>
								</dl>
							</div>

							<div class="shop_btn_block item_line">
								<div class="shop_btn">
									<button class="button large btn-imd">立即結帳</button>
									<button class="button large btn-cart">加入購物車</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 加購 -->
		<div class="pc-item-add add_view">
			<div class="container">
				<h3 class="title-h3">加價購專區</h3>
				<div class="items">
					<% for i in 1..7 do %>
					<figure itemscope itemtype="http://data-vocabulary.org/Product" class="item add_chk_00<%= i %>">
						<input type="checkbox" id="add_00<%= i %>"/>
						<label for="add_00<%= i %>"></label>
						<div class="photo">
							<img src="img/sample/item_0<%= rand(1..20) %>.jpg" title="商品圖" alt="【PUFII】秋季熱銷品 自訂款素面修身襯衫" itemprop="image"/>
						</div>
						<figcaption class="info">
							<h1 itemprop="name" class="name">全家商品卡100元+好收納不鏽鋼刀剪組+100週年紀念公仔</h1>
							<span class="price"><small>$</small>195,000</span>
						<div class="buy"><button class="button large btn-notselect" itemprop="offerurl" >加入選購</button></div>
						</figcaption>
					</figure>
					<% end %>
				</div>
			</div>
		</div>
		<!-- AB區 加上class=blue
		<div class="pc-item-add ab_view blue">
			<div class="container">
				<h3 class="title-h3">A區<span>熱銷補貨到小家電任選四入</span></h3>
				<div class="items">
					<% for i in 1..5 do %>
					<figure itemscope itemtype="http://data-vocabulary.org/Product" class="item add_chk_00<%= i %>">
						<input type="checkbox" id="add_00<%= i %>"/>
						<label for="add_00<%= i %>"></label>    
						<div class="photo">
							<img src="img//sample/item_0<%= i %>.jpg" title="商品圖" alt="【PUFII】秋季熱銷品 自訂款素面修身襯衫" itemprop="image"/>
						</div>
						<figcaption class="info">
							<h1 itemprop="name" class="name">全家商品卡100元+好收納不鏽鋼刀剪組+100週年紀念公仔</h1>
							<span class="price"><small>$</small>195,000</span>
						<div class="buy"><button class="button large btn-notselect" itemprop="offerurl" >加入選購</button></div>
						</figcaption>
					</figure>
					<% end %>
					<a href="#" class="more">看更多<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>-->
		<!-- 商品說明 -->
		<div class="pc-item-detail">
			<div class="container">
				<div class="item-detail-tabs">
					<ul>
						<li class="tab-1 active" data-tab="tab-content-1">商品資訊</li>
						<li class="tab-3" data-tab="tab-content-3">退換貨說明</li>
					</ul>                
				</div>
				<div class="items tab-content-1 active">
					<div class="pic_txt">
						<div class="pic_txt_col wysiwyg-text-align-center">
							<img  class="wysiwyg-text-align-center" src="img/sample/itemdetail.jpg" alt="商品說明圖" style="margin:0 auto;"/>
						</div>
					</div>
				</div>
				<div class="items tab-content-3">
					tab-content-3
				</div>
			</div>
		</div>
		<!-- 相關商品 -->
		<div class="pc-item-related">
			<div class="related-title">推薦給您：</div>
			<div class="items">
				<% 10.times do %>  
				<a href="item.html" class="item">
					<p class="photo">
						<span class="float"></span>
						<img src="img/sample/item_0<%= rand(1..20) %>.jpg" alt="商品名稱" title="商品名稱" itemprop="image"/>
					</p>
					<div class="info">
						<h3 class="name" itemprop="name">商品名稱商品名稱商品商品名稱商品名稱商品</h3>
						<div class="price" itemprop="price">999,999</div>
					</div>
				</a>
				<% end %>
			</div>
		</div>

		

	</div>
        
    <%= render :partial => "indexfoot" %>
	<script src="js/3rd-party/jquery-1.9.1.min.js"></script>
	<script src="js/3rd-party/masonry.pkgd.min.js"></script>	
	<script src="js/3rd-party/imagesloaded.pkgd.min.js"></script>
	<script src="js/3rd-party/swiper.min.js"></script>
	<script src="js/3rd-party/jquery.fancybox.pack.js"></script>

    <script src='js/item.js'></script>
</div>
</body>  
</html>
	