@import "compass/css3";
.site-main{
    width:1220px;
    margin:0 auto;
    position: relative;
}
.container{
    width: 1220px;
    margin:0 auto;
    @include clearfix;
}
:focus{
	outline:0;
}
//header_layout
.body_container{
    padding-top: 30px;
}
.site-topbar{
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 20px;
    position: fixed;
    top: 0;
    z-index: 99;
    @include clearfix;
    @include filter-gradient(white, #DAE0ED, vertical);
	@include background-image(linear-gradient(top, white 0%,#DAE0ED 100%));
	.container{
		position: relative;
	}
    ul{
        display: flex;
        flex-flow: row nowrap;
        li{
			color:#069;
            font-size: .8rem;
            padding: 3px 8px;
            a{
                color:#069;
            }
        }
    }
    .nav-other{
        float: left;
        margin-top: 2px;
		@include clearfix; 
		.grey{
			a{color:#555;}
		}
    }
    .nav-user{
        float: right;
        margin-top: 2px;
	}
	.entry{
		position: absolute;left:313px;top:1px;
		span,a{
			display: inline-block;
			vertical-align: middle;
			margin:0 10px 0 0;
			font-size:.8rem;
			color:#666;
		}
		.top_item_per{
			margin-left:103px;
			span{
				margin-left:2px;
				vertical-align: 2px;
			}
		}
	}
}

.site-header{
    position: relative;
    border-bottom: 1px solid #eee;
    background-color: #32435F;
	@include clearfix;
	&.bg_white{
		background:white;
		.main-head{
			background:white;
			.site-search{
				.input-search{
					border: 1px solid #ccc;
				}
			}
		}
	}
	//個人
    &.bg_profile{
		background:white;
		.main-head{
			background:white;
			padding: 8px 0 9px;
			.site-search{
				.input-search{
					border: 1px solid #ccc;
				}
			}
		}
	}
    //灰
    &.bg_555{
		background:#555;
		.main-head{
			background:#555;
		}
    }
    //藍
    &.bg_08c{
		background:#0080cc;
		.main-head{
			background:#0080cc;
		}
    }
    //粉
    &.bg_e90{
		background:#ee99b0;
		.main-head{
			background:#ee99b0;
		}
	}
	//黑
    &.bg_black{
		background:black;
		.main-head{
			background:black;
		}
	}
	&.bg_pic{
		background-color: white;
		background-repeat:no-repeat;
		background-position: center center;
		background-attachment: fixed;
		@include background-size(cover);
		.main-head{
			background:transparent;
			padding: 8px 0 9px;
		}
		.profile{
			h1{
				p{
					color:white;
				}
			}
		}
    }
	.profile{
		display: inline-block;
		vertical-align: middle;
		margin-right:42px;
		.prof_l, .prof_r{
			display: inline-block;
			vertical-align: middle;
		}
		img{
			width:97px;
			height:97px;
			border:3px solid white;
			@include border-radius(50%);
		}
		h1{
			display: block;
			margin-bottom:8px;
			color:black;
			font-size:1.1rem;
			line-height: 1.3;
			p{
				width:105px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		.prof_r{
			margin-left:10px;
			a{
				display: inline-block;
				margin-right:5px;
			}
			img{
				width:25px;height:25px;
				border:2px solid white;
				@include border-radius(50%);
			}
		}
	}
    .main-head{
		position: relative;
		padding:35px 0 ;
		font-size:0;
        .container{
            width: 100%;
        }
        .logo{
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 250px;
			height: 0;
			overflow: hidden;
			padding-top: 50px;
            margin: 0 0 0 10px;
            img{
                display: block;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				max-width: 200px;
				max-height: 100%;
            }
            h1{
                display: none;
            }
		}
		.avatar{
			display: inline-block;
			width: 176px;
            vertical-align: middle;
			margin: 0 10px;
			h1{
				position: relative;
				color: white;
				width: 100%;
				text-align: center;
				-webkit-box-sizing: content-box;
				box-sizing: content-box;
				border:2px solid #476798;
				border-width:2px 0 0 2px;
				@include border-radius(10px 10px 0 10px );
				.bar{
					height:32px;
					margin: 0;
					padding: 5px 10px;
					font-size: 1.5rem;
					line-height: 33px;
					letter-spacing: 1px;
					word-break: break-all;
					overflow: hidden;
					border: 2px solid #3d5375;
					background: #27374e;
					border-width:0 2px 2px 0;
					@include text-shadow(1px 1px 3px #000);
					@include border-radius(10px 0px 10px 0px);
				}
			}
		}
        .site-search{
            display: inline-block;
            position: relative;
            z-index: 3;
            .btn-submit{
                position: absolute;right:5px;top:50%;margin-top:-15px;
                background: none;
                border:none;
                outline: none;
                cursor: pointer;
                img{
                    display: inline-block;
                    padding-right:3px;
                    vertical-align: middle;
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                    color: #555;
                    font-size:.9rem;
                }
            }
            .input-search{
                border: 1px solid #fff;
                padding:5px 70px 5px 10px ;
                margin: 0;
                width: 410px;
                height: 50px;
                background: rgba(255,255,255,.7);
                color: #aaa;
                font-size:1rem;
				outline:none;
				-webkit-appearance: none;
				@include border-radius(8px);
                &:focus{
                    color: black;
                }
            }
            .icon-search{
                width:18px;height:18px;
                padding: 5px 0px;
                font-size:1rem;
                color: white;
                &:before{
                    background: none;
                    height: auto;
                    padding-top: 0;
                }
            }
        }
        .head-link,.head-func{
            display: inline-block;
            margin-left:117px;
            li{
                display: inline-block;
                vertical-align: middle;
            }
            a{
                display: block;
                padding:10px;
                font-size:1rem;
                color:white;
            }
		}
		.head-link{
			padding:7px 0;
			background: rgba(0,0,0,.25);
			@include border-radius(10px 0 0 10px);
		}
        .head-func{
			margin:0 0 0 -5px;
			background-color: black;
			@include border-radius(5px);
            a,img{
				display: block;
			}
			a{
				padding:8px;
			}
            .my-account{
				margin: 0 5px;
                img{
                    padding:2px 5px;
                }
                span{
                    display: block;
                    font-size:.8rem;
                }
            }
            .cart{
                position: relative;
                margin-top: 4px;
                &:after{
                    content:"\f00c";
                    display: block;
                    position: absolute;top:0;left:0;
                    font-size:.8rem;
                    font-family: 'FontAwesome';
                    padding:3px;
                    color:white;
                    background: #d00;
                    border:2px solid white;
                    @include border-radius(50%);
                }
            }
        }
	}
}


.pc_index_full_menu_left{
    float:left;
    position: relative;
    margin-bottom: 20px;
    z-index: 20;
	@include clearfix;
	.nav-menu{
		float: left;
		position: absolute;left:0;top:-1px;
		width: 200px;		
        background:rgba(0,0,0,.7);
        a{
            display: block;
        }
        i{
            position: absolute;top:24px;
			right:10px;
			margin-top:-9px;
            font-size:1.15rem;
            color: #000;
			cursor: pointer;
        }
	}
	.title{
		padding: 10px 10px 10px 13px;
		color: #333;
        font-size: 1.2rem;
        border:1px solid #bfc5d1;
        background: #eee;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
		letter-spacing: 4px;
		i{
			margin-top: 3px;
			float: right;
		}
	}
	.menu-one{
        display: none;
		>li{
			position:relative;
			border-bottom:1px solid #777;
			padding-left:13px;
			&:last-child{
				>h3>a{
					border-bottom: none;	
				}
			}
			&:hover{
				background:white;
				.menu-expand{
					display: block;
				}
				a{
					color:black;
				}
			}
			>h3>a{
				position: relative;
				display: block;
				padding: 10px 0px;
				margin: 0;
				color:white;
				font-size: 15px;
				line-height: 1.1;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-break: break-word;
				word-wrap: break-word;
				&:before{
					display: block;
					position: absolute;
					right:8px;
					font-weight:700;
					color:white;
					content: "\f105";
					font-family: FontAwesome;
				}
				&:hover:before{
					color:#333;
				}
				img{
					position:absolute;
					left:0;top:10px;
					width:18px;
					height:18px;
				}
			}
		}
	}
	.menu-expand{
		width:1020px;
		position: absolute;
		top: 0px;
		left: 100%;
		z-index: 5;
		font-size: 0;
		box-shadow:1px 0 5px #aaa;
		display: none;
		@include clearfix;
		.menu-sub-expand{
			position: relative;
			width:185px;
			display:inline-block;
			vertical-align: top;
			background: white;
			box-shadow: 0px 0px 5px #bbb;
			li{
				>a{
					display: block;
					width: 185px;
					padding: 11px 20px 10px;
					line-height: 1.1;
					color:#333;
					font-size:15px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:before{
						display: block;
						position: absolute;
						right:8px;
						font-weight:700;
						color:#333;
						content: "\f105";
						font-family: FontAwesome;
					}
				}
			}
		}
		.menu-sub-expand-blue{
			display:inline-block;
			width: 1020-185px;
			background:#e7f3ff;
			li{
				padding-left:5px;
				border-bottom:1px dotted #ccc;
				>a{
					display: inline-block;
					width:100px;
					padding: 11px 5px 10px;
					line-height: 1.2;
					color:#333;
					font-size:13px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					
					&.bold{
						font-weight:700;
						color:#06c;
						text-decoration: underline;
					}
				}
			}
			.menu-sub-expand-more{
				width:42px;	
				text-decoration: underline;
				color:#06c;
			}
		}
	}
}

// .tag-slide{
//     float:right;
//     width:977px;
//     margin:5px 0 0; 
//     padding:0 20px 0 0;
//     @include clearfix;
//     .swiper-slide{
//         width: auto !important;
//         a{
//             display:block;
//             white-space: nowrap;
//             text-align: center;
//             color:white;
//             padding:8px 10px;
//             @include border-radius(8px);
//         }
//         &:nth-child(odd) a{
//             background:#07b;
//         }
//         &:nth-child(even) a{
//             background:#aaa;
//         }
//     }
//     .fa-angle-left,.fa-angle-right {
//         position: absolute;
//         top: 50%;
//         left: 0;
//         padding: 15px 6px 15px 5px;
//         margin-top: -22px;
//         z-index: 10;
//         font-size: 1.2rem;
//         color: #333;
//         cursor: pointer;
//         opacity: 0.8;
//         border-radius: 5px;
//     }
//     .fa-angle-right{    
//         padding:15px 10px;
//         margin-top:-26px;
//         right:-10px;
//         left:auto;
//         font-size:1.5rem;
//         background: rgba($color: white, $alpha: .9);
//         @include border-radius(50%);
//     }
// }
.tag-cloud{
	float:right;
	width: 984px;height:45px;overflow: hidden;
	padding:0 0 0 8px;
	text-align: justify;
	line-height: 1.5;
	background-color: white;
	a{
		display: inline-block;
		padding:3px 5px 0;
		line-height: 1;
		// opacity: 0;
		// animation-name: tagcloud;
		// animation-timing-function:ease;
		// animation-duration: 2s;
		// -webkit-animation-fill-mode: forwards;
		&:hover{
			padding:3px 5px;
			color:white;
			background: #369;
			@include border-radius(5px);
			-moz-transition: background, .5s;
			-o-transition: background, .5s;
			-webkit-transition: background, .5s;
			transition: background, .5s;
			animation-duration: 1s;
		}
	}
	.greyLV1{
		color:#999;
		font-size:.8rem;
		animation-delay: 0.7s;
	}
	.greyLV2{
		color:#777;
		font-size:1rem;
		animation-delay: 0.5s;
		
	}
	.blueLV1{
		color:#50b9e4;
		font-size:.8rem;
		animation-delay: 0.7s;
	}
	.blueLV2{
		color:#369;
		font-size:1rem;
		animation-delay: 0.5s;
	}
}
//tagcloud 下雨動畫
// @keyframes hovercolor{
// 	0% {
// 		background: transparent;
// 	}
// 	100% {
// 		color:white;
// 		background: #369;
// 	}
// }
// @keyframes tagcloud {
//     0% {
//       transform: translateY(-50px);
//       opacity: 0;
//       -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
//       clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
//   }
//   100% {
//       transform: translateY(0);
//       opacity: 1;
//       -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
//       clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
//   }
// }

.copyright{
    padding-top: 30px;
    text-align: right;
    color:#888;
    font-size: 0.75em;
    word-break: break-word;
	word-wrap: break-word;
	.container{
		width:100%;
		background: #eee;
	}
	.foot_link{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		width: 1220px;
		margin:0 auto;
		padding:15px;
		
		a{
			color:#333;
			text-decoration: none;
			&.active{
				color:#06c;
			}
		}
	}
	small{
		display: block;
		padding:8px;
		color:white;
		background: black;
		text-align: center;
	}
    a{
        color:white;
        text-decoration: underline;
        margin-left: 10px;
    }
}  

// 公測說明
a.OB{
	position:absolute;top:-21px;left:265px;
	display:block;
	width:130px;padding:8px 0 8px 5px;
	text-align:center;
	color:#ff0;
	font-size:1.4rem;
	text-decoration:none;
	background: #d00;
	background: -moz-linear-gradient(top,  #d00 30%, #800 70%); 
	background: -webkit-linear-gradient(top,  #d00 30%,#800 70%); 
	background: linear-gradient(to bottom,  #d00 30%,#800 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00', endColorstr='#800',GradientType=0 );
	z-index:100;
}