<footer class="site-footer">
	<div class="container">
		<ul>
            <li class="footer-home"><a href="index.html"><img src="../img/baichian_m/f01_home.svg" class="img-coin"><span class="icon_txt">首頁</span></a></li>
            <li class="footer-best"><a href="coupon.html"><img src="../img/baichian_m/f02_coupon.svg" class="img-bird"><span class="icon_txt">折價券</span></a></li>
            <li class="footer-account"><a href="per.html" title="我的帳戶"><img src="../img/baichian_m/f03_vip.svg" class="img-account"><span class="icon_txt">專屬品</span></a></li>
            <li class="footer-notice"><a href="notice.php" title="查看購物車" class="cart"><img src="../img/baichian_m/f04_notice.svg" class="img-cart"><span class="number">999</span><span class="icon_txt">通知</span></a></li>
            <li class="footer-account"><a href="../asap_login_register/login.html" title="我的帳戶"><img src="../img/baichian_m/f05_account.svg" class="img-account"><span class="icon_txt">會員</span></a></li>
         </ul>   
        <div class="clearfix"></div>
    </div>
</footer>

<div class="chg_block">
	<div class="chg_btn">
		<p><i class="fa fa-sliders" aria-hidden="true"></i></p>
		<div class="chg_st">
            <a href="index.html">原始版本天</a>
            <a href="index_white.html">白色天</a>
            <a href="index_white_profile.html">白色天(網紅)</a>
            <a href="index_white_profile_bg.html">底圖天(網紅)</a>
		</div>
	</div>    
</div>

<style>
	.chg_block{
			position:fixed;right:0;top:40%;
			z-index:10;
	}
	.chg_btn{
		position:relative;
	}
	.chg_btn p{
		padding:10px 5px;
		font-size:.85rem;
		color:#333;
		background:#ffda34;
	}
	.chg_btn:hover .chg_st{
		display:flex;
	}
	.chg_st{    
		display:none;
		flex-flow:column wrap;
		position:absolute;right:0;top: 100%;
	}
	.chg_st a{
		display:block;
		width:77px;
		margin:2px;
		padding:10px;
		font-size:.85rem;
		color:#333;
		background-color:#eee;
		text-decoration:none;
		border-radius:8px;
		box-shadow: -1px 1px 5px #aaa;
	}
	.chg_st a:hover{
		color:#333;
		background:#ffda34;
	}
</style>