<header class="site-header" role="banner">
    <div class="container">
        <div class="head_con">
            <div class="head_l">
                <a href="#" class="btn-menu"><img src="../img/baichian_m/dept.svg"/></a>
                <a href="index.html" class="logo"><img src="../img/asap40w.png" alt="logo"/></a>
            </div>  
            <div class="head_r">
                <a href="#" class="search"><img src="../img/baichian_m/search.svg" alt="搜尋"/></a>
                <a href="../cart/orderlist.html" class="cart" title="查看購物車"><img src="../img/baichian_m/cart_white.svg" class="img-cart"/></a>
            </div>
            <!--<a href="../OBtest.html" class="OB">公測說明!</a> 
            <style>
                a.OB{
                    position:fixed;top:20px;right:102px;
                    display:block;
                    width:105px;padding:8px 0;
                    text-align:center;
                    color:#ff0;
                    font-size:1.2rem;
                    text-decoration:none;
                    background: #d00;
                    background: -moz-linear-gradient(top,  #d00 30%, #800 70%); 
                    background: -webkit-linear-gradient(top,  #d00 30%,#800 70%); 
                    background: linear-gradient(to bottom,  #d00 30%,#800 70%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00', endColorstr='#800',GradientType=0 );
                    z-index:12;
                }
                @media only screen and (max-width: 320px) {
                    a.OB{
                        width: auto;
                        top: 26px;right:89px;
                        padding: 5px 10px;
                        font-size: 1rem;
                    }
                }
            </style>-->
            <div class="site-search">
                <input type="text" class="input-search" autocomplete="off" placeholder="請輸入商品名稱"/>
                <button class="btn-cancel"><img src="../img/baichian_m/clear.svg" alt="search icon"/></button>
                <a href="#" class="search"><img src="../img/baichian_m/search_gray.svg" alt="搜尋"/></a>
            </div>
        </div>

        <nav class="md_nav_menu">
            <div class="container">
                <div class="left">
                    <div class="nav">
                        <ul>
                            <li class="click">全球</li>
                            <% 10.times do %>
                           <li>家電</li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <a class="enter_cate" href="#">進入XX館→</a>
                    <% 4.times do %>
                    <div class="items">
                        <h3 class="title"><span>品牌專區</span></h3>
                        <div class="cate_center">
                            <% 2.times do %>
                            <div class="item"><a href="catelist.html"><h4>索尼 SONY</h4></a></div>
                            <div class="item"><a href="catelist.html"><h4>國際牌 Panasonic</h4></a></div>
                             <div class="item"><a href="catelist.html"><h4>智慧電視盒</h4></a></div>
                            <% end %>
                        </div>
                    </div>
                    <% end %>

                </div>
          </div>
           
        </nav>
    </div>
</header>