<div class="chg_block">
	<div class="chg_btn">
		<p><i class="fa fa-sliders" aria-hidden="true"></i></p>
		<div class="chg_st">
			<a href="item.html">單品</a>
			<a href="item_AB.html">A+B</a>
			<a href="item_hide.html">隱藏商品</a>
			<a href="item_notsale.html">尚未開賣</a>
			<a href="item_soldout.html">售完補貨中</a>
			<a href="item_per.html">個人賣場</a>
		</div> 
	</div>    
</div>

<style>
	.chg_block{
			position:fixed;right:0;top:40%;
			z-index:10;
	}
	.chg_btn{
		position:relative;
	}
	.chg_btn p{
		padding:10px 5px;
		font-size:.85rem;
		color:#333;
		background:#ffda34;
	}
	.chg_btn:hover .chg_st{
		display:flex;
	}
	.chg_st{    
		display:none;
		flex-flow:column wrap;
		position:absolute;right:0;top: 100%;
	}
	.chg_st a{
		display:block;
		width:77px;
		margin:2px;
		padding:10px;
		font-size:.85rem;
		color:#333;
		background-color:#eee;
		text-decoration:none;
		border-radius:8px;
		box-shadow: -1px 1px 5px #aaa;
	}
	.chg_st a:hover{
		color:#333;
		background:#ffda34;
	}
</style>