<div class="tag-slide">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% 5.times do %> 
                <div class="swiper-slide"><a href="#"><span>年菜</span></a></div>
                <div class="swiper-slide"><a href="#"><span>iphone</span></a></div>
                <div class="swiper-slide"><a href="#"><span>鳳梨酥鳳梨酥鳳梨酥</span></a></div>
                <div class="swiper-slide"><a href="#"><span>4k電視</span></a></div>
            <% end %>
        </div>
        <i class="fa fa-angle-right icon-next" aria-hidden="true"></i>
    </div>
</div>