<div class="site-topbar">
	<div class="container">
		<ul class="nav-other">
			<li><a href="#">註冊</a></li>
			<li><a href="#">登入</a></li>
			<li><a href="#">通知</a></li>
			<li><a href="#">賣方登入</a></li>
		</ul> 
		<ul class="nav-user">
			<li><a href="#">最愛賣家</a></li>
			<li><a href="#">最愛商品</a></li>
			<li><a href="#">買過</a></li>
			<li><a href="#">看過</a></li>
			<li><a href="#">折價券</a></li>
			<li><a href="#">小平台</a></li>
		</ul>
	</div>
</div>