<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="../img/baichain.ico"/>
    <link href='../css/baichian_m/catelist.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body" role="main">
			<article class="site-main">
				<div class="md_index_hot">
                    <div class="container">
                        <div class="hot_body">
                            <ul class="hot_cont">
								<% 5.times do%>
                                <li>AirPods</li>
                                <li>音響</li>
                                <li>筆電</li>
                                <li>iPhone XS</li>
								<li>4k 電視</li>
								<li>咖啡機</li>
								<li>家庭劇院</li>
								<li>藍芽音響</li>
								<% end %>
                            </ul>
                        </div>
                    </div>
                </div>
				
				<div class="items">
					<% 15.times do %>
					<div href="#" class="item">
						<p class="photo">
							<a href="item.html"><img src="../img/sample/item_0<%= rand(1..9) %>.jpg" alt="商品名稱" title="商品名稱"/></a> 
						</p>
						<div class="info">
							<h3 class="name"><a href="item.html">商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品</a> </h3>
							<div class="oth-info">
								<div class="price">999,999</div>
								<div class="func">
									<a href="#" class="i-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a> 
									<!-- 實心愛心 <a href="#" class="i-fav"><i class="fa fa-heart" aria-hidden="true"></i></a> -->
									<a href="#" class="i-fav"><i class="fa fa-heart-o" aria-hidden="true"></i></a> 
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>

			</article>
		</div>
        
		<%= render :partial => "foot" %>
		<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
		<script src="../js/3rd-party/masonry.pkgd.min.js"></script>
		<script src="../js/3rd-party/imagesloaded.pkgd.min.js"></script>
		<script src="../js/3rd-party/swiper.min.js"></script>
		<script src='../js/baichian_m/index.js'></script>
	</div>
</body>  
</html>
	