<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="../img/baichain.ico"/>
    <link href='../css/baichian_m/coupon.css' rel='stylesheet'/>
	<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
	<script src="../js/3rd-party/swiper.min.js"></script>
	<script src="../js/3rd-party/jquery.fancybox.pack.js"></script>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body">
			<div class="site-main">
				<div class="container">
					<div class="cupn">
						<div class="cupn_block">
							<a href="item.html" class="cupn_bg">
								<div class="expired">
									<img src="../img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
									<div class="fog"></div>
									<div class="expired_bg"><span>已過期</span></div>
								</div>
								<div class="cupn_info">
									<div class="cupn_num">禮券編號:AB1234567890</div>
									<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
									<div class="cupn_dur">對品禮券&nbsp;期間：<br/><span>5/20 14:00 ~ 5/22 14:00</span></div>
									<div class="cupn_price"><span class="title">限時特價</span><p class="price"> 99,900</p></div>
								</div>
							</a>
						</div>
						<% 20.times do %>  
						<div class="cupn_block">
							<a href="item.html" class="cupn_bg">
								<img src="../img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
								<div class="cupn_info">
									<div class="cupn_num">禮券編號:AB1234567890</div>
									<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
									<div class="cupn_dur">對品禮券&nbsp;期間：<br/><span>5/20 14:00 ~ 5/22 14:00</span></div>
									<div class="cupn_price"><span class="title">限時特價</span><p class="price"> 99,900</p></div>
								</div>
							</a>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		
		</div>
       <%= render :partial => "foot" %>

		
		<script src='../js/baichian_m/item.js'></script>
	</div>
</body>  
</html>
	