<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="../img/baichain.ico"/>
    <link href='../css/baichian_m/error.css' rel='stylesheet'/>
	<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
	<script src="../js/3rd-party/swiper.min.js"></script>
	<script src="../js/3rd-party/jquery.fancybox.pack.js"></script>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body">
			<div class="site-main">
				<div class="container">
					<div class="blur_bg">
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
					</div>
					<div class="main">
						<h1>抱歉，找不到網頁了</h1>
						<ul>
							<li>商品目前已下架或暫不販售，歡迎選購其他商品</li>
							<li>此網頁可能暫時出現故障</li>
							<li>暫時沒有網路訊號或者行動網路連線</li><br/>
						</ul>
							<button type="button" class="btn-back_index">回 ASAP 4.0 首頁</button>
					</div>
				</div>
			</div>
		
		</div>
       <%= render :partial => "foot" %>

		
		<script src='../js/baichian_m/item.js'></script>
	</div>
</body>  
</html>
	