<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="../img/baichain.ico"/>
    <link href='../css/baichian_m/follow.css' rel='stylesheet'/>
	<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
	<script src="../js/3rd-party/swiper.min.js"></script>
	<script src="../js/3rd-party/jquery.fancybox.pack.js"></script>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body">
			<div class="item-list-follow">
				<div class="container">        
					<div class="follow-list-block">  
						<div class="follow-list">    

							<div class="follow-list-content">
								<div class="f_left">
									<div class="follow-photo"><a href="item.html"><img src="../img/sample/item_019.jpg"></a></div>
								</div>
								<div class="f_mid">
									<h3 class="follow-name"><a href="item.html">500G 主機 + NBA 2K15 + 耳麥+ 保固卡 加送 果凍套 + 保護貼</a></h3>
									<div class="f_bot">
										<div class="follow-price">$199,000</div>
										<div class="follow-status"><button class="button btn-cart">加入購物車</button></div>
									</div>
								</div>
								<div class="f_right">
									<div class="follow-delete"></div>
								</div>            
							</div>

							<div class="follow-list-content">
								<div class="f_left">
									<div class="follow-photo"><a href="item.html"><img src="../img/sample/item_018.jpg"></a></div>
								</div>
								<div class="f_mid">
									<h3 class="follow-name"><a href="item.html">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
									<div class="f_bot">
										<div class="follow-price">$19,000</div>
										<div class="follow-status"><button class="button btn-notify">貨到通知</button></div>
									</div>
								</div>
								<div class="f_right">
									<div class="follow-delete"></div>
								</div>   				
							</div>

							<div class="follow-list-content">
								<div class="f_left">
									<div class="follow-photo"><a href="item.html"><img src="../img/sample/item_019.jpg"></a></div>
								</div>
								<div class="f_mid">
									<h3 class="follow-name"><a href="item.html">受禁用饭艺留顺像喝丽州！维江都乱蜖就困？</a></h3>
									<div class="f_bot">
										<div class="follow-price">$199,000</div>
										<div class="follow-status"><button class="button btn-lack">補貨中 09/30到貨</button></div>
									</div>  
								</div>                    
								<div class="f_right">
									<div class="follow-delete"></div>
								</div>   	
														
							</div>

							<div class="follow-list-content">
								<div class="f_left">
									<div class="follow-photo"><a href="item.html"><img src="../img/sample/item_018.jpg"></a></div>
								</div>
								<div class="f_mid">
									<h3 class="follow-name"><a href="item.html">啊默八首责。跳村再送助变现声法线革架日。</a></h3>
									<div class="f_bot">
										<div class="follow-price">$1900</div>
										<div class="follow-status"><button class="button small btn-notsale">尚未開賣</button></div> 
									</div>  
								</div>      
								<div class="f_right">
									<div class="follow-delete"></div>
								</div>   	
													
							</div>

							<!--<div class="follow-list-content none-item">
								目前無追蹤任何商品
							</div>-->
						</div>
					</div>

					<div class="follow-list-info">
						追蹤清單使用說明：
						<ul>
							<li>商品售價以網站即時標示為準。</li>
							<li>「貨到通知我」商品將在貨到後通知您，商品數量有限請盡速訂購。</li>
							<li>購物車商品以您加入清單日期算起，三個月後自動刪除，刪除追蹤商品後將不再發送通知。</li>
						</ul>                      
					</div>                           

				</div>
			</div>
		</div>
       <%= render :partial => "foot" %>

		
		<script src='../js/baichian_m/item.js'></script>
	</div>
</body>  
</html>
	