<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="img/baichain.ico"/>
    <link href='../css/baichian_m/index.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body" role="main">
			<article class="site-main">
				<!-- 熱品 -->
				<div class="per">
					<div class="swiper-container container">
						<div class="swiper-wrapper">
							<a href="item.html"  class="swiper-slide per_slide test hot">
								<div class="per_dur">
									<div class="per_t">熱品推薦：</div>
									<img src="../img/sample/item_01<%= rand(9) %>.jpg" class="per_img" alt="商品名稱" title="商品名稱"/>
								</div>
								<div class="per_buy">
									<h2 class="name">SONY 索尼 A9FMASTER系列OLED $K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h2>
									<div class="per_price">
										<div class="pay_dis"><span class="title">網路價</span><p class="price"> 195,900</p><button class="button large btn-imd">立即購買</button></div>
									</div>
								</div>
							</a>
							<a href="item.html" class="swiper-slide rec_slide">
								<div class="rec_title">
									<p>其它推薦商品<i class="fa fa-caret-right" aria-hidden="true"></i></p>
								</div>
								<div class="rec_info">
									<img src="../img/sample/item_019.jpg" class="rec_img" alt="商品名稱"/>
									<h3 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h3>
									<div class="rec_price"><span class="price">199900<span></div>
								</div>
							</a>
							<% 5.times do%>
							<div class="swiper-slide rec_slide">
								<a href="item.html" class="rec_info">
									<img src="../img/sample/item_019.jpg" class="rec_img" alt="商品名稱"/>
									<h3 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h3>
									<div class="rec_price"><span class="price">199900<span></div>
								</a>
							</div>
							<% end%>
						</div>
					</div>
				</div>
				<div class="ad_banner">
					<div class="container">
						<img src="../img/baichian_m/720x120_ad01.jpg" alt="廣告圖"/>
					</div>
				</div>
				<!-- 專屬品 -->
				<div class="per">
					<div class="swiper-container container">
						<div class="swiper-wrapper">
							<div class="swiper-slide per_slide">
								<div class="per_item">
									<div class="per_t">01/06&nbsp;今日個人專屬特價：</div>
									<img src="../img/sample/item_0<%= rand(9) %>.jpg" class="per_img" alt="商品名稱" title="商品名稱"/>
								</div>
								<div class="per_info">
									<!-- <p class="per_limit">我的專屬特價期間：5/20 14:00 ~<br/> 5/22 14:00止</p>-->
									<h2 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h2>
									<div class="nor">原價 <del>199900</del></div>
									<div class="pay_dis"><span class="title">限時特價</span><span class="price">199,500</span><button class="button large btn-imd">立即購買</button></div>
								</div>
							</div>
							<div class="swiper-slide rec_slide">
								<div class="rec_title">
									<p>其它推薦商品<i class="fa fa-caret-right" aria-hidden="true"></i></p>
								</div>
								<a href="item.html" class="rec_info">
									<img src="../img/sample/item_019.jpg" class="rec_img" alt="商品名稱"/>
									<h3 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h3>
									<div class="rec_price"><span class="price">199900<span></div>
								</a>
							</div>
							<% 5.times do%>
							<div class="swiper-slide rec_slide">
								<a href="item.html" class="rec_info">
									<img src="../img/sample/item_019.jpg" class="rec_img" alt="商品名稱"/>
									<h3 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h3>
									<div class="rec_price"><span class="price">199900<span></div>
								</a>
							</div>
							<% end%>
						</div>
					</div>
				</div>

				<div class="md_index_5icon">
					<div class="container">
						<ul>
							<li><a href="per.html"><img src="../img/baichian_m/110_5icon_01.svg" alt="專屬品"><span>專屬品</span></a></li>
							<li><a href="#"><img src="../img/baichian_m/110_5icon_02.svg" alt="瘋最夯"><span>瘋最夯</span></a></li>
							<li><a href="#"><img src="../img/baichian_m/110_5icon_03.svg" alt="新降價"><span>新降價</span></a></li>
							<li><a href="#"><img src="../img/baichian_m/110_5icon_04.svg" alt="新到貨"><span>新到貨</span></a></li>
							<li><a href="coupon.html"><img src="../img/baichian_m/110_5icon_05.svg" alt="折價券"><span>折價券</span></a></li>
						</ul>
					</div>
				</div>

				<div class="cupn">
					<div class="cupn_slide swiper-container">
						<div class="swiper-wrapper">
							<% 5.times do %>  
							<div class="swiper-slide">
								<a href="#" class="cupn_bg">
									<img src="../img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
									<div class="cupn_info">
										<div class="cupn_num">禮券編號:AB1234567890</div>
										<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
										<div class="cupn_dur">01/06 今日對品禮券</span></div>
										<div class="nor"><span class="title">原價</span><p class="del">199,900</p></div>
										<div class="cupn_price"><span class="title">限時特價</span><p class="price"> 99,900</p></div>
										<div class="cupn_share"><img src="../img/share1.svg" alt=""><img src="../img/share2.svg" alt=""></div>
									</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="cupn_bg test">
									<img src="../img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
									<div class="cupn_info">
										<div class="cupn_num">推薦給您：</div>
										<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
										<div class="cupn_price"><span class="title">網路價</span><p class="price"> 99,900</p></div>
									</div>
								</a>
							</div>
							<% end %>
						</div>
					</div>
					<!--<i class="fa fa-angle-right cupn-next-black" aria-hidden="true"></i>-->
				</div>

				<div class="md_index_hot">
                    <div class="container">
                        <div class="hot_body">
                            <ul class="hot_cont">
								<% 5.times do%>
                                <li>AirPods</li>
                                <li>音響</li>
                                <li>筆電</li>
                                <li>iPhone XS</li>
								<li>4k 電視</li>
								<li>咖啡機</li>
								<li>家庭劇院</li>
								<li>藍芽音響</li>
								<% end %>
                            </ul>
                        </div>
                    </div>
                </div>
				<div class="items">
					<% 30.times do %>  
					<a href="item.html" class="item">
						<p class="photo">
							<span class="float">
								<i class="fa fa-eye" aria-hidden="true"></i>
								<i class="fa fa-heart-o" aria-hidden="true"></i>
							</span>
							<img src="../img/sample/item_0<%= rand(1..20) %>.jpg" alt="商品名稱" title="商品名稱"/>
						</p>
						<div class="info">
							<h3 class="name" itemprop="name">商品名稱商品名稱商品商品名稱商品名稱商品</h3>
							<div class="price" itemprop="price">999,999</div>
						</div>
					</a>
					<% end %>	
				</div>
			</article>
		</div>
        
		<%= render :partial => "foot" %>
		<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
		<script src="../js/3rd-party/masonry.pkgd.min.js"></script>
		<script src="../js/3rd-party/imagesloaded.pkgd.min.js"></script>
		<script src="../js/3rd-party/swiper.min.js"></script>
		<script src='../js/baichian_m/index.js'></script>
	</div>
</body>  
</html>
	