<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="../img/baichain.ico"/>
    <link href='../css/baichian_m/item.css' rel='stylesheet'/>
	<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
	<script src="../js/3rd-party/swiper.min.js"></script>
	<script src="../js/3rd-party/jquery.fancybox.pack.js"></script>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body">
			<div class="md_nav_breadcrumbs">
				<div class="container">
					<div class="back"><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
					<ul class="breadcrumbs">
						<li class="item"><a href="#">電視</a></li>
						<li class="item"><a href="#">4k電視</a></li>
						<li class="item"><a href="#">國際牌Panasonic</a></li>
					</ul>
				</div>
			</div>
			<article class="md-item-main" role="main">
				<figure>
					<div class="photo md-site-sliders">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<% 10.times do %>
								<div class="swiper-slide"><img src="../img/sample/item_0<%= rand(1..20) %>.jpg" alt="商品名稱" title="商品名稱"/></div>
								<% end %>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</figure>
				<section class="item_sec">
					<div class="tags">
						<span class="tag-status is-dis">可用折價券</span>
						<span class="tag-status is-gift">有贈品</span>
						<span class="tag-status is-act">活動中</span>
						<span class="tag-status is-24h">24h到貨</span>
					</div>
					<h1 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F</h1>
					<div class="price"><span class="price_t">網路價</span><span class="net-price">195,000</span>／最高可折<span class="coupon">11111</span>購物金</div>
					<div class="limit_buy">每會員限購1個</div>
				</section>
				<section class="act_sec">
					<div class="act">
						<div class="act_tag"><p>活動</p><h3>全場加碼5折起，領券滿額再折111</h3></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
					<div class="act">
						<div class="act_tag"><p>折價券</p><h3>查詢可使用的折價券</h3></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</section>

				<section class="spec_sec">
					<a class="spec colorsize fancybox.ajax"  id="colorsize" href="#colorsize">
						<div class="spec_tag"><p class="spec_tag_t">規格</p><p class="spec_des">選擇尺寸、顏色</p></div>
						<div class="spec_num"><p>(10)</p><i class="fa fa-angle-right" aria-hidden="true"></i></div>
					</a>
					<div class="spec gift">
						<div class="spec_tag"><p class="spec_tag_t"><i class="fa fa-star" aria-hidden="true"></i>贈品</p><p class="spec_des">目前<span class="red">已選購2件，還差1件</span></p></div>
						<div class="spec_num"><p class="red">(2/3)</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></i></div>
					</div>
					<div class="spec add">
						<div class="spec_tag"><p class="spec_tag_t"><i class="fa fa-star" aria-hidden="true"></i>規格</p><p class="spec_des">加價購優惠專區</p></div>
						<div class="spec_num"><p class="red">$99,999</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
					</div>
				</section>

				<section class="pay_sec">
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">付款</p><p class="pay_des">購物金/Line Pay/Pi錢包/信用卡/ATM</p></div>
					</div>
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">分期</p><p class="pay_des">3期0利率，每期$65,000</p></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">配送</p><p class="pay_des">門市取貨/宅配</p></div>
					</div>
					<a class="pay fancybox.ajax" id="warranty" href="#warranty">
						<div class="pay_tag"><p class="pay_tag_t">退換貨</p><p class="pay_des">本商品無法單一退換貨，請參閱退換貨說明</p></div>
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</a>
				</section>

				<section class="prod_sec">
					<p class="prod_des">5 吋斜角層疊式顯示畫面，給你清晰無邊界的視覺體驗。 精緻膠質機殼手感更輕盈，絕佳手感，經久耐用</p>
					<img class="prod_img" src="../img/sample/item_0<%= rand(1..20) %>.jpg" alt="圖片說明"/>
				</section>

				<div class="md-item-related">
					<div class="related-title">推薦給您：</div>
					<div class="related-slide">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<% 10.times do %>  
								<a href="item.html" class="item swiper-slide">
									<p class="photo">
										<span class="float"></span>
										<img src="../img/sample/item_0<%= rand(1..20) %>.jpg" alt="商品名稱" title="商品名稱" itemprop="image"/>
									</p>
									<div class="info">
										<h3 class="name">指和回婚合菜参！都南样试须为哪强金样杀。</h3>
										<div class="price">999,999</div>
									</div>
								</a>
								<% end %>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</article>
		</div>
        
		<footer class="item_foot">
			<div class="shop_btn">
				<a href="#"><img src="../img/baichian_m/track_blue.svg" class="img-coin"></a>
				<button class="button large btn-cart">加入購物車</button>
				<button class="button large btn-imd">立即結帳<i class="fa fa-angle-right" aria-hidden="true"></i></button>
			</div>
			<%= render :partial => "item_foot" %>
		</footer>

		<!-- 選擇規格尺寸顏色 -->
		<div id="popup_colorsize" class="popup_colorsize">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" id="slide1">
						<div class="colorsize_item">
							<img src="../img/sample/item_04.jpg" alt=""/>
							<div class="colorsize_item_info">
								<h3 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F</h3>
								<div class="price"><small>$</small><span class="net-price">195,000</span></div>
								<div class="limit_buy">每會員限購1個</div>
							</div>
						</div>
						<div class="md_item_line">
							<div class="colorsize_t">選擇規格</div>
							<ul class="value is-size">
								<li>4K 70吋</li>
								<li class="active">4K 65吋<i class="fa fa-check"></i></li>
								<li>4K 60吋</li>
								<li class="disabled">4K 50吋</li>
							</ul>
							<div class="colorsize_t">選擇顏色</div>
							<ul class="value is-color">
								<li>曜石黑</li>
								<li class="active">太空銀<i class="fa fa-check"></i></li>
								<li>霧面黑</li>
								<li>玫瑰金</li>
								<li>金色</li>
								<li>鏡面白</li>
								<li>太空灰</li>
								<li>金色</li>
								<li>鏡面白</li>
								<li>太空灰</li>
								<li>金色</li>
								<li>鏡面白</li>
								<li>太空灰</li>
								<li class="disabled">紅色</li>
							</ul>
							<a title="Close" class="fancybox-item fancybox-close" onclick="$.fancybox.close();"></a>
						</div>

						<div class="quantity">
							<span class="title">數量</span>
							<span class="quantity-decrease"><i class="fa fa-minus" aria-hidden="true"></i></span>      
							<input type="text" class="quantity-input" value="1" max="99" title="請輸入購買量">                            
							<span class="quantity-increase"><i class="fa fa-plus" aria-hidden="true"></i></span>
						</div>
						<div class="colorsize_bot">
							<a href="#slide2"><i class="fa fa-star" aria-hidden="true"></i>選贈品<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							<a href="#slide3"><i class="fa fa-star" aria-hidden="true"></i>選加購品<i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
						<footer class="item_foot">
							<div class="shop_btn">
								<button class="button large btn-cart">加入購物車</button>
								<button class="button large btn-imd">立即結帳</button>
							</div>
						</footer>
					</div>
					

					<div class="swiper-slide" id="slide2">
						<div class="add_t"><a href="#slide1" class="chos_colorsize"><i class="fa fa-angle-left" aria-hidden="true"></i></a>請選擇<span>3個</span>贈品</div>
						<div class="fancybox-add">
							<% for i in 1..5 do %>
							<div class="cart-item">
								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>	
										<div class="cart-select"><select name="" id=""><option value="1">紅</option><option value="1">白</option></select></div>
									</div>
									<div class="order-chk-all red">
										<input type="checkbox" class="order-chk" id="order-chk<%= i %>">
										<label for="order-chk<%= i %>" class="order-chk-label"></label> 
									</div>
								</div>
							</div>
							<% end %>	
						</div>
						<footer class="item_foot">
							<div class="shop_btn">
								<button class="button large btn-imd">加入</button>
							</div>
						</footer>
					</div>
				
					<div class="swiper-slide" id="slide3">
						<div class="add_t"><a href="#slide1" class="chos_colorsize"><i class="fa fa-angle-left" aria-hidden="true"></i></a>已選<span>2個</span>加購品，共<span>$99,999</span></div>
						<div class="fancybox-add">
							<% for i in 1..6 do %>
							<div class="cart-item">
								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>	
										<div class="cart-quantity">
											<div class="price">加購價<span class="currency">$</span><span class="price">99,999</span></div>
										</div>
									</div>
									<div class="order-chk-all red">
										<input type="checkbox" class="order-chk" id="order-add<%= i %>">
										<label for="order-add<%= i %>" class="order-chk-label"></label> 
									</div>
								</div>
							</div>
							<% end %>
						</div>
						<footer class="item_foot">
							<div class="shop_btn">
								<button class="button large btn-imd">加入</button>
							</div>
						</footer>
						</div>
				</div>
			</div>
		</div>
		<!-- 退換貨說明 -->
		<div class="popup_warranty" id="popup_warranty">
			<div class="spec">
				<h3 class="key ga_tracking">退換貨說明</h3>
				<div id="spec_content" class="content">&nbsp;本地商品: 商品頁上有「北北桃6h 全台24h」、「全台24h」、「廠商出貨 約2-7日」或「分開到貨」標示者，享有七天猶豫期之權益，若收到的商品有任何問題，可於七天內直接退貨。(<a rel="nofollow" target="_blank" href="https://shop-tw1.uitox.com/AW000001/member/terms_page?_ua=428eac9b291c96ed.1436368797.102.1460886087.1460883578.&amp;_ga=1.20995966.497435729.1386347922​"><span class="wysiwyg-color-blue">例外情形-請詳見</span></a><a rel="nofollow" target="_blank" href="https://shop-tw1.uitox.com/AW000001/member/terms_page?_ua=428eac9b291c96ed.1436368797.102.1460886087.1460883578.&amp;_ga=1.20995966.497435729.1386347922​"><span class="wysiwyg-color-blue">使用者條款第８條</span></a><a rel="nofollow" target="_blank" href="https://shop-tw1.uitox.com/AW000001/member/terms_page?_ua=eed7909828067e14.1436341991.167.1453371996.1453370845.&amp;_ga=1.36542560.1992698746.1431671105">)</a><br><p><span>•&nbsp;<span>&nbsp;商品退貨必須是全新且完整包裝（包括且不限於產品、附件、包裝、廠商紙箱及所有附隨文件或資料之完整性），否則將影響退貨權益的行使或需負擔部分費用。<br></span>• &nbsp;<span>恕不提供換貨服務，如需換貨，請先至網站退貨，再重新下單。<br></span>• &nbsp;<span>“ 跨境商品 ” 為本公司專為您向海外訂購之商品，該類商品恕無法提供每件商品之詳細規格，如有不清，歡迎下單前先聯繫客服確認 ； 一經下單，本公司不接受隨意取消訂單或任意退貨，若因商品本身瑕疵問題，請與本公司客服聯絡。<br></span>• &nbsp;</span>貴用戶可隨時於本網站登入會員並連結至「查訂單」查詢訂單相關資料。</p></div></div><div>
			</div>
		</div>
		<script src='../js/baichian_m/item.js'></script>
	</div>
</body>  
</html>
	