<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="../img/baichain.ico"/>
    <link href='../css/baichian_m/item.css' rel='stylesheet'/>
	<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
	<script src="../js/3rd-party/swiper.min.js"></script>
	<script src="../js/3rd-party/jquery.fancybox.pack.js"></script>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body">
			<div class="md_nav_breadcrumbs">
				<div class="container">
					<div class="back"><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
					<ul class="breadcrumbs">
						<li class="item"><a href="#">電視</a></li>
						<li class="item"><a href="#">4k電視</a></li>
						<li class="item"><a href="#">國際牌Panasonic</a></li>
					</ul>
				</div>
			</div>
			<article class="md-item-main" role="main">
				<figure>
					<div class="photo md-site-sliders">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<% 10.times do %>
								<div class="swiper-slide"><img src="../img/sample/item_0<%= rand(1..20) %>.jpg" alt="商品名稱" title="商品名稱"/></div>
								<% end %>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</figure>
				<section class="item_sec">
					<div class="tags">
						<span class="tag-status is-dis">可用折價券</span>
						<span class="tag-status is-gift">有贈品</span>
						<span class="tag-status is-act">活動中</span>
						<span class="tag-status is-24h">24h到貨</span>
					</div>
					<h1 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F</h1>
					<div class="price"><span class="price_t">網路價</span><span class="net-price">195,000</span>／最高可折<span class="coupon">11111</span>購物金</div>
					<div class="limit_buy">每會員限購1個</div>
				</section>
				<section class="act_sec">
					<div class="act">
						<div class="act_tag"><p>活動</p><h3>全場加碼5折起，領券滿額再折111</h3></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
					<div class="act">
						<div class="act_tag"><p>折價券</p><h3>查詢可使用的折價券</h3></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</section>

				<section class="spec_sec">
					<div class="spec colorsize">
						<div class="spec_tag"><p class="spec_tag_t">規格</p><p class="spec_des"><span class="red">看詳細內容</span></p></div>
						<div class="spec_num"><a href="#colorsize"  id="colorsize" class="fancybox.ajax"><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
					</div>
					<div class="spec gift">
						<div class="spec_tag"><p class="spec_tag_t"><i class="fa fa-star" aria-hidden="true"></i>贈品</p><p class="spec_des">目前<span class="red">已選購2件，還差1件</span></p></div>
						<div class="spec_num"><p class="red">(2/3)</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></i></div>
					</div>
					<div class="spec add">
						<div class="spec_tag"><p class="spec_tag_t"><i class="fa fa-star" aria-hidden="true"></i>規格</p><p class="spec_des">加價購優惠專區</p></div>
						<div class="spec_num"><p class="red">$99,999</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
					</div>
				</section>

				<section class="pay_sec">
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">付款</p><p class="pay_des">購物金/Line Pay/Pi錢包/信用卡/ATM</p></div>
					</div>
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">分期</p><p class="pay_des">3期0利率，每期$65,000</p></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">配送</p><p class="pay_des">門市取貨/宅配</p></div>
					</div>
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">退換貨</p><p class="pay_des">本商品無法單一退換貨，請參閱退換貨說明</p></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</section>

				<section class="prod_sec">
					<p class="prod_des">5 吋斜角層疊式顯示畫面，給你清晰無邊界的視覺體驗。 精緻膠質機殼手感更輕盈，絕佳手感，經久耐用</p>
					<img class="prod_img" src="../img/sample/item_0<%= rand(1..20) %>.jpg" alt="圖片說明"/>
				</section>
			</article>
		</div>
        
		<footer class="item_foot">
			<div class="shop_btn">
				<a href="#"><img src="../img/baichian_m/track_blue.svg" class="img-coin"></a>
				<button class="button large btn-cart">加入購物車</button>
				<button class="button large btn-imd">立即結帳<i class="fa fa-angle-right" aria-hidden="true"></i></button>
			</div>
			<%= render :partial => "item_foot" %>
		</footer>

		<!-- 選擇規格尺寸顏色 -->
		<div id="popup_colorsize" class="popup_colorsize AB_colorsize">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" id="slide1">
						<div class="colorsize_item">
							<div class="colorsize_item_info">
								<div class="price"><span class="price_t">網路價</span><small>$</small><span class="net-price">195,000</span></div>
							</div>
						</div>
						<div class="md_item_line">
							<div class="colorsize_t">選擇規格 / 顏色</div>
							<a title="Close" class="fancybox-item fancybox-close" onclick="$.fancybox.close();"></a>
							<div class="cart-item_AB">
								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>	
										<div class="AB_size_multi">紅色<a href="#slide4"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
									</div>
								</div>

								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>	
										<div class="AB_size_one">單一規格</div>
									</div>
								</div>

								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>	
										<div class="AB_size_multi">紅色<a href="#slide4"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
									</div>
								</div>

								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>	
										<div class="AB_size_one">單一規格</div>
									</div>
								</div>

								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>	
										<div class="AB_size_one">單一規格</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="quantity">
							<span class="title">數量</span>
							<span class="quantity-decrease"><i class="fa fa-minus" aria-hidden="true"></i></span>      
							<input type="text" class="quantity-input" value="1" max="99" title="請輸入購買量">                            
							<span class="quantity-increase"><i class="fa fa-plus" aria-hidden="true"></i></span>
						</div>
						<div class="colorsize_bot">
							<a href="#slide2"><i class="fa fa-star" aria-hidden="true"></i>選贈品<span class="red">(2/3)</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
							<a href="#slide3"><i class="fa fa-star" aria-hidden="true"></i>選加購品<i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
						<footer class="item_foot">
							<div class="shop_btn">
								<button class="button large btn-cart">加入購物車</button>
								<button class="button large btn-imd">立即結帳</button>
							</div>
						</footer>
					</div>
					

					<div class="swiper-slide" id="slide2">
						<div class="add_t"><a href="#slide1" class="chos_colorsize"><i class="fa fa-angle-left" aria-hidden="true"></i></a>請選擇<span>3個</span>贈品</div>
						<div class="fancybox-add">
							<% for i in 1..3 do %>
							<div class="cart-item">
								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>	
									</div>
									<div class="order-chk-all red">
										<input type="checkbox" class="order-chk" id="order-chk<%= i %>">
										<label for="order-chk<%= i %>" class="order-chk-label"></label> 
									</div>
								</div>
							</div>
							<% end %>
						</div>
						<footer class="item_foot">
							<div class="shop_btn">
								<button class="button large btn-imd">加入</button>
							</div>
						</footer>
					</div>

					<div class="swiper-slide" id="slide3">
						<div class="add_t"><a href="#slide1" class="chos_colorsize"><i class="fa fa-angle-left" aria-hidden="true"></i></a>已選<span>2個</span>加購品，共<span>$99,999</span></div>
						<div class="fancybox-add">
							<% for i in 1..6 do %>
							<div class="cart-item">
								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>	
										<div class="cart-quantity">
											<div class="price">加購價<span class="currency">$</span><span class="price">99,999</span></div>
										</div>
									</div>
									<div class="order-chk-all red">
										<input type="checkbox" class="order-chk" id="order-add<%= i %>">
										<label for="order-add<%= i %>" class="order-chk-label"></label> 
									</div>
								</div>
							</div>
							<% end %>
						</div>
						<footer class="item_foot">
							<div class="shop_btn">
								<button class="button large btn-imd">加入</button>
							</div>
						</footer>
					</div>

					<div class="swiper-slide" id="slide4">
						<div class="add_t"><a href="#slide1" class="chos_colorsize"><i class="fa fa-angle-left" aria-hidden="true"></i></a>選擇規格/顏色</div>
						<div class="fancybox-add">
							<div class="cart-item AB_size">
								<div class="cart-item-block">
									<div class="cart-img">
										<img src="../img/sample/img100_02.jpg" alt="商品圖片">
									</div>
									<div class="cart-info">
										<div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
									</div>
								</div>
							</div>
							<ul class="value is-size">
								<li class="active">紅24cm 3.6L<i class="fa fa-check"></i></li>
								<li>藍24cm 3.6L</li>
								<li>玫瑰金</li>
								<li>鏡面白</li>
								<li>太空灰</li>
								<li class="disabled">橘色</li>
							</ul>
						</div>
						<footer class="item_foot">
							<div class="shop_btn">
								<button class="button large btn-imd">加入選購</button>
							</div>
						</footer>
					</div>

				</div>
			</div>
		</div>
		
		<script src='../js/baichian_m/item.js'></script>
	</div>
</body>  
</html>
	