<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="../img/baichain.ico"/>
    <link href='../css/baichian_m/item.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body">
			<div class="md_nav_breadcrumbs">
				<div class="container">
					<div class="back"><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
					<ul class="breadcrumbs">
						<li class="item"><a href="#">電視</a></li>
						<li class="item"><a href="#">4k電視</a></li>
						<li class="item"><a href="#">國際牌Panasonic</a></li>
					</ul>
				</div>
			</div>
			<article class="md-item-main" role="main">
				<figure>
					<div class="photo md-site-sliders">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<% 10.times do %>
								<div class="swiper-slide"><img src="../img/sample/item_0<%= rand(1..20) %>.jpg" alt="商品名稱" title="商品名稱"/></div>
								<% end %>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div> 
				</figure>
				<section class="item_sec">
					<div class="tags">
						<span class="tag-status is-dis">可用折價券</span>
						<span class="tag-status is-gift">有贈品</span>
						<span class="tag-status is-act">活動中</span>
						<span class="tag-status is-24h">24h到貨</span>
					</div>
					<h1 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F</h1>
					<div class="dur">個人專屬特價期間07/10~07/13止</div>
					<div class="pay_dis ori"><span class="title">原價</span><span class="price"><del>195,000</del></span></div>
					<div class="pay_dis"><span class="title">限時特價</span><span class="price">188,000</span></div>
					<div class="quantity">
						<span class="title">數量</span>
						<span class="quantity-decrease"><i class="fa fa-minus" aria-hidden="true"></i></span>      
						<input type="text" class="quantity-input" value="1" max="99" title="請輸入購買量">                            
						<span class="quantity-increase"><i class="fa fa-plus" aria-hidden="true"></i></span>
					</div>
				</section>
				<section class="act_sec">
					<div class="act">
						<div class="act_tag"><p>活動</p><h3>全場加碼5折起，領券滿額再折111</h3></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
					<div class="act">
						<div class="act_tag"><p>折價券</p><h3>查詢可使用的折價券</h3></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</section>

				<section class="spec_sec">
					<div class="spec">
						<div class="spec_tag"><p class="spec_tag_t">規格</p></div>
						<div class="spec_num"><p>(10)</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
					</div>
					<div class="spec">
						<div class="spec_tag"><p class="spec_tag_t"><i class="fa fa-star" aria-hidden="true"></i>贈品</p><p class="spec_des">目前<span class="red">已選購2件，還差1件</span></p></div>
						<div class="spec_num"><p class="red">(2/3)</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></i></div>
					</div>
					<div class="spec">
						<div class="spec_tag"><p class="spec_tag_t"><i class="fa fa-star" aria-hidden="true"></i>規格</p><p class="spec_des">加價購優惠專區</p></div>
						<div class="spec_num"><p class="red">$99,999</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
					</div>
				</section>

				<section class="pay_sec">
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">付款</p><p class="pay_des">購物金/Line Pay/Pi錢包/信用卡/ATM</p></div>
					</div>
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">分期</p><p class="pay_des">3期0利率，每期$65,000</p></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">配送</p><p class="pay_des">門市取貨/宅配</p></div>
					</div>
					<div class="pay">
						<div class="pay_tag"><p class="pay_tag_t">退換貨</p><p class="pay_des">本商品無法單一退換貨，請參閱退換貨說明</p></div>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</section>

				<section class="prod_sec">
					<p class="prod_des">5 吋斜角層疊式顯示畫面，給你清晰無邊界的視覺體驗。 精緻膠質機殼手感更輕盈，絕佳手感，經久耐用</p>
					<img class="prod_img" src="../img/sample/item_0<%= rand(1..20) %>.jpg" alt="圖片說明"/>
				</section>
			</article>
		</div>
        
		<footer class="item_foot">
			<div class="shop_btn">
				<a href="#"><img src="../img/baichian_m/track_blue.svg" class="img-coin"></a>
				<button class="button large btn-cart">加入購物車</button>
				<button class="button large btn-imd">立即結帳<i class="fa fa-angle-right" aria-hidden="true"></i></button>
			</div>
			<%= render :partial => "item_foot" %>
		</footer>
		

		<div id="hide_prod_box" class="hide_prod_box">	
			<div class="hide_prod_t">
				<div class="pay_dis ori"><span class="title">原價</span><span class="price"><small>$</small><del>195,000</del></span></div> 
				<div class="pay_dis"><span class="title">限時特價</span><span class="price"><small>$</small>188,000</span></div> 
			</div>
			<div class="hide_des">
				<p>限時特價已截止</p>
				<small>如要購買此商品，請點擊下方按鈕</small>
			</div>
			<div class="hide_btn">
				<button type="button" class="button btn-cancel" onclick="$.fancybox.close()">回首頁</button>
				<button type="button" class="button btn-order" onclick="$.fancybox.close()">我要訂購</button>
			</div>
		</div>

		<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
		<script src="../js/3rd-party/masonry.pkgd.min.js"></script>
		<script src="../js/3rd-party/imagesloaded.pkgd.min.js"></script>
		<script src="../js/3rd-party/swiper.min.js"></script>
		<script src='../js/baichian_m/item.js'></script>
		<script src="../js/3rd-party/jquery.fancybox.pack.js"></script>
		<script>

			$(document).ready(function() {
				$.fancybox.open({
					href:'#hide_prod_box',
					width:'100%',
					height:'170px',
					padding : 20,
					margin: [ 0,0,0,0 ],
					closeBtn:false,
					type: 'inline',
					wrapCSS:'fancybox-hide',
					autoSize: false,
					helpers: {
						overlay: {
							locked: true,
						}
					}
				});
			});
		</script>
	</div>
</body>  
</html>
	