<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="../img/baichain.ico"/>
    <link href='../css/baichian_m/per.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body" role="main">
			<article class="site-main">
				<div class="per">
					<div class="swiper-container container">
						<div class="swiper-wrapper">
							<a href="item.html"  class="swiper-slide per_slide test">
								<div class="per_dur">
									<div class="per_t">推薦給您：</div>
									<img src="../img/sample/item_01<%= rand(9) %>.jpg" class="per_img" alt="商品名稱" title="商品名稱"/>
								</div>
								<div class="per_buy">
									<h2 class="name">SONY 索尼 A9FMASTER系列OLED $K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h2>
									<div class="per_price">
										<div class="pay_dis"><span class="title">網路價</span><p class="price"> 195,900</p><button class="button large btn-imd">立即購買</button></div>
									</div>
								</div>
							</a>
							<a href="item.html" class="swiper-slide per_slide">
								<div class="per_item">
									<div class="per_t">01/06&nbsp;今日個人專屬特價：</div>
									<img src="../img/sample/item_01<%= rand(5) %>.jpg" class="per_img" alt="商品名稱"/>
								</div>
								<div class="per_info">
									<!--<p class="per_limit">我的專屬特價期間：5/20 14:00 ~<br/> 5/22 14:00止</p>-->
									<h2 class="name">SONY 索尼 A9F MASTER系列 OLED 4K Ultra HD 高動態範圍(HDR) 智慧型電視 KD-65A9F 65吋 OLED 液晶電視</h2>
									<div class="nor">原價 <del>199900</del></div>
									<div class="pay_dis"><span class="title">限時特價</span><span class="price">199,500</span><button class="button large btn-imd">立即購買</button></div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="cupn">
					<div class="cupn_slide swiper-container">
						<div class="swiper-wrapper">
							<% 5.times do %>  
							<div class="swiper-slide">
								<a href="#" class="cupn_bg">
									<img src="../img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
									<div class="cupn_info">
										<div class="cupn_num">禮券編號:AB1234567890</div>
										<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
										<div class="cupn_dur">01/06 今日對品禮券</span></div>
										<div class="nor"><span class="title">原價</span><p class="del">199,900</p></div>
										<div class="cupn_price"><span class="title">限時特價</span><p class="price"> 99,900</p></div>
										<div class="cupn_share"><img src="../img/share1.svg" alt=""><img src="../img/share2.svg" alt=""></div>
									</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="cupn_bg test">
									<img src="../img/sample/item_011.jpg" alt="商品名稱" title="商品名稱"/>
									<div class="cupn_info">
										<div class="cupn_num">推薦給您：</div>
										<h3 class="name">鋁合金裝備掛環工具環座帶勾環 C5 M</h3>
										<div class="cupn_price"><span class="title">網路價</span><p class="price"> 99,900</p></div>
									</div>
								</a>
							</div>
							<% end %>
						</div>
					</div>
					<!--<i class="fa fa-angle-right cupn-next-black" aria-hidden="true"></i>-->
				</div>

				<div class="items">
					<div class="per_items_t">其他推薦商品：</div>
					<% 15.times do %>
					<div href="#" class="item">
						<p class="photo">
							<a href="item.html"><img src="../img/sample/item_0<%= rand(1..9) %>.jpg" alt="商品名稱" title="商品名稱"/></a> 
						</p>
						<div class="info">
							<h3 class="name"><a href="item.html">商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品</a> </h3>
							<div class="oth-info">
								<div class="price">999,999</div>
								<div class="func">
									<a href="#" class="i-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a> 
									<!-- 實心愛心 <a href="#" class="i-fav"><i class="fa fa-heart" aria-hidden="true"></i></a> -->
									<a href="#" class="i-fav"><i class="fa fa-heart-o" aria-hidden="true"></i></a> 
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>

			</article>
		</div>
        
		<%= render :partial => "foot" %>
		<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
		<script src="../js/3rd-party/masonry.pkgd.min.js"></script>
		<script src="../js/3rd-party/imagesloaded.pkgd.min.js"></script>
		<script src="../js/3rd-party/swiper.min.js"></script>
		<script src='../js/baichian_m/index.js'></script>
	</div>
</body>  
</html>
	