<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <title>白昌</title>
    <meta content="白昌首頁" name="description"/>
    <meta content="Orange" name="author"/>
	<link rel="icon" href="img/baichain.ico"/>
    <link href='../css/baichian_m/supplier.css' rel='stylesheet'/>
  </head>
  <body>
    <div class="body_container">
		<%= render :partial => "header" %>
		<div class="site-body" role="main">
			<article class="site-main">
				<div class="supplier_t">
					<a href="index.html">首頁</a><i class="fa fa-angle-right" aria-hidden="true"></i><span>供應商官網列表</span>
				</div>
				<div class="supplier">
					<% 10.times do %>  
					<a href="#"><div class="photo"><img src="../img/asap40_black.png" alt=""/></div><p><span>ASAP 4.0購物</span></p></a>
					<a href="#"><div class="photo"><img src="../img/beauty.png" alt=""/></div><p><span>ASAP 4.0購物無敵白鯧好棒棒耶耶</span></p></a>
					<a href="#"><div class="photo"><img src="../img/logo.png" alt=""/></div><p><span>ASAP 4.0購物</span></p></a>
					<a href="#"><div class="photo"><img src="../img/sample/img100_06.jpg" alt=""/></div><p><span>ASAP 4.0購物</span></p></a>
					<a href="#"><div class="photo"><img src="../img/sample//XRblack.jpg" alt=""/></div><p><span>ASAP 4.0購物</span></p></a>
					<a href="#"><div class="photo"><img src="../img/ai.jpg" alt=""/></div><p><span>ASAP 4.0購物</span></p></a>
					<% end %>
				</div>
			</article>
		</div>
        
		<%= render :partial => "foot" %>
		<script src="../js/3rd-party/jquery-1.9.1.min.js"></script>
		<script src="../js/3rd-party/masonry.pkgd.min.js"></script>
		<script src="../js/3rd-party/imagesloaded.pkgd.min.js"></script>
		<script src="../js/3rd-party/swiper.min.js"></script>
		<script src='../js/baichian_m/index.js'></script>
	</div>
</body>  
</html>
	