@import "../partials/base";
@import "../partials/mixin";
@import "../3rd-party/_font-awesome.min.scss";
// 宣傳頁
body{
    width:100%;
    background-color:white ;
}
body.ind{
    background-color:#224467 ;
}
.container {
    width: 1220px;
    margin: 0 auto;
    @include clearfix;
}
.bold{
    font-weight: 700;
}
.blue_txt1{
    color:#0068b7;
}
.red{
    color:#d00;
}
.head{
    margin: 50px 0;
    color:#246;
    font-size:2.5rem;
    text-align: center;
}
.sec{
    width:600px;
    margin: 0 auto 50px;
    dl{
        margin-bottom:10px;
    }
    dt{
        margin-bottom:10px;
        color:#0068b7;
        font-size:1.5rem;
        line-height: 1.4;
        letter-spacing: 1px;
        a{
            display: inline-block;
            padding:13px 15px;
            color:white;
            background-color: #09c;
            letter-spacing: 1px;
            @include border-radius(5px);
            @include box-shadow(3px 0 0 #246);
            i{
                margin-left:5px;
            }
        }
    }
    dd{
        display: list-item;
        margin-left: 44px;
        font-size:1.2rem;
        color:#555;
        list-style: disc;
        list-style-position: outside;
        line-height: 1.8;
    }
    p{
        margin-left:22px;
        color:#0068b7;
    }
}
.detail{
    margin:50px 0;
    color: #00bcff;
    font-size:1.2rem;
    a{
        color:white;
        text-decoration: underline;
    }
}
.ind_container{
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    align-items: stretch;
    justify-content: center;
    h1{
        color:white;
        font-size:2.2rem;
    }
    .left{
        flex:1;
        max-width: 750px;
        padding:50px 60px 0;
        @include clearfix;
        
    }
    .right{
        flex:1;
        width: 450px;
        max-width: 450px;
        height: 100%;
        padding:50px 0 50px;
        background-color: white;
        @include clearfix;
        -moz-box-sizing: border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
    }
    .sec{
        width:auto;
        margin:0 auto;
        dt{
            color: #00bcff;
        }
        dd{
            color:white;
            font-size:1.1rem;
        }
        p{
            color: #00bcff;
            font-size:.9rem;
            line-height: 1.4;
        }
    }
    .site-footer{
        margin-top: 190px;
        padding:0;
        display: flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: baseline;
    }
}
.data_block{
    padding:0 50px;
    h2{
        margin: 50px 0 30px;
        font-size:2.2rem;
        color:black;
    }
    input[type="radio"]{
        vertical-align: top;
    }
    input[type="text"],input[type="email"]{
        width:100%;
        padding:10px;
        font-size:1.2rem;
        border:1px solid #999;
    }
    label{
        margin: 20px 10px 0 0;
        display: inline-block;
        font-size:1.2rem;
    }
    .submit{
        float:right; 
        display: inline-block;
        padding:13px 36px 13px 46px;
        letter-spacing: 10px;
        color:white;
        font-size:1.5rem;
        background-color: #09c;
        @include border-radius(5px);
    }
    &:last-child{
        margin-top:20px;
        label{
            display: inline-block;
            margin:10px 10px 0 0;
        }
    }
}
.data{
    font-size:1.2rem;   
    margin:0 0 10px 0;
}
.key{
    small{
        display: block;
        font-size:.9rem;
        margin:15px 0 10px;
    }
    input[type="text"]{
        width:31.3%;
        margin-right:10px;
        &:last-child{
            margin:0;
        }
    }
}

.site-footer{
    padding:20px;
    .mail{
        color:#00bcff;
        a{
            color:white;
            text-decoration: underline;
        }
    }
    .copyright{
        color:#999;
        font-size:.8rem;
        text-align: right;
    }
}

@media only screen and (max-width: 1220px) {
    body{
        min-width:100%;
    }
    .container{
        width:100%;
    }
}

@media only screen and (max-width: 1000px) {
    .ind_container{
        h1{
            font-size:1.8rem;
        }
        .sec{
            dt{
                font-size:1.2rem;
            }
            dd{
                font-size:1rem;
            }
        }
        .right{
            width:390px;
            max-width: 390px;
        }
    }
    .detail{
        font-size:1rem;
    } 
    .data_block{
        h2{
            font-size:1.8rem;
        }
    }
    .key{ 
        input[type="text"]{
            width:31%;
        }
    }
}

@media only screen and (max-width: 925px) {
    .ind_container{
        .left{
            padding:50px 30px 0;
        }
    }
    
}
@media only screen and (max-width: 850px) {
    .ind_container{
        .right{
            width: 300px;
            max-width: 300px;
        }
    }
    .data_block{
        padding:0 30px;
        label{
            font-size:1rem;
        }
        .submit{
            padding:10px 10px 10px 20px;
            font-size:1rem;
        }
    }
    .data{
        font-size:1rem;
    }
    .key{ 
        input[type="text"]{
            width:30%;
        }
        small{
            font-size:.7rem;
        }
    }
    .site-footer{
        .mail{
            font-size:.8rem;
        }
    }
}
@media only screen and (max-width: 700px) {
    .head{
        margin:20px 0 30px;
        h1{
            font-size:1.5rem;
        }
    }
    .sec{
        width:auto;
        padding:0 30px;
        dt{
            font-size:1.2rem;
            a{
                padding:10px 12px;
            }
        }
        dd{
            margin-left:20px;
            font-size:1rem;  
        }
        p{
            margin-left:0;
            font-size:.8rem;
            line-height: 1.4;
        }
    }
    .ind_container{
        display:block;
        height:auto;
        .left{
            max-width:100%;
            padding:10px 20px;
        }
        .right{
            width:100%;
            max-width:100%;
            padding:30px 0;
        }
        .sec{
            padding:0;
            dt{
                font-size:1rem;
            }
            dd{
                margin-left:20px;
                font-size:.9rem;
            }
        }
        .site-footer{
            display: block;
            margin-top:50px;
            .copyright{
                display: none;
            }
        }
    }
    .data_block{
        h2{
            margin:20px 0;
        }
    }
    .detail{
        margin:15px 0;
        font-size:.9rem;
        a{
            font-size:.9rem;
        }
    }
    .key{
        input[type="text"]{
            width:31.4%;
        }

    }
}
@media only screen and (max-width: 420px) {
    .sec{
        dt{
            font-size:1.1rem;
            a{
                padding:8px 10px;
                font-size:1rem;
            }
        }
        dd{
            font-size:.9rem;  
        }
    }
    .key{
        input[type="text"]{
            width:31%;
        }
    }
}

@media only screen and (max-width: 320px) {
    .head{
        h1{
            font-size:1.4rem;
        }
    }
    .sec{
        dt{
            font-size:1rem;
            a{
                padding:8px 10px;
                font-size:.9rem;
            }
        }
        dd{
            font-size:.9rem;  
        }
    }
    .ind_container{
        .sec{
            dd{
              font-size:.8rem;  
            }
            p{
                font-size:.75rem;
            }
        }
    }
    .key{
        input[type="text"]{
            width:30%;
        }
    }
}