<!doctype html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-TW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>訂單確認</title>
    <link rel="icon" href="../img/baichain.ico"/>
    
    <link rel="stylesheet" type="text/css" href="../css/cart/cart.css"/>

    <script src="../js/3rd-party/jquery-3.4.1.min.js"></script>
    <script src="../js/3rd-party/jquery.fancybox.min.js"></script>
   <script>
        $(document).ready(function() {
            $("input[name$='deliver_way']").click(function() {
                var deliverbox = $(this).val();

                $("div.deliver_block").hide();
                $("#deliver_block" + deliverbox).show();
            });
        });
   </script>
</head>