<header class="cart-header" role="banner">
        <div class="container">
            <div class="head_con">
                <a href="../index.html" title="回到BaiChian" class="logo">
                    <img src="../img/asap40w.png" class="img-logo" itemprop="logo">
                    <h1 itemprop="name">BaiChian</h1>
                </a>
            </div>
        </div>
    </header>