<!-- 推薦相關商品 -->
<div class="recommend-title"><i class="fa fa-heart" aria-hidden="true"></i>你可能還喜歡<i class="fa fa-heart" aria-hidden="true"></i></div>
<div class="recommend-list">
    <div class="recommend-item"><!-- item1 -->
        <div class="order-chk-all">
            <input type="checkbox" class="order-chk" id="order-chk-rc1"/>
            <label for="order-chk-rc1" class="order-chk-label"></label> 
        </div>
        <div class="cart-img">
            <img src="../img/sample/img100_06.jpg" alt="商品圖片"/>
        </div>
        <div class="cart-info">
            <div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
            <div class="cart-size">玫瑰素顏霜 30ml</div>
            <div class="cart-quantity">
                <div class="quantity-input">
                    <button class="btn-decrease">‒</button>
                    <input class="cart-num" type="text" value="1"/>
                    <button class="btn-increase">﹢</button>
                </div>
            </div>
            <div class="addprice">
                <p>加價購</p><span class="currency">$</span><span class="price">999</span>
            </div>
        </div>
    </div>
    <div class="recommend-item"><!-- item2 -->
        <div class="order-chk-all">
            <input type="checkbox" class="order-chk" id="order-chk-rc2"/>
            <label for="order-chk-rc2" class="order-chk-label"></label> 
        </div>
        <div class="cart-img">
            <img src="../img/sample/img_240_07.jpg" alt="商品圖片"/>
        </div>
        <div class="cart-info">
            <div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
            <div class="cart-size">玫瑰素顏霜 30ml</div>
            <div class="cart-quantity">
                <div class="quantity-input">
                    <button class="btn-decrease">‒</button>
                    <input class="cart-num" type="text" value="1"/>
                    <button class="btn-increase">﹢</button>
                </div>
            </div>
            <div class="addprice">
                <p>加價購</p><span class="currency">$</span><span class="price">9999</span>
            </div>
        </div>
    </div>
    <div class="recommend-item"><!-- item3 -->
        <div class="order-chk-all">
            <input type="checkbox" class="order-chk" id="order-chk-rc3"/>
            <label for="order-chk-rc3" class="order-chk-label"></label> 
        </div>
        <div class="cart-img">
            <img src="../img/sample/img_240_07.jpg" alt="商品圖片"/>
        </div>
        <div class="cart-info">
            <div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
            <div class="cart-size">玫瑰素顏霜 30ml</div>
            <div class="cart-quantity">
                <div class="quantity-input">
                    <button class="btn-decrease">‒</button>
                    <input class="cart-num" type="text" value="1"/>
                    <button class="btn-increase">﹢</button>
                </div>
            </div>
            <div class="addprice">
                <p>加價購</p><span class="currency">$</span><span class="price">99</span>
            </div>
        </div>
    </div>
    <div class="recommend-item"><!-- item4 -->
        <div class="order-chk-all">
            <input type="checkbox" class="order-chk" id="order-chk-rc4"/>
            <label for="order-chk-rc4" class="order-chk-label"></label> 
        </div>
        <div class="cart-img">
            <img src="../img/sample/img_240_07.jpg" alt="商品圖片"/>
        </div>
        <div class="cart-info">
            <div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
            <div class="cart-size">玫瑰素顏霜 30ml</div>
            <div class="cart-quantity">
                <div class="quantity-input">
                    <button class="btn-decrease">‒</button>
                    <input class="cart-num" type="text" value="1"/>
                    <button class="btn-increase">﹢</button>
                </div>
            </div>
            <div class="addprice">
                <p>加價購</p><span class="currency">$</span><span class="price">9999</span>
            </div>
        </div>
    </div>
</div>