<!doctype html>
<html lang="zh-TW">
<head>
    <%= render :partial => "head" %>
</head>
<body>
    <div class="cart-outter">
        <%= render :partial => "header" %>
        <div class="cart-body">
            <div class="cart-main">
                <div class="order-all">
                    <!-- 購物車商品清單 標頭-->
                    <div class="order-head">
                        <div class="order-chk-all">
                            <input type="checkbox" class="order-chk" id="order-chk-all" checked="checked"/>
                            <label for="order-chk-all" class="order-chk-label"></label> 
                        </div>
                        <div class="order-title">ASAP購物網</div><!--廠商名稱  -->
                    </div>
                    <!--購物車商品清單 列表  -->
                    <div class="cart-item-block">
                        <div class="cart-img">
                            <img src="../img/sample/img100_01.jpg" alt="商品圖片"/>
                             <p class="tag-conv">可超取</p>
                        </div>
                        <div class="cart-info">                               
                            <div class="cart-name">
                                <p>韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</p>
                                <div class="cart-size">白色 600ml</div>
                            </div>
                            <div class="cart-per">個人專屬特價期間07/10~07/13止</div>
                            <div class="cart-quantity">
                                <div class="lmt_price">
                                    <p class="ori">原價<del><span class="currency">$</span>990</del></p>
                                    <p class="lmt">限時特價<span class="currency">$</span><span class="price">999</span></p>
                                </div>
                            </div>
                            <div class="cart-gift">
                                <p>贈品</p>
                                <ul class="cart-gift-item">
                                    <li>3M百利爐具專用菜瓜布x1</li>
                                    <li>室內芳香劑x1</li>
                                </ul>
                            </div>
                            <div class="cart-discount">
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i><span>已符合優惠：滿$699現折50元,夏日年中慶 買一送一</span></li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i><span>已符合優惠：小家電 任2折折$50</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="cart-count">
                            <p>x 999</p>
                        </div>
                    </div>
                    
                    <div class="cart-item-block">
                        <div class="cart-img">
                            <img src="../img/sample/img100_02.jpg" alt="商品圖片"/>
                             <p class="tag-conv">可超取</p>
                        </div>
                        <div class="cart-info">
                            <div class="cart-name">
                                <p>韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</p>
                                <div class="cart-size">規格：白色<br/>尺寸：L</div>
                            </div>
                            <div class="cart-quantity">
                                <div class="price"><span class="currency">$</span><span class="price">999</span></div>
                            </div>
                        </div>
                        <div class="cart-count">
                            <p>x 99</p>
                        </div>
                    </div>
                
                    <div class="cart-item-block">
                        <div class="cart-img">
                            <img src="../img/sample/img100_03.jpg" alt="商品圖片"/>
                        </div>
                        <div class="cart-info">
                            <div class="cart-name">
                                <p>韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</p>
                                <div class="cart-size">玫瑰素顏霜 30ml</div>
                            </div>
                            <div class="cart-quantity">
                                <div class="price"><span class="currency">$</span><span class="price">999</span></div>
                            </div>
                        </div>
                        <div class="cart-count">
                            <p>x 999</p>
                        </div>
                    </div>
                    <div class="cart-block orderconfirm">
                        <div class="cart-sub-block">
                            <div class="cart-block-txt"> 收件方式：</div>
                            <div class="cart-block-txt">
                                <div class="deliver_way"><label for="deliver_home"><input type="radio" name="deliver_way" id="deliver_home" value="1">宅配到家</label><label for="deliver_mart"><input type="radio" name="deliver_way" id="deliver_mart" checked="checked" value="2">超商取貨</label></div>
                            </div>
                        </div>
                        <div class="cart-sub-block">
                            <div class="cart-block-txt"> 商品金額：</div>
                            <div class="cart-block-txt"><span class="currency">$</span><span class="price">999,900</span></div>
                        </div>
                        <div class="cart-sub-block">
                            <div class="cart-block-txt"><input type="checkbox" class="order-chk" id="s_gold"/><label for="s_gold" class="order-chk-label"></label> 我要使用購物金折抵：</div>
                            <div class="cart-block-txt"><span class="currency">-$</span><span class="price">90</span></div>
                        </div>
                        <div class="cart-sub-block">
                            <div class="cart-block-txt"> 運費：</div>
                            <div class="cart-block-txt">
                                <div><span class="currency">$</span><span class="price">90</span></div>
                                <small>(滿$490免運費，還差$100)</small>
                            </div>
                        </div>
                        <div class="cart-sub-block">
                            <div class="cart-block-txt"> 小計：</div>
                            <div class="cart-block-txt"><span class="currency">$</span><span class="price">999,900</span></div>
                        </div>
                    </div>
                </div>
<!--宅配-->
                <div id="deliver_block1" class="deliver_block" style="display: none;">
                    <div class="cart-block orderman">
                        <div class="cart-sub-block">
                            <div class="ordername">
                                <input type="text" placeholder="訂購人姓名">
                                <div class="sex"><label for="male"><input type="radio" name="sex" id="male">先生</label><label for="female"><input type="radio" name="sex" id="female">小姐</label></div>
                            </div>
                            
                            <input type="email" placeholder="訂購人E-mail">
                            <input type="tel" placeholder="訂購人手機號碼">
                        </div>
                    </div>

                    <div class="cart-block">
                        <div class="cart-sub-block deliver_box">
                            <div class="deliver_info">
                                <p>宅配收件資訊：</p>
                                <p><span class="cart-block-txt">收件人：</span>優達斯UITOX</p>
                                <p><span class="cart-block-txt">聯絡電話：</span>0912-245678</p>
                                <p><span class="cart-block-txt">收件地址：</span>110台北市信義區忠孝東路四段563號8F</p>
                            </div>
                            <a class="deliver_addr fancybox" data-fancybox="" data-type="ajax" data-src="popup/fancybox_addr.html" data-filter="#addr_fin" href="javascript:;">新增/修改收件地址</a>
                        </div>
                    </div>
                    
                    <div class="cart-block">
                        <div class="cart-sub-block radio">
                            <div class="cart-block-txt"> 付款方式：</div>
                            <div class="cart-block-txt">
                                <div class="order-radio-all">
                                    <input type="radio" class="radio-btn" id="radio1" name="logistics" value="1" checked="checked">
                                    <label for="radio1" class="radio-label">信用卡一次付清</label> 
                                </div>
                                <div class="order-radio-all">
                                    <input type="radio" class="radio-btn" id="radio2" name="logistics" value="2">
                                    <label for="radio2" class="radio-label">信用卡分期</label> 
                                </div>
                            </div>
                        </div>
                        <div class="cart-sub-block card-num">
                            <div class="card-line">
                                <input type="text" placeholder="信用卡號"><p>請輸入信用卡卡號</p>
                            </div>
                            <div class="card-line-m">
                                <div class="card-fill">
                                    <select name="" id="">
                                        <option value="">1月</option>
                                    </select>
                                    <p>請輸入信用卡截止月份</p>
                                </div>
                                <div class="card-fill">
                                    <select name="" id="">
                                            <option value="">2020年</option>
                                    </select>
                                    <p>請輸入信用卡截止年份</p>
                                </div>
                                <div class="card-fill"><input type="text" placeholder="信用卡末三碼"><br><p>請輸入信用卡背後末三碼</p></div>
                            </div>
                        </div>
                    </div>

                    <div class="cart-block orderman">
                        <div class="cart-sub-block"><h3> 持卡人資訊：<label for="chk1"><input type="checkbox" class="chk-btn" id="chk1" name="chkinfo" value="1" checked="checked">同訂購人</label></h3></div>
                        <div class="cart-sub-block">
                            <input type="text" placeholder="持卡人姓名">
                            <input type="tel" placeholder="持卡人手機號碼">
                        </div>
                        <div class="cart-sub-block radio stag">
                            <div class="cart-block-txt"> 分期方式：</div>
                            <div class="cart-block-txt">
                                <div class="order-radio-all">
                                    <input type="radio" class="radio-btn" id="radio3" name="sp" value="1" checked="checked">
                                    <label for="radio3" class="radio-label">$163 x 3期0利率</label> 
                                </div>
                                <div class="order-radio-all">
                                    <input type="radio" class="radio-btn" id="radio4" name="sp" value="2">
                                    <label for="radio4" class="radio-label">$81 x 6期0利率</label> 
                                </div>
                            </div>
                        </div>
                    </div>

                    

                </div>

<!--超取-->
                <div id="deliver_block2" class="deliver_block">
                    <div class="cart-block orderman">
                        <div class="cart-sub-block">
                            <div class="ordername">
                                <input type="text" placeholder="訂購人姓名">
                                <div class="sex"><label for="male"><input type="radio" name="sex" id="male">先生</label><label for="female"><input type="radio" name="sex" id="female">小姐</label></div>
                            </div>
                            
                            <input type="email" placeholder="訂購人E-mail">
                            <input type="tel" placeholder="訂購人手機號碼">
                        </div>
                    </div>

                    <div class="cart-block">
                        <div class="cart-sub-block deliver_box">
                            <div class="deliver_info">
                                <p><span class="cart-block-txt">選擇門市：</span><label for="mart"><input type="radio" name="" id="mart">7-11超商</label></p>
                                <p><span class="cart-block-txt">門市店名：</span>中坡</p>
                                <p><span class="cart-block-txt">門市地址：</span>台北市南港區忠孝東路六段21號13F-1</p>
                            </div>
                            <a class="deliver_addr fancybox" data-fancybox="" data-type="ajax" data-src="popup/fancybox_addr.html" data-filter="#addr_mart" href="javascript:;">新增/修改超商門市</a>
                        </div>
                    </div>

                    
                    <div class="cart-block">
                        <div class="cart-sub-block deliver_box">
                            <div class="deliver_info">
                                <p><span class="cart-block-txt">付款方式：</span><label for="payment"><input type="radio" name="" id="payment">超商取貨付款</label></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-all">
                    <div class="cart-block orderprice">
                        <div class="addcart">
                            <button class="btn-prev" onclick="location.href='orderlist.html'" type="button"><i class="fa fa-angle-left" aria-hidden="true"></i>上一步</button>
                            <button class="btn-confirm" onclick="location.href='confirm_delivery.html'" type="button">確認結帳<i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
        <!--<footer class="cart_footer">
            <div class="confirm">
                <button class="btn-prev" onclick="location.href='orderlist.html'" type="button"><i class="fa fa-chevron-left" aria-hidden="true"></i>上一步</button>
                <div class="delivery_m">請選擇收件方式：</div>
                <button class="btn-next" onclick="location.href='confirm_delivery.html'" type="button">全宅配</button>
                <button class="btn-next" onclick="location.href='confirm_delivery.html'" type="button">其它</button>
            </div>
        </footer>-->
        </div>
    </div>
    
</body> 
</html>