<!doctype html>
<html lang="zh-TW">
<head>
    <%= render :partial => "head" %>
</head>
<body>
    <div class="cart-outter">
        <%= render :partial => "header" %>
        <div class="cart-body">
            <div class="cart-main">
                <div class="order-all">
                    <!-- 購物車商品清單 標頭-->
                    <div class="order-head">
                        <div class="order-title-img"></div>
                        <div class="order-title">商品名稱</div>
                        <div class="order-title-price">單價</div>
                        <div class="order-title-count">數量</div>
                    </div>  
                    <!--購物車商品清單 列表  -->

                        <div class="cart-item-block">
                            <div class="cart-img">
                                <img src="../img/sample/img100_01.jpg" alt="商品圖片"/>
                            </div>
                            <div class="cart-info">
                                <div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
                                <div class="cart-size">白色 600ml</div>
                            </div>
                            <div class="cart-price">
                                <div class="price"><span class="currency">$</span><span class="price">999</span></div>
                            </div>
                            <div class="cart-count">x999</div>
                        </div>
                        <div class="cart-item-block">
                            <div class="cart-img">
                                <img src="../img/sample/img100_02.jpg" alt="商品圖片"/>
                            </div>
                            <div class="cart-info">
                                <div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
                                <div class="cart-size">規格：白色<br/>尺寸：L</div>
                            </div>
                            <div class="cart-price">
                                <div class="price"><span class="currency">$</span><span class="price">1,999</span></div>
                            </div>
                            <div class="cart-count">x99</div>
                        </div>

                        <div class="cart-item-block">
                            <div class="cart-img">
                                <img src="../img/sample/img100_03.jpg" alt="商品圖片"/>
                            </div>
                            <div class="cart-info">
                                <div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
                            </div>
                            <div class="cart-price">
                                <div class="price"><span class="currency">$</span><span class="price">999</span></div>
                            </div>
                            <div class="cart-count">x999</div>
                        </div>

                        <div class="cart-item-block">
                            <div class="cart-img">
                                <img src="../img/sample/img100_04.jpg" alt="商品圖片"/>
                            </div>
                            <div class="cart-info">
                                <div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
                            </div>
                            <div class="cart-price">
                                <div class="price"><span class="currency">$</span><span class="price">99</span></div>
                            </div>
                            <div class="cart-count">x9</div>
                        </div>

                        <div class="cart-item-block">
                            <div class="cart-img">
                                <img src="../img/sample/img100_05.jpg" alt="商品圖片"/>
                            </div>
                            <div class="cart-info">
                                <div class="cart-name">韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g</div>
                            </div>
                            <div class="cart-price">
                                <div class="price"><span class="currency">$</span><span class="price">999</span></div>
                            </div>
                            <div class="cart-count">x999</div>
                        </div>
               
                </div>
                <div class="cart-block orderprice">
                    <div class="cart-sub-block">
                        <div class="cart-block-txt"> 商品金額：</div>
                        <div class="cart-block-txt"><span class="currency">$</span><span class="price">999,939</span></div>
                    </div>
                    <div class="cart-sub-block">
                        <div class="cart-block-txt">運費：</div>
                        <div class="cart-block-txt"><span class="currency">$</span><span class="price">60</span></div>
                    </div>
                    
                    <div class="cart-sub-block">
                        <div class="cart-block-txt">總金額：</div>
                        <div class="cart-block-txt"><span class="currency">$</span><span class="price">999,999</span></div>
                    </div>
                </div>
            
                <!-- 訂購人資訊 -->
                 <div class="cart-block orderman">
                    <h3>訂購人資訊</h3>
                    <div class="cart-sub-block">
                        <div class="ordername">
                            <input type="text" placeholder="訂購人姓名"/>
                            <div class="sex"><label for="male"><input type="radio" name="sex" id="male"/>先生</label><label for="female"><input type="radio" name="sex" id="female"/>小姐</label></div>
                        </div>
                        
                        <input type="email" placeholder="訂購人E-mail"/>
                        <input type="tel" placeholder="訂購人手機號碼"/>
                    </div>
                </div>
                <!-- 付款方式 -->
                <div class="cart-block">
                    <div class="cart-sub-block radio">
                        <div class="cart-block-txt"> 付款方式：</div>
                        <div class="cart-block-txt">
                            <div class="order-radio-all">
                                <input type="radio" class="radio-btn" id="radio1" name="logistics" value="1" checked="checked"/>
                                <label for="radio1" class="radio-label">信用卡一次付清</label> 
                            </div>
                            <div class="order-radio-all">
                                <input type="radio" class="radio-btn" id="radio2" name="logistics" value="2"/>
                                <label for="radio2" class="radio-label">信用卡分期</label> 
                            </div>
                        </div>
                    </div>
                    <div class="cart-sub-block card-num">
                        <div class="card-line">
                            <input type="text" placeholder="信用卡號"/><p>請輸入信用卡卡號</p>
                        </div>
                        <div class="card-line-m">
                            <div class="card-fill">
                                <select name="" id="">
                                    <option value="">1月</option>
                                </select>
                                <p>請輸入信用卡截止月份</p>
                            </div>
                            <div class="card-fill">
                                <select name="" id="">
                                        <option value="">2020年</option>
                                </select>
                                <p>請輸入信用卡截止年份</p>
                            </div>
                            <div class="card-fill"><input type="text" placeholder="信用卡末三碼"/><br/><p>請輸入信用卡背後末三碼</p></div>
                        </div>
                    </div>
                </div>
                <!-- 持卡人資訊 -->
                <div class="cart-block orderman">
                    <h3> 持卡人資訊：<label for="chk1"><input type="checkbox" class="chk-btn" id="chk1" name="chkinfo" value="1" checked="checked"/>同訂購人</label></h3>
                    <div class="cart-sub-block">
                        <input type="text" placeholder="持卡人姓名"/>
                        <input type="tel" placeholder="持卡人手機號碼"/>
                    </div>
                    <div class="cart-sub-block radio stag">
                        <div class="cart-block-txt"> 分期方式：</div>
                        <div class="cart-block-txt">
                            <div class="order-radio-all">
                                <input type="radio" class="radio-btn" id="radio3" name="sp" value="1" checked="checked">
                                <label for="radio3" class="radio-label">$163 x 3期0利率</label> 
                            </div>
                            <div class="order-radio-all">
                                <input type="radio" class="radio-btn" id="radio4" name="sp" value="2">
                                <label for="radio4" class="radio-label">$81 x 6期0利率</label> 
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="cart-block">
                    <div class="cart-sub-block deliver_box">
                        <div class="deliver_info">
                            <p>宅配收件資訊：</p>
                            <p><span class="cart-block-txt">收件人：</span>優達斯UITOX</p>
                            <p><span class="cart-block-txt">聯絡電話：</span>0912-245678</p>
                            <p><span class="cart-block-txt">收件地址：</span>110台北市信義區忠孝東路四段563號8F</p>
                        </div>
                        <a class="deliver_addr fancybox" data-fancybox data-type="ajax" data-src="popup/fancybox_addr.html" data-filter="#addr_fin" href="javascript:;">新增/修改收件地址</a>
                    </div>
                </div>
            </div><!-- cart-main -->
        </div>
        
        <footer class="cart_footer">
            <div class="confirm">
                <button class="btn-prev" onclick="location.href='orderlist.html'" type="button"><i class="fa fa-chevron-left" aria-hidden="true"></i>上一步</button>
                <!-- <div class="delivery_m">請選擇收件方式：</div>-->
                <button class="btn-confirm" type="button">去付款&nbsp;$999,999</button>
            </div>
        </footer>
    </div>

</body> 
</html>