<!doctype html>
<html lang="zh-TW">
<head>
    <%= render :partial => "head" %>
</head>
<body>
    <div class="cart-outter">
        <%= render :partial => "header" %>
        <div class="cart-body">
            <div class="cart-main">
                <div class="cart-fail">
                    <p class="red">訂購失敗！</p>
                    <p>很抱歉，在您購買過程中，可能由於搶購原因，商品：SONY 4K 65吋液晶連網電視<span class="red">已經缺貨！</span></p>
                    <p>我們已經取消您的訂單，造成您的不便請見諒。</p>
                </div>
            </div><!-- cart-main -->
        </div>
        
        <footer class="cart_footer cart-fail-btn">
            <div class="confirm">
                <button class="btn-next" onclick="location.href='confirm_delivery.html'" type="button">繼續選購<i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
        </footer>
    </div>
    
</body> 
</html>