<!doctype html>
<html lang="zh-TW">
<head>
    <%= render :partial => "head" %>
</head>
<body>
    <div class="cart-outter">
        <%= render :partial => "header" %>
        <div class="cart-body">
            <div class="cart-main">
                <div class="cart-fail">
                    <p class="red">訂購失敗！</p>
                    <p>很抱歉，可能由於網路連線問題，商品訂購沒有成功！</p>
                    <p>請您稍候再重新訂購，造成您的不便請見諒。</p>
                </div>
            </div><!-- cart-main -->
        </div>
        
        <footer class="cart_footer cart-fail-btn">
            <div class="confirm">
                <button class="btn-next" onclick="location.href='confirm_delivery.html'" type="button">繼續選購<i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
        </footer>
    </div>
    
</body> 
</html>