<!doctype html>
<html lang="zh-TW">
<head>
    <%= render :partial => "head" %>
</head>
<body>
    <div class="cart-outter">
        <%= render :partial => "header" %>
        <div class="cart-body">
            <div class="cart-main">
                <div class="cart-fail">
                    <p class="red">訂購失敗！</p>
                    <p>很抱歉，您所提供的信用卡資訊<span class="red">無法通過銀行授權！</span></p>
                    <p>請確認您的刷卡資訊是否輸入錯誤或是與發卡銀行聯絡</p>
                    <p>我們已經取消您的訂單，造成您的不便請見諒。</p>
                </div>
            </div><!-- cart-main -->
        </div>
        
        <footer class="cart_footer cart-fail-btn">
            <div class="confirm">
                <button class="btn-prev" onclick="location.href='orderlist.html'" type="button"><i class="fa fa-angle-left" aria-hidden="true"></i>回上頁</button>
                <button class="btn-next" onclick="location.href='confirm_delivery.html'" type="button">繼續選購<i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
        </footer>
    </div>
    
</body> 
</html>