// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";

@import "../3rd-party/_font-awesome.min.scss";
@import "../3rd-party/_swiper.scss";
// 熱搜
.md_index_hot{
    margin:0 auto;
    background-color: white;
    border-bottom:10px solid #ccc;
	.hot_body{
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		height: 85px;
	}
	.hot_cont{
		width:100%;
        height:60px;
		padding:10px;
		align-self: center;
		display: flex;
		flex-flow: row wrap;
		overflow-y: hidden;
        justify-content: flex-start;
		-webkit-overflow-scrolling: touch;
	}
	li{
		display:block;
        margin: 0 5px;
        display:block;
		text-align: center;
		margin-bottom: 8px;
		padding:5px 6px;
		color:#333;
		font-size:1rem;
		border:1px solid #ccc;
		background-color: #eee;
		@include border-radius(15px);
	}
}
.site-main{
    @include clearfix;
    .items{
        .item{
            display:flex;
            flex-flow:row nowrap;
            width:100%;
            margin:5px 0;
            padding: 10px;
            border-bottom:10px solid #eee;
            @include box-sizing(border-box);
        }
        .photo{
            display: block;
            flex-basis: 30%;
            position: relative;
            width: 120px;
            height: 120px;
            overflow: hidden;
            @include border-radius(10px);
            .float{
                display: none;
            }
            img{
                width:120px;
                display: block;
                
            }
        }
        .info{
            display: flex;
            flex-flow:column nowrap;
            justify-content: space-between;
            flex-basis: 64%;
            width:auto;
            margin:0 10px;
            padding: 10px 0;
        }
        .name{
            width:100%;
            height:38px;
            font-size:1rem;
            line-height:1.2;
            text-overflow: ellipsis;
            overflow: hidden;
            a{
                color:#333;
            }
        }
        .price{
            margin-left:5px;
            color:#d00;
            font-size:1rem;
            font-family: sans-serif;
        }
        .oth-info{
            display: flex;
            flex-flow:row nowrap;
            align-items: center;
            justify-content: space-between;
            width:100%;
            .func{
                margin-right:10px;
            }
            a{
                margin:0 5px;
                font-size:1.5rem;
                color:#07b;
            }
            .i-cart{
                font-size:1.6rem;
            }
        }
    }
}