// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";

@import "../3rd-party/_font-awesome.min.scss";

.cupn{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    margin-top:20px;
    .cupn_t{
        margin: 0 0 5px;
    }
    .cupn_slide{
        margin-right:35px;
    }
    .cupn_block{
        width:300px;
        padding:5px;
        color:white;
        background: linear-gradient(45deg, #cbd 25%, #f5eefb 0, #f5eefb 50%, #cbd 0, #cbd 75%, #f5eefb 0);
        background-size: 5px 5px;
    }
    .cupn_block{
        display: inline-block;
        margin:0 0 20px;
        vertical-align: middle;
    }
    .cupn_bg{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background: black;
        cursor: pointer;
    }
    img{
        width:80px;height:80px;
        margin:12px;
        @include border-radius(10px);
    }
    .expired{
        position: relative;
        .fog{
            width: 100%;height:100%;
            position: absolute;left:0;top:0;
            background: rgba(255,255,255,0.6);
        }
        .expired_bg{
            position: absolute;left:12px;top:50%;margin-top:-20px;
            width: 80px;height: 40px;
            background: linear-gradient(45deg, red 25%, white 0, white 50%, red 0, red 75%, white 0);
            background-size: 6px 6px;
        }
        span{
            position: absolute;left: 0;top: 50%;margin-top:-14px;
            width: 80px;
            height: 28px;line-height: 28px;
            color: red;
            font-size: 1.4rem;
            text-align: center;
            background: white;
        }
    }
    .cupn_info{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
        padding-left:10px;
        border-left:1px solid #999;
    }
    .cupn_dur{
        font-size:.8rem;
        color:white;
        span{
            font-size:.8rem;
        }
    }
    .cupn_num{
        margin-top:2px;
        color:#ffc;
        font-size:.7rem;
        white-space: nowrap;
    }
    .name{
        display: block;
        width:158px;
        padding:8px 0;
        font-size:.9rem;
        color:white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
   .cupn_price{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        padding:8px 0;
       .title{
           color:red;
           font-size:.9rem;
       }
       .price{
           margin-left:5px;
           color:#ff0;
       }
   }
}
.cupn_t,.item_t{
    margin-top:40px;
    color:#888;
    font-size:1.1rem;
}
@keyframes float {
    100%{
        transform: translateX(10px);
    }
}
