// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";

@import "../3rd-party/_font-awesome.min.scss";
@import "../3rd-party/_swiper.scss";
@import "../3rd-party/_fancybox_style.scss";

.item-list-follow { 
    //button style
    button{
        min-width:90px;
        margin:0 5px;
        padding:8px 5px;
        font-size:.8rem;
        letter-spacing: 1px;
        font-weight: 700;
        text-align: center;
        border:none;
        color:white;
        background-color:#0069cd;
        cursor: pointer;
        line-height: 1;
    }
    .btn-cart{
        color:white;
        background-color:#0069cd;
    }
    .btn-imd{
        background-color: #e00;
    }
    .btn-fav{
        color:#0069cd;
        background-color: #eee;
        border:1px solid #ccc;
        i{
            margin-right:3px;
        }
    }
    .btn-notsale{
        color:white;
        background-color:#999;
        cursor: not-allowed;
    }
    .btn-lack{
        color:#999;
        background-color: #eee;
        border:1px solid #ccc;
        cursor: not-allowed;
    }
    .btn-notify{
        color:#333;
        background-color:#ffc440;
    }


	.follow-list-block{
		position: relative;
		width: 100%;
		height: auto;		
		color: #333;
		padding: 5px 5px;
        background: white;
        @include box-sizing(border-box);
		&:first-child{
			margin-top: 5px;
		}
	}	
	.follow-list{
        width: 100%;
		.follow-list-content{	
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
			margin-bottom: 15px;
			padding: 0 0 13px;
			border-bottom: 1px dashed #ccc;
            position: relative;
            
            .f_mid{
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-end;
                flex-basis: 100%;
                margin:0 10px;
            }
            .f_bot{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                margin-top:10px;
            }
            .f_right{
                margin-right:10px;
            }
            &.none-item{
                padding: 15px 10px;
                font-size: 1rem;
                color: black;
                font-weight: 700;
                border:1px solid #ccc;
            }
		}
		.follow-date{
            flex-basis: 8%;
            line-height: 1.5;
            font-size: 0.8rem;
            text-align: center;
		}
		.follow-photo{
            flex-basis: 10%;
            a{
                display: block;
            }
			img{
                width: 80px;
                max-width: 80px;
                max-height:80px;
			}
		}
		.follow-name{
            font-size: .8rem;
            line-height: 1.3;			
			a{
                color: #06c;
                text-decoration: underline;
				&:hover {
				  color: #e00;
				}
			}
		}
		.follow-price{
            color:red;
			text-align: right;
            font-size:1.3rem;
            &::first-letter{
                font-size:.9rem;
            }
		}
		.follow-status{
            font-size:.9rem;
		}

		.follow-notice-date{
            font-size:.9rem;
            line-height: 1.3;
			text-align: center;
			span{
				display: block;
			}
		}
		.follow-delete{
			font-size: 1rem;
			cursor: pointer;
			&:before {
				@include icon-font("\f00d");
			}				
		}
	}
	.follow-list-info{
		font-size: 0.9rem;
		line-height: 1.7;
		padding:0 10px 20px;
		ul{
			padding-left: 25px;
		}
		li{
			list-style-type: decimal;
			margin-top: 5px;
		}
	}
}
