// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";
@import "partials/cupn";

@import "../3rd-party/_font-awesome.min.scss";
@import "../3rd-party/_swiper.scss";
.per_slide{
    width:78%;
    max-width:300px;
    height:185px;
    display:flex;
    flex-flow:row nowrap;
    margin:10px 0 10px 10px;
    padding:10px;
    @include background-image(linear-gradient(to bottom, #f00, #000));
    @include box-sizing(border-box);
    &.test{
        padding:17px 10px;
        @include background-image(linear-gradient(to bottom, #0080cc, #000));
        &.hot{
            @include background-image(linear-gradient(to bottom, #c09, #000));
            .per_t{
                color:#ffc;
            }
            .per_buy{
                .pay_dis{
                    color:#ffc;
                    .price{
                        color:#ffc;
                        font-size:1.6rem;
                    }
                }
            } 
        }
        .per_dur{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            min-width:130px;
        }
        .per_t{
            color: #9df;
            font-size: .9rem;
        }
        .per_img{
           width:auto;
           height:130px;
        }
        .per_buy{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            margin: 22px 0 0 10px;
            font-family: sans-serif;
        }
        .name{
            height:50px;
            font-size:.8rem;
            color:white;
        }
        .per_buy{
            .pay_dis{
                display: flex;
                flex-flow: row wrap;
                align-items: baseline;
                color:#9df;
                .title{
                    font-size:.8rem;
                }
                .price{
                    margin:2px 0;
                    color:#9df;
                    font-size:1.7rem;
                }
                .btn-imd{
                    margin-top:5px;
                }
            }
        }
        .btn-imd{
            width:100%;
            padding: 10px 8px 10px 10px;
        }
    }
    .per_item{
        position: relative;
        color:white;
        font-size:.8rem;
        flex-basis: 100%;
        .per_t{
            position: absolute;left:0; top:5px;
            color: #ffc;
            font-size:.9rem;
            white-space: nowrap;
        }
        .per_img{
            width:130px;
            margin-top: 28px;
        }
    }
    .name{
        height: 35px;
        margin-top:6px;
        line-height: 1.4;
        font-size: .8rem;
        color: white;
        overflow: hidden;
        word-break: break-word;
    }
    .per_img{
        display: block;
        width:100%;
        max-height:130px;
        @include border-radius(10px);
    } 
    .per_info{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        flex-basis: 100%;
        margin: 22px 0 0 10px;
        .per_limit{
            color:#ffa;
            font-size:.9rem;
            line-height: 1.5;
        }
        .nor{ 
            color:#888;
            font-size:.75rem;
            del{
                font-size:1rem;
                text-decoration: none;
            }
        }
        .pay_dis{
            color:#ff0;
            .title{
                font-size:.75rem;
            }
            .price{
                font-size:1.4rem;
            }
        }
    }
    .btn-imd{
        width:100%;
        margin-top:15px;
        padding: 10px 15px 10px 20px;
        font-size: 1rem;
        letter-spacing: 5px;
        font-weight: 700;
        border: none;
        color: white;
        background-color: #e00;
        cursor: pointer;
        line-height: 1;
        align-self:center;
    }
}
.rec_slide{
    width:100%;
    max-width:170px;
    height:185px;
    display: flex;
    flex-flow: row nowrap;
    margin: 10px;
    @include box-sizing(border-box);
    .rec_title{
        padding:5px;
        color:#777;
        text-align: center;
        writing-mode: vertical-lr;
        background-color:#eee;
        letter-spacing: 2px;
        i{
            margin:5px 0;
            padding: 2px;
            color:white;
            font-size:1rem;
            background-color:#999;
            @include border-radius(50%);
            vertical-align: -webkit-baseline-middle;
            &:before{
                display: block;
                margin-left:2px;
            }
        }
    }
    .rec_img{
        display: block;
        width:100%;
        max-height: 130px;
    }
    .rec_info{
        padding:5px;
        margin-left:3px;
        background-color:#eee;
    }
    .name{
        height:32px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size:.85rem;
        color:black;
        line-height: 1.2;
        overflow: hidden;
        word-break: break-word;
    }
    .rec_price{
        margin-top:3px;
        color:red;
        font-size:.85rem;
        text-align: right;
    }
}
.ad_banner{
    img{
        width:100%;
        display: block;
    }
}
.md_index_5icon {
    ul {
        display: flex;
        padding: 0 10px;
        flex-direction: row;
        flex-flow: row nowrap;
		justify-content: space-between;
        background:white;
        border-top:10px solid #ccc;
        border-bottom:10px solid #ccc;
    }
    li {
        margin:8px;
        a {
            display: block;
            margin: 0 auto;
            font-size: 0.8rem;
            color: #666;
        }
        img {
            width: 100%;
            display: block;
            @include border-radius(50%);
        }
        span {
            display: block;
            padding: 4px 0;
            text-align: center;
        }
    }
}
.cupn{
    margin:0;
    padding:10px 0 10px 10px;
    border:none;
    border-bottom:10px solid #ccc;
}
// 熱搜
.md_index_hot{
    margin:0 auto;
    background-color: white;
    border-bottom:10px solid #ccc;
	.hot_body{
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
	}
	.hot_cont{
		width:100%;
        height:64px;
		margin:10px 5px;
		align-self: center;
		display: flex;
		flex-flow: row wrap;
		overflow-y: hidden;
        justify-content: flex-start;
		-webkit-overflow-scrolling: touch;
	}
	li{
		display:block;
        margin: 0 5px;
        display:block;
		text-align: center;
		margin-bottom: 8px;
		padding:5px 6px;
		color:#333;
		font-size:1rem;
		border:1px solid #ccc;
		background-color: #eee;
		@include border-radius(15px);
	}
}
.site-main{
    @include clearfix;
    .items{
        margin:5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .item{
            width:(100%/3.1);
            margin:0 0 5px;
            padding: 5px ;
            background-color: #eee;
            @include border-radius(10px);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:hover{
                background: #ddd;
            }
        }
        .photo{
            display: block;
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 100%;
            overflow: hidden;
            .float{
                display: none;
            }
            img{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                max-width: 100%;
                max-height: 100%;
                @include border-radius(10px);
            }
        }
        .info{
            margin:5px 0;
            padding-top: 5px;
        }
        .name{
            color: #333;
            font-size:.8rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .price{
            margin:5px 0 0;
            color:#d00;
            font-size:.9rem;
            font-family: sans-serif;
            text-align: right;
        }
    }
}
@media only screen and (max-width: 360px) {
    .per_slide{
        .per_info{
            .pay_dis{
                .price{
                    font-size:1.2rem;
                }
            }
        }
        &.test{
            &.hot{
                .per_buy{
                    .pay_dis{
                        .price{
                            font-size:1.4rem;
                        }
                    }
                }
            }
        }
    }
}   
@media only screen and (max-width: 320px) {
    .per_slide{
        width:86%;
        .per_info{
            .per_limit{
                font-size:.75rem;
            }
            .pay_dis{
                .btn-imd{
                    margin-top:10px;
                    padding:8px 10px;
                    font-size:1rem;
                }
                .price{
                    font-size:1.1rem;
                }
            }
        }
        &.test{
            .per_buy{
                .pay_dis{
                    .price{
                        font-size:1.125rem;
                    }
                }
            }
            &.hot{
                .per_buy{
                    .pay_dis{
                        .price{
                            font-size:1.3rem;
                        }
                    }
                }
            }
        }
    }
}   