// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";

@import "../3rd-party/_font-awesome.min.scss";
@import "../3rd-party/_swiper.scss";
@import "../3rd-party/_fancybox_style.scss";
.site-main{
    @include clearfix;
}
.quantity{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .title{
        margin-right:5px;
    }
	&.small{
		.quantity-input{
			height: 22px;
			width: 24px;
			font-size: 1rem;
		}
		.quantity-decrease, .quantity-increase{
			padding: 2px 4px;
            width: 20px;
		}
	}
	.quantity-input{
		width: 36px;
		height: 30px;
		margin: 0;
		padding: 0;
		text-align: center;
        font-size: 1rem;
        color:#e00;
		border:1px solid #ccc;
        border-right:none;
        border-left:none;
		-webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        line-height: 1;
        @include box-sizing(border-box);
	}
	.quantity-decrease,.quantity-increase{
		padding: 7px;
		display: inline-block;
        vertical-align: middle;
        font-size: 1rem;
        text-align: center;
        line-height: 1;
        color:#777;
        border: 1px solid #ccc;
		cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        @include box-sizing(border-box);
	}
}
// 麵包屑
.md_nav_breadcrumbs {
    width:100%;
    position: relative;
    background-color: #eee;
    @include box-sizing(border-box);
    .breadcrumbs{
        text-align:center;
        padding-left:10px;
    }
    .back{
        position: absolute;
        top: 0;left: 10px;
        font-size: 1.5rem;
        a{
            color:#0080cd;
        }
    }
    a{
        font-size:1rem;
        color:#777;
        text-decoration: underline;
    }
    .container {
        padding: 7px;
        @include box-sizing(border-box);
    }
    .item {
        height: 18px;
        max-width: 28%;
        margin-right: 5px;
        color: #aaa;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        & + .item {
            &:before {
                content: "\f105";
                margin-right: 5px;
                line-height: 1;
                font-family: FontAwesome;
                vertical-align: middle;
                display: inline-block;
            }
        }
        &.item-select {
            overflow: visible;
        }
    }
    .select-breadcrumbs {
        width: 95%;
        padding: 1px 3px;
        color: #aaa;
        font-size: 0.9rem;
        @include box-sizing(border-box);
        option {
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
// 單品頁主圖slider
.md-site-sliders {
    .swiper-container {
        line-height: 0;
        .swiper-slide {
            text-align: center;
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 100%;
            overflow: hidden;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            &.swiper-lazy {
                min-height: 100px;
                background: #fff url("../../../../../img/sth_asap_m/loading.svg") no-repeat center center;
            }
        }
        .swiper-pagination {
            position: absolute;
            left: 0;
            text-align: center;
            bottom: 10px;
            width: 100%;
        }
        .swiper-pagination-bullet {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background:#eee;
            margin: 0 3px;
            opacity: 1;
            cursor: pointer;
        }
        .swiper-pagination-bullet-active {
            background-color:#0080cd;
        }
        .swiper-slide-txt{
            display: block;
            margin-top:20px;
            color:#333;
            font-size:1.2rem;
            letter-spacing: 1px;
        }
    }
}

.md-item-main {
	.container {
		line-height: 1.9;
		background: #fff;
    }
    .item_per{
        padding:8px;
        text-align: center;
        line-height: 1;
        background-color: #88c533;
        img{
            width:95%;
        }
    }
	.time_txt{
		font-size:0.75rem;
	}
	.time_colon{
		padding:0 4px 0 0;
		color:#000;
		font-style: italic;
		background:transparent; 
	}
	.time_num{
			display: inline-block;
			min-width: 19px;
			padding:3px 5px;
			margin:0 1px 0 0;   
			text-align: center;
			color:white;
			font-family: sans-serif;
			background: -moz-linear-gradient(top,  #000 0%, #696e75 52%, #000 100%);
			background: -webkit-linear-gradient(top,  #000 0%,#696e75 52%,#000 100%);
			background: linear-gradient(to bottom,  #000 0%,#696e75 52%,#000 100%); 
	}
	.photo {
		position: relative;
	}
	.swiper-slide {
		img {
			max-width: 100%;
			width: auto;
		}
	}
	.info {
		padding: 10px;
	}
	.sale {
		top: 0;
		left: 0;
		right: 0;
		padding: 3px 0 3px 10px;
		color: #333;
		font-size: 0.9rem;
		line-height: 1.3;
		background:rgba(238, 238, 238, 0.8);
		position: absolute;
		z-index: 1;
		.type{
			margin:4px 5px 4px 0;
			color:#fb6190;
			font-size: 0.9rem;
			&:first-child{
				width:50%;min-height:19px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
		p {
			position: absolute;
			top:2px;right:0;
		}
		.time {
			color: #fff;
			font-weight: bold;
			margin: 0 5px;
			padding: 2px 5px;
			display: inline-block;
			li {
				display: inline-block;
			}
			div {
				height: 18px;
				display: inline-block;
				vertical-align: top;
				line-height: 1.2;
				overflow: hidden;
			}
		}
		.bought {
			margin: 0 5px;
			display: inline-block;
			vertical-align: middle;
		}
		.go-activity {
			display: inline-block;
			a{
				color: #06c;
			}
		}
    }
    .item_sec{
        padding:10px;
        border-bottom:8px solid #eee;
    }
    .tags{
        display: flex;
        flex-flow: row wrap;
    }
	.tag-status {
		font-size: 0.8rem;
        margin: 0 5px 0 0;
        padding:3px 8px;
        color:#777;
        border:1px solid #777;
	}
	.name {
		color: #333;
		font-size: 1.1rem;
		line-height: 1.4;
		margin: 5px 0;
    }
    .dur{
        margin:5px 0;
        font-size: 1rem;
        color: #d00;
    }
    .pay_dis{
        display:inline-block;
        margin:-5px 5px 10px 0;
        .title{
            color:#d00;
            font-size:1rem;
        }
        .price{
            margin-left:3px;
            color:#d00;
            font-size: 1.8rem;
            text-decoration:none;
            small{
                font-size:1.2rem;
            }
        }
        &.ori{
            .title,.price{
                color:#999;
            }
            del{
                font-size:1.5rem;
            }
        }
    }
    .quantity{
        margin:0 10px 5px 0;
        vertical-align: middle;
        .quantity-decrease,.quantity-increase{
            padding: 11px 10px 10px 10px;            
        }
        .quantity-input{
            width:60px;
            height:39px;
            font-size:1.2rem;
        }
    }
	.price,.limit_buy {
		font-size: .9rem;
        line-height: 1.4;
        color:#999;
    }
    .price_t{
        color:#777;
    }
	.net-price {
		color: #e00;
		font-size: 1.6rem;
		display: inline-block;
    }
    .coupon{
        color:#333;
    }
    .act_sec,.spec_sec,.pay_sec{
        border-bottom:8px solid #eee;
    }
    .act{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding:15px;
        border-bottom:1px solid #ccc;
        .act_tag{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            p{
                min-width: 55px;
                padding:5px 10px;
                letter-spacing: 2px;
                color:white;
                background-color: #e00;
                text-align: center;
            }
            h3{
                margin-left:5px;
                color:#555;
                font-size:.9rem;
            }
        }
        .fa-angle-right{
            color:#555;
            font-size:1.5rem;
            margin-right:10px;
        }
    }
    .spec{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding:15px;
        border-bottom:1px solid #ccc;
        .spec_tag{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            .spec_tag_t{
                min-width: 53px;
                padding:3px 5px;
                letter-spacing: 2px;
                color:#555;
                background-color: #efeeee;
                border:1px solid #aaa;
                text-align: center;
            }
            .spec_des{
                margin-left:5px;
                color:#555;
                font-size:.9rem;
            }
            .fa-star{
                color:#e00;
                font-size:1rem;
            }
        }
        .red{
            color:#e00;
        }
        .spec_num{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            p{
                color:black;
                &.red{
                    color:#e00;
                }
            }
            .fa-angle-right{
                color:#555;
                font-size:1.5rem;
                margin:0 10px;
            }
        }
    }
    .pay{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding:15px;
        border-bottom:1px solid #ccc;
        .pay_tag{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            .pay_tag_t{
                min-width: 50px;
                padding:3px 5px;
                letter-spacing: 2px;
                color:#aaa;
                font-size: .9rem;
                text-align: center;
            }
            .pay_des{
                margin-left:5px;
                color:#555;
                font-size:.9rem;
            }
        }
        .fa-angle-right{
            color:#555;
            font-size:1.5rem;
            margin-right:10px;
        }
    }
    .prod_sec{
        padding: 0 10px;
        color: #333;
        font-size: .9rem;
        line-height: 1.5;
        .prod_img,img{
            width:100%;
            display: block;
        }
        .prod_des{
            padding:10px;
            color:#555;
            font-size:.9rem;
            line-height: 1.4;
        }
    }
}

// 相關商品
.md-item-related{
    padding:10px;
    border-top:5px solid #ccc;
    border-left:1px solid #ccc;
    .swiper-container{
        width: 100%;
        height: 100%;
    }
    .swiper-pagination{
        bottom:0;
    }
    .swiper-pagination-bullet-active{
        background: #777;
    }
    .related-title{
        margin:0 0 10px;
        color:#666;
        letter-spacing: 1px;
    }
    .related-slide{
        position: relative;
        margin: 0 auto;
    }
    .item{
        display: block;
        padding:5px;
        margin-bottom:20px;
        background-color:#f5f5f5;
        @include box-sizing(border-box);
        @include border-radius(8px);
    }
    .photo{
		width: 100%;
        height: 0;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        background: #FFF;
        @include border-radius(8px);
		img{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            display: block;
            margin: 0 auto;
		}
    }
    .info{
        padding:0;
    }
    .name{
        color: #333;
        font-size:.85rem;
        height: 32px;
        line-height: 1.2;
        overflow: hidden;
        word-break: break-word;
    }
    .price{
        text-align: right;
        color:#d00;
        font-size:.9rem;
        font-family: sans-serif;
    }
}


.item_foot {
	width: 100%;
	position: fixed;
    bottom: 0;
	left: 0;
	background-color:#eee;
	z-index: 10;
	.shop_btn {
        display:flex;
		flex-flow: row nowrap;
		font-size: 0;
		line-height: 1.5;
	}
	[class*="img-"] {
		display: block;
		width:45px;height:45px;
		margin: 0 auto;
	}
    button{
        flex:2 1 0;
        padding:10px;
        font-size: 1.1rem;
        letter-spacing: 1px;
        color:white;
        text-align: center;
        text-decoration: none;
        border:none;
        z-index: 10;
        .fa{
			margin-left: 3px;
			font-size:1.3rem;
			vertical-align: -1px;
		}
    }
    .btn-cart{
        background-color:#e00;
    }
	.btn-imd{
		background: #06c;
    }
    .btn-notify{
        color: #333;
        background-color: #ffc440;
    }
    .btn-lack{
        color: #555;
        background-color: #eee;
    }
    .btn-notsale{
        color: white;
        background-color: #999;
    }
	a {
		display: block;
		padding: 0 10px;
		text-align: center;
		text-decoration: underline;
	}
}


// fancybox
.fancybox-hide{
    width:100% !important;
    left:0 !important;
}
.fancybox-colorsize,.fancybox-warranty{
    top: initial !important;
    bottom:0 !important;
    .fancybox-close{
        width: 15px;height: 15px;
        top: 5px;right: 5px;
        background: none;
        border:3px solid black;
        &::before{
            content: '✕';
            position: absolute;top: 0;
            padding:0;
            font-size: 1.31rem;
            color: black;
        }
    }
    .fancybox-skin{
        @include border-radius(0);
    }
}
.popup_colorsize{
    display: none;
    background: white;
    .swiper-slide{
        width: 100%;
        padding:15px 15px 55px;
        @include box-sizing(border-box);
    }
    .add_t{
        position: relative;
        margin:0 0 9px;
        padding:5px;
        text-align: center;
        color:white;
        font-size:1.2rem;
        background-color: black;
        @include clearfix;
        a{
            position: absolute;left:10px;top:0;
            color:white;
            font-size: 1.7rem;
        }
        span{
            margin: 0 2px;
            color:#fffd0f;
        }
    }
    .colorsize_t{
        margin:0 0 10px;
        padding:5px;
        color:white;
        font-size:1rem;
        background-color: black;
    }
    .colorsize_item{
        display: flex;
        flex-flow: row nowrap;
        img{
            width:80px;max-height:80px;
            margin:0 5px 0 0;
            border:1px solid #aaa;
        }
        .colorsize_item_info{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            margin:0 22px 0 0;
            .name{
                height:33px;
                margin-bottom:5px;
                font-size:.9rem;
                font-weight: 500;
                line-height: 1.2;
                color:#777;
                overflow: hidden;
            }
            small{
                font-size: .8rem;
            }
            .price{
                color: #e00;
                font-size: 1.4rem;
                .price_t{
                    margin-right:3px;
                    font-size:1rem;
                    color:#555;
                }
            }
            .limit_buy{
                font-size: .9rem;
                color: #999;
            }
        }
    }
    .md_item_line{
        height:272px;
        margin-top:15px;
        overflow-y: auto;
        overflow-x:hidden;
        .key {
            color: black;
            display: inline-block;
            vertical-align: top;
            word-wrap: break-word;
            width: 100px;
        }
        .value {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            position: relative;
            margin-bottom:15px;
            z-index: 0;
            &.is-color{
                justify-content: unset;
                li{
                    margin-right:13px;
                    flex-basis: 22%;
                }
            }
            > li {
                flex-basis: 41%;
                padding: 5px 12px;
                margin: 0 0 8px 0;
                color:#777;
                border: 1px solid #cccccc;
                font-size: 1.1rem;
                font-weight: 500;
                position: relative;
                cursor: pointer;
                &.img {
                    padding: 1px;
                }
                img {
                    height: 100%;
                    display: block;
                    width: 32px;
                    text-align: center;
                    position: relative;
                    z-index: 0;
                }
            }
            .item {
                margin-bottom: 8px;
            }
            .active {
                position: relative;
                border: 1px solid #e00517;
                color: #e00517;
                z-index: 0;
                &:after {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    content: '';
                    border-style: solid;
                    border-width: 0 0 15px 15px;
                    border-color: transparent transparent #e00517 transparent;
                    z-index: 10;
                }
                .type {
                    padding: 3px;
                }
                .fa {
                    position: absolute;
                    right: -1px;
                    bottom: -2px;
                    color: white;
                    font-size: 12px;
                    z-index: 99;
                    -ms-transform: scale(0.8, 0.8);
                    /* IE 9 */
                    -webkit-transform: scale(0.8, 0.8);
                    /* Chrome, Safari, Opera */
                    transform: scale(0.8, 0.8);
                }
            }
            .disabled {
                position: relative;
                cursor: not-allowed;
                color:#ccc;
                border: 1px solid #cccccc;
            }
        }
    }
    .quantity{
        display: flex;
        flex-flow:row nowrap;
        align-items: center;
        margin:0 -15px;
        padding:15px;
        font-size:1rem;
        border-top:5px solid #ccc;
        .quantity-decrease,.quantity-increase{
            font-size:.9rem;
        }
        .title{
            margin: 0 10px 0 0;
            padding:0;
            color: black;
            font-size:1rem;
            font-weight: 500;
            background: none;
        }
    }
    .colorsize_bot{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom:15px;
        a{
            flex-basis: 40%;
            padding:10px;
            color:#555;
            background-color:#efeeee;
            border:1px solid #aaa;
            .fa-star{
                margin-right:3px;
                color:red;
                font-size:.9rem;
            }
            .fa-angle-right{
                float:right;
                font-size:1.1rem;
            }
        }
    }
    .item_foot{
        .shop_btn{
            margin:0;
        }
    }
}
.fancybox-add{
    height:450px;
    overflow-y: auto;
    .value {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        margin:15px 0;
        z-index: 0;
        > li {
            padding: 7px 25px;
            margin: 0 15px 15px 0;
            color:#777;
            border: 1px solid #cccccc;
            font-size: 1.2rem;
            font-weight: 500;
            position: relative;
            cursor: pointer;
        }
        .active {
            position: relative;
            border: 1px solid #e00517;
            color: #e00517;
            z-index: 0;
            &:after {
                position: absolute;
                bottom: 0;
                right: 0;
                content: '';
                border-style: solid;
                border-width: 0 0 15px 15px;
                border-color: transparent transparent #e00517 transparent;
                z-index: 10;
            }
            .type {
                padding: 3px;
            }
            .fa {
                position: absolute;
                right: -1px;
                bottom: -2px;
                color: white;
                font-size: 12px;
                z-index: 99;
                -ms-transform: scale(0.8, 0.8);
                /* IE 9 */
                -webkit-transform: scale(0.8, 0.8);
                /* Chrome, Safari, Opera */
                transform: scale(0.8, 0.8);
            }
        }
        .disabled {
            position: relative;
            cursor: not-allowed;
            color:#ccc;
            border: 1px solid #cccccc;
        }
    }
}
.cart-item {
    padding:9px 5px 9px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .cart-item-block{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        &::after{
            display: block;
            content: "+";
            position: absolute;
            top: 34%;
            right: -40px;
            margin-top: -50px;
            color: #999;
            font-size: 50px;
            font-weight: 700;
            font-family: FontAwesome;
        }
        &:last-child:after{
            display: none;
        }
    }
    &:last-child {
        border: none;
    }
    &.is-lack {
        background: #ccc;
        .order-chk-all {
            visibility: hidden;
        }
    }
    .order-chk-all {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-right: 5px;
    }
    .order-chk {
        display: none;
    }
    .order-chk-label {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        align-self: center;
        position: relative;
        border: 1px solid #ccc;
        &:after{
            content: "";
            position: absolute;
            height: 8px;
            width: 16px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            left: 6px;
            top: 6px;
        }
    }
    .order-chk:checked + .order-chk-label {
        border: 1px solid #e00;
        background: #e00;
    }
    .cart-img {
        margin-right: 4px;
        img {
            display: block;
            width: 70px;
            border: 1px solid #ccc;
        }
    }
    .cart-info {
        flex-basis: 60%;
        display: flex;
        flex-flow: column nowrap;
        margin-right: 5px;
        justify-content: space-between;
    }
    .cart-name {
        height: 42px;
        margin-bottom: 5px;
        overflow: hidden;
        color: #666;
        font-size: .85rem;
        line-height: 1.4;
    }
    .cart-select{
        select{
            min-width:100px;
            padding:5px;
            font-size:.9rem;
            background: #eee;
            border:1px solid #999;
            @include border-radius(5px);
            -moz-appearance: menulist;
            -webkit-appearance: menulist;
            appearance: menulist;
            &:focus{
                outline: 0;
            }
        }
    }
    .price {
        margin-right: 3px;
        font-size: .9rem;
        color: #e00;
        >.price{
         font-size:1.2rem;   
        }
    }
    &.AB_size{
        padding:9px 5px 0 0;
        border:none;
        .cart-item-block{
            justify-content: flex-start;
        }
    }
}

.AB_colorsize .md_item_line{
    height:332px;
}
.cart-item_AB{
    display: flex;
    flex-flow: row wrap;
    height:290px;
    overflow-y: auto;
    .cart-item-block{
        flex-basis: 30%;
        margin:0 12px 20px 0;
        position: relative;
        &:last-child{
            margin-right:0;
        }
        &:after{
            display: block;
            content: "+";
            position: absolute;
            top: 34%;
            right: -9px;
            margin-top: -16px;
            color: #999;
            font-size: 2rem;
            font-family: FontAwesome;
        }
    }
    .cart-img {
        img {
            display: block;
            width: 100px;
            max-height: 100px;
            border: 1px solid #ccc;
        }
    }
    .cart-info {
        padding-right:14px;
        [class^="AB_size"] {
            padding:5px 10px;
            color:#ccc;
            border:1px solid #ccc;
        }
        .AB_size_multi{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 0 0 10px;
            color:#e00;
            border:1px solid #e00;
            i{
                padding:5px 2px 5px 6px;
                color:white;
                font-weight:700;
                background-color: #e00;
            }
        }
        .AB_size_one{
            text-align: center;
        }
    }
    .cart-name {
        height: 33px;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666;
        font-size: .8rem;
        line-height: 1.4;
    }
    .price {
        margin-right: 3px;
        font-size: .9rem;
        color: #e00;
        >.price{
         font-size:1.2rem;   
        }
    }
}


.hide_prod_box{
    display: none;
    width:100%;
    text-align: center;
    margin:0 auto;
}
.hide_prod_t{
    padding: 0 0 10px;
    border-bottom: 1px solid #aaa;
    .pay_dis{
        display: inline-block;
    }
    .title{
        padding-right:3px;
        color:#d00;
        font-size:.8rem;
        background: none;
        font-weight: 500;
    }
    .ori{
        .title,.price{
            color:#999;
        }
    }
    .price{
        color:#d00;
        font-size:1.2rem;
    }
    small{
        font-size:1rem;
    }
}
.hide_des{
    padding:10px;
    text-align:center;
    p{
        margin-bottom:5px;
        font-size:1.8rem;
        color:#0080cd;
    }
    small{
        color:#aaa;
    }
}
.hide_btn{
    margin:20px 0 0;
    text-align: center;
    .button{
        padding: 12px 20px;
        margin-right: 10px;
        font-size: 1.1rem;
        letter-spacing: 3px;
        font-weight: 700;
        text-align: center;
        border: none;
        color: #999;
        background-color: #eee;
        cursor: pointer;
        line-height: 1;
        outline: 0;
        &.btn-order{
            color:white;
            background-color: #e00;
        }
    }
}
.popup_colorsize{
    overflow: hidden;
}

.copyright{
    padding-top: 30px;
    text-align: right;
    margin-bottom: 20px;
    color:#888;
    font-size: 0.75em;
    word-break: break-word;
    word-wrap: break-word;
    @include clearfix;
    a{
        color:#06f;
        text-decoration: underline;
        margin-left: 10px;
    }
}



.popup_warranty{
    display: none;
    height:430px;
    .key{
        padding:12px;
        color:black;
        background: #ccc;
    }
    .content{
        padding:10px;
        font-size:.9rem;
        line-height: 1.5;
    }
    p{
        margin-bottom:3px;
    }
    a{
        color:#06c;
        text-decoration: underline;
    }
}