// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";
@import "partials/cupn";

@import "../3rd-party/_font-awesome.min.scss";
@import "../3rd-party/_swiper.scss";
// 專屬品
.per_slide{
    width:100%;
    max-width:300px;
    height:185px;
    display:flex;
    flex-flow:row nowrap;
    margin:10px 0 10px 10px;
    padding:10px;
    @include background-image(linear-gradient(to bottom, #f00, #000));
    @include border-radius(10px);
    @include box-sizing(border-box);
    &.test{
        padding:17px 10px;
        @include background-image(linear-gradient(to bottom, #0080cc, #000));
        .per_dur{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            min-width:115px;
        }
        .per_t{
            color: #9df;
            font-size: .9rem;
        }
        .per_img{
           width:auto;
           height:130px;
        }
        .per_buy{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            margin: 18px 0 0 10px;
            font-family: sans-serif;
        }
        .name{
            height:50px;
            font-size:.8rem;
            color:white;
        }
        .per_buy{
            .pay_dis{
                display: flex;
                flex-flow: row wrap;
                align-items: baseline;
                color:#9df;
                .title{
                    font-size:.8rem;
                }
                .price{
                    margin:2px 0;
                    color:#9df;
                    font-size:1.7rem;
                }
                .btn-imd{
                    margin-top:5px;
                }
            }
        }
        .btn-imd{
            width:100%;
        }
    }
    .per_item{
        flex-basis: 100%;
        position: relative;
        color:white;
        font-size:.8rem;
        .per_t{
            position: absolute;left:0; top:5px;
            color: #ffc;
            font-size:.9rem;
            white-space: nowrap;
        }
        .per_img{
            width:130px;
            margin-top: 28px;
        }
    }
    .name{
        height: 35px;
        margin-top:6px;
        line-height: 1.4;
        font-size: .8rem;
        color: white;
        overflow: hidden;
        word-break: break-word;
    }
    .per_img{
        display: block;
        width:100%;
        max-height:130px;
        background-color: white;
        @include border-radius(10px);
    }
    .per_info{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        flex-basis: 100%;
        margin: 22px 0 6px 10px;
        .per_limit{
            color:#ffa;
            font-size:.9rem;
            line-height: 1.5;
        }
        .nor{
            color:#888;
            font-size:.75rem;
            del{
                font-size:1rem;
                text-decoration: none;
            }
        }
        .pay_dis{
            color:#ff0;
            .title{
                font-size:.75rem;
            }
            .price{
                font-size:1.5rem;
            }
        }
    }
    .btn-imd{
        width:100%;
        margin-top:15px;
        padding: 10px 15px 10px 20px;
        font-size: 1rem;
        letter-spacing: 5px;
        font-weight: 700;
        border: none;
        color: white;
        background-color: #e00;
        cursor: pointer;
        line-height: 1;
        align-self:center;
    }
}
.site-main{
    @include clearfix;
    .items{
        .per_items_t{
            padding:5px 10px;
            color:#888;
            background-color: #eee;
        }
        .item{
            display:flex;
            flex-flow:row nowrap;
            width:100%;
            margin:5px 0;
            padding: 10px;
            border-bottom:10px solid #eee;
            @include box-sizing(border-box);
        }
        .photo{
            display: block;
            flex-basis: 30%;
            position: relative;
            width: 120px;
            height: 120px;
            overflow: hidden;
            @include border-radius(10px);
            .float{
                display: none;
            }
            img{
                width:120px;
                display: block;
                
            }
        }
        .info{
            display: flex;
            flex-flow:column nowrap;
            justify-content: space-between;
            flex-basis: 64%;
            width:auto;
            margin:0 10px;
            padding: 10px 0;
        }
        .name{
            width:100%;
            height:38px;
            font-size:1rem;
            line-height:1.2;
            text-overflow: ellipsis;
            overflow: hidden;
            a{
                color:#333;
            }
        }
        .price{
            margin-left:5px;
            color:#d00;
            font-size:1rem;
            font-family: sans-serif;
        }
        .oth-info{
            display: flex;
            flex-flow:row nowrap;
            align-items: center;
            justify-content: space-between;
            width:100%;
            .func{
                margin-right:10px;
            }
            a{
                margin:0 5px;
                font-size:1.5rem;
                color:#07b;
            }
            .i-cart{
                font-size:1.6rem;
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .per_slide{
        &.test{
            &.hot{
                .per_buy{
                    .pay_dis{
                        .price{
                            font-size:1.5rem;
                        }
                    }
                }
            }
        }
    }
}

