// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";

@import "3rd-party/_font-awesome.min.scss";
.body_container{
    background-color: #eee;
}
.site-main{
    @include clearfix;
    .supplier_t{
        margin:10px 0 0 10px;
        font-size:.9rem;
        a{
            color:#069;
        }
        i{
            margin:0 10px;
        }
    }
    .supplier{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top:10px;
        a{
            flex-basis: 48%;
            height:120px;
            text-align: center;
            color:#555;
            @include box-sizing(border-box);
            .photo{
                position: relative;
                width: 100%;
                height: 0;
                padding-top: 90px;
                overflow: hidden;
                background-color: white;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    max-width: 85%;
                    max-height: 80px;
                    @include box-sizing(border-box);
                }
            }
            p{
                padding:0 0 8px;
                font-size:.9rem;
                background-color: white;
                span{
                    display: block;
                    margin: 0 auto;
                    width:80%;
                    max-width:150px;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}
