//html5doctor.com Reset Stylesheet v1.6.1
//Last Updated: 2010-09-17
//Author: Richard Clark - http://richclarkdesign.com
//
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
//20141027 add
html, body{
    height: 100%;
    font-family: 'Helvetica neue',Helvetica,'微軟正黑體',Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height:1;
}
// HTML5 display-role reset for older browsers
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
ul, ol {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
// change colours to suit your needs
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
// change colours to suit your needs
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
// change border colour to suit your needs
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    -webkit-appearance: none;
    vertical-align:middle;
}
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
::-webkit-search-cancel-button{
    display:none;
}
.clearfix:after {   content: ".";   display: block; height: 0;  visibility: hidden; clear: both;}