.cupn{
    position: relative;
    margin:0 0 10px;
    padding:10px 0 0 10px;
    border-top: 10px solid #eee;
    &.single{
        margin-left:220px;
    }
    .cupn_t{
        margin: 0 0 5px;
    }
    .swiper-slide,.cupn_block{
        width:320px;
        padding:5px;
        color:white;
        // background: linear-gradient(45deg, #cbd 25%, #f5eefb 0, #f5eefb 50%, #cbd 0, #cbd 75%, #f5eefb 0);
        background-size: 5px 5px;
        background-image: linear-gradient( 45deg,
            #cbd 0px, 
            #f5eefb 0px, 
            #f5eefb 55%, 
            #cbd 0px, 
            #cbd 65%, 
            #f5eefb 0px
        );
    }
    .cupn_block{
        display: inline-block;
        margin:0 20px 20px 0;
        vertical-align: middle;
    }
    .cupn-next-black{
        position:absolute;
        top:36%;right:12px;
        font-size:2rem;
        z-index: 5;
        cursor: pointer;
    }
    .cupn_bg{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background: black;
        position:relative;
        padding-right: 20px; 
        cursor: pointer;
        &.test{
            background:#f5eefb;
            align-items: stretch;
            border:1px solid #cbd;
            .cupn_info{
                flex-flow: row wrap;
                align-items: stretch;
                border-left:1px solid #cbd;
            }
            .cupn_num{
                margin:15px 0 6px;
                font-size: .9rem;
                color:#86a;
                -webkit-transform: initial;
            }
            .name{
                height:27px;
                padding:5px 0;
                white-space: normal;
                color:#777;
                line-height: 1.2;
            }
            .cupn_price{
                padding:10px 0  13px;
                .price{
                    color:red;
                    font-size: .9rem;
                }
            }
        }
    }
    img{
        width:80px;height:80px;
        margin:12px;
        @include border-radius(10px);
    }
    .expired{
        position: relative;
        .fog{
            width: 100%;height:100%;
            position: absolute;left:0;top:0;
            background: rgba(255,255,255,0.6);
        }
        .expired_bg{
            position: absolute;left:12px;top:50%;margin-top:-20px;
            width: 80px;height: 40px;
            background: linear-gradient(45deg, red 25%, white 0, white 50%, red 0, red 75%, white 0);
            background-size: 6px 6px;
        }
        span{
            position: absolute;left: 0;top: 50%;margin-top:-14px;
            width: 80px;
            height: 28px;line-height: 28px;
            color: red;
            font-size: 1.4rem;
            text-align: center;
            background: white;
        }
    }
    .cupn_info{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
        padding-left:10px;
        border-left:1px solid #999;
    }
    .cupn_dur{
        font-size:.8rem;
        color:white;
        line-height: 1.2;
        span{
            font-size:.8rem;
        }
    }
    .cupn_num{
        margin-left:-15px;
        color:#ffc;
        font-size:.6rem;
        white-space: nowrap;
        -webkit-transform: scale(0.83);
    }
    .name{
        display: block;
        width:158px;
        padding:12px 0;
        font-size:.9rem;
        color:white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .nor{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        margin:5px 0 -5px 0;
        font-size:.7rem;
        color:#999;
    }
    .del{
        margin-left:3px;
        color:#999;
        font-size:.9rem;
    }
   .cupn_price{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        padding:8px 0;
        font-family: sans-serif;
       .title{
           color:red;
           font-size:.9rem;
       }
       .price{
           margin-left:5px;
           color:#ff0;
       }
   }
   .cupn_share{
        position: absolute;right:0;top:0;bottom:0;
        width: 20px;
        padding:22px 5px;
        background-color: #fffecb;
        img{
            width:19px;
            height:26px;
            margin:0 0 10px;
            @include border-radius(0);
            &:last-child{
                margin:0;
                width:22px;
                height:27px;
            }
        }
    }
}