@import "compass/css3";
.body_container{
	width: 100%;
	padding-top:79px;
	padding-bottom:50px;
}
.container{
	width: 100%;
    position: relative;
    margin: 0 auto;
    @include clearfix;
}
.o_hidden{
	overflow: hidden;
}
//header_layout
.site-header{
	position: fixed;top:0;left:0;z-index: 10;
	width:100%;
    background-color: #32435F;
	@include clearfix;
	//白
    &.bg_white{
		background:white;
		.btn-menu{
			color:#555;
		}
	}
	&.bg_profile{
		background:white;
		.head_con{
			padding:10px 10px 11px;
		}
		.btn-menu{
			align-self: center;
		}
	}
	&.bg_pic{
		background-color: white;
		background-repeat:no-repeat;
		background-position: center center;
		background-attachment: fixed;
		@include background-size(cover);
		.head_con{
			padding:10px 10px 11px;
		}
		.btn-menu{
			align-self: center;
		}
    }
	.head_con{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding:15px 10px;
	}
	.head_l{
		display: flex;	
		flex-flow: row nowrap;
		align-items: center;
	}
	.profile{
		display: flex;	
		flex-flow: row nowrap;
		align-items: center;
		img{
			width:50px;
			height:50px;
			border:3px solid white;
			@include border-radius(50%);
		}
		h1{
			display: block;
			margin-bottom:5px;
			color:black;
			font-size:1rem;
			line-height: 1.3;
			p{
				width:105px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		.prof_r{
			margin-left:5px;
			.social_icon{
				display: flex;	
				flex-flow: row nowrap;
				align-items: center;
			}
			a{
				margin-right:2px;
			}
			img{
				width:25px;height:25px;
				border:2px solid white;
				@include border-radius(50%);
			}
		}
	}
	.head_r{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding:10px 15px;
		background-color: black;
		@include border-radius(5px);
		.search{
			display: block;
			margin-right:26px;
			img{
				display: block;
				width:22px;
			}
		}
	}
	.btn-menu{
		margin-right:10px;
		color:white;
		font-size:1.5rem;
		align-self: center;
		img{
			width:22px;
		}
	}
	.logo{
		position: relative;
		width: 150px;
		height: 0;
		overflow: hidden;
		padding-top: 45px;
		margin: 0 0 0 5px;
		img{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			max-width:150px;
		}
	}
	.site-search{
		display:none;
		width:100%;
		position: absolute;top:100%;left:0;
		z-index: 15;
		.input-search{
			width: 100%;
			padding:12px 70px 12px 10px;
			background:white;
			color: #aaa;
			font-size:.9rem;
			border:1px solid black;
			border-left:none;
			border-right:none;
			outline:none;
			-webkit-appearance: none;
			&:focus{
				color: black;
			}
		}
		.btn-cancel{
			position: absolute;right:33px;top:50%;margin-top:-10px;
			background: none;
			border:none;
			outline: none;
			cursor: pointer;
			img{
				width:20px;
			}
		}
		.search{
			position: absolute;
			right: 7px;
			top: 50%;
			margin-top:-10px;
			img{
				width:20px;
			}
		}
			// .fa-close{
			// 	width:18px;height:18px;
			// 	padding: 5px 0px;
			// 	font-size: 1.2rem;
			// 	color: grey;
			// 	&:before{
			// 		background: none;
			// 		height: auto;
			// 		padding-top: 0;
			// 	}
			// }
	}
	.cart{
		display: block;
		position: relative;
		&:after{
			content:"\f00c";
			display: block;
			position: absolute;top:-5px;left:-5px;
			font-size:.7rem;
			font-family: 'FontAwesome';
			padding:1px;
			color:white;
			background: #d00;
			border:2px solid white;
			@include border-radius(50%);
		}
	}
	.cart-empty{
		
	}
	.img-cart {
		width: 28px;
	}
}

.site-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	border-top:3px solid white;
	[class*="img-"] {
		width:30px;height:30px;
	}
	ul{
		display: flex;
		flex-direction: row;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	li{
		a{
			display:block;
			padding: 3px 5px;
			position: relative;
		}
	}
	.icon_txt{
		display: block;
		color:white;
		font-size:.7rem;
	}
	.footer-notice{
		.number{
			position: absolute;
			right: 0;
			top: 4px;
			min-width: 20px;
			height: 20px;
			padding:2px 3px;
			background: #d00;
			color: white;
			font-size: 0.7rem;
			line-height: 1.4;
			text-align: center;
			@include border-radius(50%);
		}
	}
	.container {
		background: #333;
		text-align: center;
	}
	.title-h2 {
		padding: 5px 0;
		font-size: 0.9rem;
		color: white;
		a {
			color: white;
			margin-left: 5px;
		}
	}
}


  .md_nav_menu {
	display: none;
	height: 100vh;
	&.active {
		display: block;
		width: 100%;
		position: relative;
		top: 0;
    }
    .container {
		display: flex;
		flex-flow: row nowrap;

		background: #FFF;
		width: 100%;
		margin: 0;
		padding: 0;
    }
    .left {
		flex-basis: 25%;
		margin-right: 10px;
		overflow-y: auto;
		max-height: 100vh;
		padding-bottom: 191px;
		-webkit-overflow-scrolling: touch;
    }
    .nav {
		width: 100%;
		height: auto;
		li {
			display: block;
			margin: 0 0 1px 0;
			padding: 25px 0;
			font-size: 1rem;
			color: #888;
			letter-spacing: 2px;
			text-align: center;
			text-decoration: none;
			background: #eee;
			border-bottom: 1px solid #ccc;
			&.click {
				color: #ee0000;
				background: #FFF;
				border-left: 5px solid #ee0000;
			}
    	}
    }
    .right {
		flex-basis: 70%;
		overflow-y: auto;
		max-height: 85vh;
		-webkit-overflow-scrolling: touch;
    }
    .enter_cate{
		display: block;
		color:white;
		background: #e00;
		font-size: 16px;
		text-align: center;
		letter-spacing: 3px;
		text-decoration: none;
		padding: 10px 0;
		margin: 15px 10px;
    }
    .items {
		background: #FFF;
		padding: 0;
		margin: 0 0 10px 0;
		.title {
			width: 100%;
			font-size: 17px;
			text-align: center;
			letter-spacing: 1px;
			margin: 0 0 26px 0;
			color:#333;
			border-bottom: 1px solid #ccc;
				span{
					padding:0 10px;
					background-color: white;
				}
		}
		.cate_center {
			display: flex;
			flex-flow:row wrap;
			align-items: center;
			justify-content: space-between;
			margin:0 10px;
			.item{
				display: flex;
				flex-flow:row nowrap;
				align-items: center;
				text-align: center;
				margin-bottom: 15px;
				background-color:#eee;
				@include border-radius(3px);
			}
			h4 {
				height: 40px;
				font-size: .9rem;
				line-height: 1.5;
				overflow: hidden;
			}
		}
		a {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			width:65px;
			height:80px;
			margin: 0 auto;
			padding:0 8px;
			color: #5d5d5d;
			text-decoration: none;
			word-break: break-word;
		}
		img {
			width: 100%;
			border: 1px solid #ddd;
			margin-bottom: 6px;
		}
	}
}
  

  @media screen and (-webkit-min-device-pixel-ratio:0){
    .md_nav_menu{ 
		.left{
			height:85vh;
		}
    }
  }
@media only screen and (max-width: 414px) {
	.md_nav_menu{
		.left{
			height:85.5vh;
		}
	}
}
@media only screen and (max-width: 375px) {
	.md_nav_menu{
		.left{
			height:84vh;
		}
		.enter_cate{
			margin:15px 0;
		}
		.items{
			.cate_center{
				margin:0;
			}
			a{
				width: 57px;
    			height: 73px;
			}
		}
	}
}
@media only screen and (max-width: 320px) {
	.md_nav_menu{
		.left{
			height:81vh;
		}
		.items{
			a{
				width: 50px;
    			height: 66px;
			}
		}
	}
}
