// 分類頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";

@import "3rd-party/_font-awesome.min.scss";
@import "3rd-party/_swiper.scss";

.site-main{
    width: 1220px;
    margin: 0 auto;
    position: relative;
    @include clearfix;
    .container{
        width:985px;
        display: inline-block;
        vertical-align: top;
    }
    .container .items{
        margin:10px 0 10px 60px;
        .item{
            display:flex;
            flex-flow:row nowrap;
            width:100%;
            margin:5px 0;
            padding: 10px;
            @include border-radius(10px);
        }
        .photo{
            display: block;
            position: relative;
            width: 120px;
            height: 120px;
            overflow: hidden;
            @include border-radius(10px);
            .float{
                display: none;
            }
            img{
                width:120px;
                display: block;
                
            }
        }
        .info{
            display: flex;
            flex-flow:column nowrap;
            justify-content: space-between;
            width:800px;
            margin:5px 10px 0;
            padding: 10px 0;
            border-bottom:1px solid #ccc;
        }
        .name{
            width:100%;
            color: #333;
            font-size:1rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .price{
            margin-left:5px;
            color:#d00;
            font-size:1rem;
            font-family: sans-serif;
        }
        .oth-info{
            display: flex;
            flex-flow:row nowrap;
            align-items: center;
            justify-content: space-between;
            width:200px;
            a{
                font-size:1.5rem;
                color:#07b;
            }
            .i-cart{
                font-size:1.6rem;
            }
        }
    }
    .brand{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding:5px 0;
        border-bottom:1px solid #666;
        .brand-l,.brand-r{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
        h2{
            margin-left:3px;
            color:#666;
            font-size:1.2rem;
        }
        .btn-grey, .btn-red{
            width:60px;
            text-align: center;
            padding:5px 10px;
            margin-right:8px;
            color:#666;
            background:#ddd;
            border:none;
            outline:none;
            cursor: pointer;
        }
        .btn-red{
            color:white;
            background:#f30;
        }
    }
    .brandlist{
        .items{
            .item{
                display: none;
            }
        }
    }
    .loader{
        text-align:center;
        .btn-load{
            margin-top:10px;
            padding:6px 10px 7px;
            color:#666;
            background:white;
            font-size:1.1rem;
            border:1px solid #6b88b6;
            outline:none;
            cursor: pointer;
            i{
                color:#6b88b6;
                margin-left:8px;
            }
        }
    }
}
// 相關商品
.pc-item-related{
    display: inline-block;
    vertical-align: top;
    margin:20px 0 0 29px;
    width:180px;
    // position: absolute;right:0;top:0;z-index: 1;
    padding:10px;
    border-left:1px solid #ccc;
    background-color:#f5f5f5;
    .related-title{
        margin:0 0 10px;
        color:#666;
        letter-spacing: 1px;
    }
    .items{
        padding:0 10px;
    }
    .item{
        display: block;
        margin-bottom:10px;
    }
    .photo{
		display: block;
		width: 100%;
	    background: #FFF;
		img{
            display: block;
            width:100%;
            @include border-radius(8px);
		}
    }
    .info{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin:5px 0;
        padding-top: 5px;
    }
    .name{
        width:155px;
        color: #999;
        font-size:.7rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .price{
        margin-left:5px;
        color:#d00;
        font-size:.8rem;
        font-family: sans-serif;
    }
}
