// 首頁
@import "partials/base";
@import "partials/mixin";
@import "3rd-party/_font-awesome.min.scss";
@import "3rd-party/_swiper.scss";

@import "compass/css3";
.site-main{
    width:1220px;
    margin:0 auto;
    position: relative;
}
.container{
    width: 1220px;
    margin:0 auto;
    @include clearfix;
}
//header_layout

.site-topbar{
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 20px;
    position: fixed;
    top: 0;
    z-index: 99;
    @include clearfix;
    @include filter-gradient(white, #DAE0ED, vertical);
    @include background-image(linear-gradient(top, white 0%,#DAE0ED 100%));
    ul{
        display: flex;
        flex-flow: row nowrap;
        li{
            font-size: .82rem;
            padding: 3px 8px;
            a{
                color:#069;
            }
        }
    }
    .nav-other{
        float: left;
        margin-top: 2px;
        @include clearfix; 
    }
    .nav-user{
        float: right;
        margin-top: 2px;
    }
}

.site-header{
    position: relative;
    border-bottom: 1px solid #eee;
    background-color: black;
    @include clearfix;
    //灰
    &.bg_555{
		background:#555;
		.main-head{
			background:#555;
		}
    }
    //藍
    &.bg_08c{
		background:#0080cc;
		.main-head{
			background:#0080cc;
		}
    }
    //粉
    &.bg_e90{
		background:#ee99b0;
		.main-head{
			background:#ee99b0;
		}
	}
	//黑
    &.bg_black{
		background:black;
		.main-head{
			background:black;
		}
    }
    .main-head{
        padding:22px 0 14px;
        .container{
            width: 100%;
        }
        .logo{
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
            img{
                width: 176px;
                height:auto;
            }
            h1{
                display: none;
            }
        }
        .site-search{
            display: inline-block;
            position: relative;
            margin-left: 20px;
            z-index: 3;
            .btn-submit{
                position: absolute;right:5px;top:2px;
                background: none;
                border:none;
                outline: none;
                cursor: pointer;
                img{
                    display: inline-block;
                    padding-right:3px;
                    vertical-align: middle;
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                    color: #555;
                    font-size:.9rem;
                }
            }
            .input-search{
                border: 1px solid #6b88b6;
                padding:5px 70px 5px 10px ;
                margin: 0;
                width: 450px;
                height: 34px;
                background: #FFF;
                color: #aaa;
                font-size:1rem;
				outline:none;
				-webkit-appearance: none;
				@include border-radius(8px);
                &:focus{
                    color: black;
                }
            }
            .icon-search{
                width:18px;height:18px;
                padding: 5px 0px;
                font-size:1rem;
                color: white;
                &:before{
                    background: none;
                    height: auto;
                    padding-top: 0;
                }
            }
        }
        .head-link,.head-func{
            display: inline-block;
            margin-left:10px;
            li{
                display: inline-block;
                vertical-align: middle;
            }
            a{
                display: block;
                padding:10px;
                font-size:1rem;
                color:white;
            }
        }
        .head-func{
            float:right;
            margin:-10px 20px 0 0;
            a,img{
                display: block;
            }
            .my-account{
                img{
                    padding:2px 5px;
                }
                span{
                    display: block;
                    font-size:.8rem;
                }
            }
            .cart{
                position: relative;
                margin-top: 4px;
                &:after{
                    content:"\f00c";
                    display: block;
                    position: absolute;top:0;left:0;
                    font-size:.8rem;
                    font-family: 'FontAwesome';
                    padding:3px;
                    color:white;
                    background: #d00;
                    border:2px solid white;
                    @include border-radius(50%);
                    
                }
            }
        }
    }
}


.personal{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    margin:15px 0;
    @include background-image(linear-gradient(to bottom, #f00, #000));
    @include border-radius(10px);
    .per_img{
        display: block;
        margin:10px 130px 10px 0;
        width:300px;
        height:300px;
        background: white;
        @include border-radius(10px);
    }
    .personal_info{
        margin: 10px 30px 10px 90px;
    }
    .personal_limit{
        display: flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 9px 0;
        border-bottom:2px solid black;
        p{
            color:#ffa;
            font-size:1.6rem;
        }
    }
    .name{
        color:white;
        margin: 15px 20px 15px 50px;
        font-size:1.3rem;
        line-height: 1.2;
        word-break: break-word;
    }
    .personal_buy{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin-left:40px;
        padding:15px;
        font-family: sans-serif;
        background-color: black;
        @include border-radius(10px);
        .dur{
            margin-bottom:17px;
            font-size:1.8rem;
            line-height: 1.4;
            color:#ffa;
            letter-spacing: 1px;
            font-family: sans-serif;
            span{
                font-size:1.4rem;
            }
        }
        .per_price{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
        }
        .nor{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            margin-right:10px;
            font-size:1.2rem;
            color:#888;
        }
        .del{
            color:#888;
            font-size:1.8rem;
        }
        .pay_dis{
            display:flex;
            flex-flow:row nowrap;
            align-items: baseline;
            color:#ff0;
            font-size:1.2rem;
            .price{
                margin-left:5px;
                font-size:2.5rem;
                color:#ff0;
            }
            .btn-imd{
                padding: 12px 30px;
                margin: -10px 10px;
                font-size: 1.3rem;
                letter-spacing: 3px;
                font-weight: 700;
                border: none;
                color: white;
                background-color: #e00;
                cursor: pointer;
                line-height: 1;
                align-self:center;
            }
        }
    }
}

.swiper-button-next,.swiper-button-prev{
    top: 55%;right:-20px;
    width: 27px;
    height: 20px;
    margin-top: -22px;
}
.swiper-button-prev{
    left:0;
    right:auto;
}
.per{
    margin:12px 0 0;
    .per_t{
        padding:7px 0 7px;
        color:#ffa;
        font-size:1.15rem;
        letter-spacing: 0.3px;
    }
    .per_img{
        display: block;
        width:190px;
        height:190px;
        @include border-radius(10px);
        background-color: white;
    }
    .per_info{
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        padding-right:30px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        @include border-radius(5px);
        @include background-size(100%,3px);
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 3px;
        border-image: -o-linear-gradient(to bottom, #ff0000,#000000) 1 80%;
        border-image: -moz-linear-gradient(to bottom, #ff0000,#000000) 1 80%;
        border-image: -webkit-linear-gradient(to bottom, #ff0000,#000000) 1 80%;
        border-image: linear-gradient(to bottom, #ff0000,#000000) 1 80%;
        background-image: -o-linear-gradient(top,#f00 0%, #f00 100%), -o-linear-gradient(top, black 0%, black 100%);
        background-image: -moz-linear-gradient(top,#f00 0%, #f00 100%), -moz-linear-gradient(top, black 0%, black 100%);
        background-image: -webkit-linear-gradient(top,#f00 0%, #f00 100%), -webkit-linear-gradient(top, black 0%, black 100%);
        background-image: linear-gradient(top,#f00 0%, #f00 100%), linear-gradient(top, black 0%, black 100%);
        // @include background-image(linear-gradient(to bottom, #f00, #000));
    }
    .per_l{
        display: flex;
        flex-flow:row nowrap;
        padding:8px 18px;
        background: #ff0000;
        background: -moz-linear-gradient(top,  #ff0000 0%, #000000 80%); 
        background: -webkit-linear-gradient(top,  #ff0000 0%,#000000 80%); 
        background: linear-gradient(to bottom,  #ff0000 0%,#000000 80%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=0 );
        @include border-radius(5px 0 0 5px);
    }
    .name{
        height:32px;
        margin:4px 0 5px;
        font-size:.9rem;
        color:white;
        line-height: 1.2;
        word-break: break-word;
        overflow: hidden;
    }
    .per_buy{
        display: flex;
        flex-flow: column nowrap;
        width:160px;
        margin: 2px 0 0 15px;
        font-family: sans-serif;
        .dur{
            margin-bottom: 10px;
            font-size: 1.25rem;
            line-height: 1.2;
            color:#ffa;
            letter-spacing: 1px;
            font-family: sans-serif;
            span{
                font-size:.9rem;
            }
        }
        .per_price{
            display: flex;
            flex-flow: column nowrap;
        }
        .nor{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            margin:0 10px 5px 0;
            font-size:.9rem;
            color:#888;
        }
        .del{
            margin-left:3px;
            color:#888;
            font-size:1.3rem;
        }
        .pay_dis{
            width: 160px;
            display:flex;
            flex-flow:row wrap;
            align-items: baseline;
            color:#ff0;
            font-size:.9rem;
            .price{
                margin-left:5px;
                font-size:1.65rem;
                color:#ff0;
            }
            .btn-imd{
                width: 100%;
                margin-top:10px;
                padding: 10px 0;
                font-size: 1rem;
                letter-spacing: 4px;
                border: none;
                color: white;
                background-color: #d00;
                cursor: pointer;
                line-height: 1;
                align-self:center;
            }
        }
    }
    .per_r{
        position: relative;
        padding: 10px 30px 10px 0;
        margin-left: 30px;
        .swiper-slide{
            display:flex;
            flex-flow: row nowrap;
            align-items: center;
            height:110px;
        }
        img{
            display: block;
            width:100px;
            max-height:100px;
            border:3px solid #e5e5e5;
            @include border-radius(10px);
        }
        .name{
            margin:0 0 0 5px;
            height:44px;
            color:#888;
            font-size:.8rem;
        }
        .per_price{
            display: flex;
            flex-flow:row nowrap;
            align-items: center;
            color:red;
            font-size:.9rem;
            margin:8px 0 0 5px;
            .title{
                font-size:.8rem;
            }
            .price{
                margin-left:3px;
            }
        }
    }
    .per-next-black,.per-prev-black{
        position: absolute;
        top: 42.8%;right:11px;
        font-size:2rem;
        cursor: pointer;

    }
    .per-prev-black{
        position: absolute;
        left:410px;right:auto;
    }
}
.cupn{
    position: relative;
    margin-top:20px;
    &.single{
        margin-left:220px;
    }
    .cupn_t{
        margin: 0 0 5px;
    }
    .cupn_slide{
        margin-right:35px;
    }
    .swiper-slide,.cupn_block{
        width:300px;
        padding:5px;
        color:white;
        background: linear-gradient(45deg, #cbd 25%, #f5eefb 0, #f5eefb 50%, #cbd 0, #cbd 75%, #f5eefb 0);
        background-size: 5px 5px;
    }
    .cupn_block{
        display: inline-block;
        margin:0 20px 20px 0;
        vertical-align: middle;
    }
    .cupn-next-black{
        position:absolute;
        top:36%;right:12px;
        font-size:2rem;
        z-index: 5;
        cursor: pointer;
    }
    .cupn_bg{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background: black;
        cursor: pointer;
    }
    img{
        width:80px;height:80px;
        margin:12px;
        @include border-radius(10px);
    }
    .expired{
        position: relative;
        .fog{
            width: 100%;height:100%;
            position: absolute;left:0;top:0;
            background: rgba(255,255,255,0.6);
        }
        .expired_bg{
            position: absolute;left:12px;top:50%;margin-top:-20px;
            width: 80px;height: 40px;
            background: linear-gradient(45deg, red 25%, white 0, white 50%, red 0, red 75%, white 0);
            background-size: 6px 6px;
        }
        span{
            position: absolute;left: 0;top: 50%;margin-top:-14px;
            width: 80px;
            height: 28px;line-height: 28px;
            color: red;
            font-size: 1.4rem;
            text-align: center;
            background: white;
        }
    }
    .cupn_info{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
        padding-left:10px;
        border-left:1px solid #999;
    }
    .cupn_dur{
        font-size:.8rem;
        color:white;
        span{
            font-size:.8rem;
        }
    }
    .cupn_num{
        margin-top:2px;
        color:#ffc;
        font-size:.7rem;
        white-space: nowrap;
    }
    .name{
        display: block;
        width:158px;
        padding:8px 0;
        font-size:.9rem;
        color:white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
   .cupn_price{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        padding:8px 0;
       .title{
           color:red;
           font-size:.9rem;
       }
       .price{
           margin-left:5px;
           color:#ff0;
       }
   }
}
.cupn_t,.item_t{
    margin-top:20px;
    color:#888;
    font-size:1.1rem;
}
.site-main{
    @include clearfix;
    .items{
        margin:5px 0;
        .item{
            width:(100%/7);
            display: inline-block;
            vertical-align: top;
            margin:5px 0;
            padding: 8px ;
            background-color: #eee;
            @include border-radius(10px);
            &:hover{
                background: #ddd;
            }
        }
        .photo{
            .float{
                display: none;
            }
            img{
                display: block;
                width:100%;
                @include border-radius(10px);
            }
        }
        .info{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin:5px 0;
            padding-top: 5px;
        }
        .name{
            width:155px;
            color: #999;
            font-size:.7rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .price{
            margin-left:5px;
            color:#d00;
            font-size:.8rem;
            font-family: sans-serif;
        }
    }
    .brand{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding:5px 0;
        border-bottom:1px solid #666;
        .brand-l,.brand-r{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
        h2{
            margin-left:3px;
            color:#666;
            font-size:1.2rem;
        }
        .btn-grey, .btn-red{
            width:60px;
            text-align: center;
            padding:5px 10px;
            margin-right:8px;
            color:#666;
            background:#ddd;
            border:none;
            outline:none;
            cursor: pointer;
        }
        .btn-red{
            color:white;
            background:#f30;
        }
    }
    .brandlist{
        .items{
            .item{
                display: none;
            }
        }
    }
    .loader{
        text-align:center;
        .btn-load{
            margin-top:10px;
            padding:6px 10px 7px;
            color:#666;
            background:white;
            font-size:1.1rem;
            border:1px solid #6b88b6;
            outline:none;
            cursor: pointer;
            i{
                color:#6b88b6;
                margin-left:8px;
            }
        }
    }
}