// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";
@import "3rd-party/_font-awesome.min.scss";

.site-main , .site-main .container{
    height: 70vh;
}
.site-main {
    overflow: hidden;
}
.site-main .container {
    position: relative;
    color: #333;
    font-family: 'Varela Round', Sans-serif;
    text-shadow: 0 30px 10px rgba(#000, .15);
}
.blur_bg{
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -102px;
    margin-left: -168px;
    text-align: center;
    z-index: 1;
    ul{
        position:relative;
        z-index:10;
        display: inline-block;
        margin: 0 auto;
        list-style: disc;
    }
    li {
        text-align:left;
        font-size: 1rem;
        line-height:1.8;
        margin-top: 0;
    }
    h1 {
        font-size: 1.6rem;
        margin: 20px 0;
    }
}




.btn-back_index {
    display: block;
    margin: 0 auto;
    background: linear-gradient(#555,#000);
    padding: 0 12px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 30px 15px rgba(#000, .15);  outline: none;
    color: white;
    font: 400 16px/2.5 Nunito,'Varela Round', Sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.bubble {
    background: linear-gradient(#ddd,white);
    border-radius: 50%;
    box-shadow: 0 30px 15px rgba(#000, .15);
    position: absolute;
    z-index:1;
    animation: float 1s infinite ease-in-out alternate;
    &:before, &:after {
        content: '';
        background: linear-gradient(#ddd,white);
        border-radius: 50%;
        box-shadow: 0 30px 15px rgba(#000, .15);
        position: absolute;

    }
    &:nth-child(1) {
        top: 15vh;
        left: 15vw;
        height: 22vmin;
        width: 22vmin;
        &:before {
            width: 13vmin;
            height: 13vmin;
            bottom: -25vh;
            right: -10vmin;
        }
    }
    &:nth-child(2) {
        top: 20vh;
        left: 38vw;
        height: 10vmin;
        width: 10vmin;
        &:before {
            width: 5vmin;
            height: 5vmin;
            bottom: -10vh;
            left: -8vmin;
        }
    }
    &:nth-child(3) {
        top: 12vh;
        right: 30vw;
        height: 13vmin;
        width: 13vmin;
        animation-delay: .2s; 
        &:before {
            width: 3vmin;
            height: 3vmin;
            bottom: -15vh;
            left: -18vmin;
            z-index: 6;
        }
    }
    &:nth-child(4) {
        top: 25vh;
        right: 18vw;
        height: 18vmin;
        width: 18vmin;
        animation-delay: .4s; 
        &:before {
            width: 7vmin;
            height: 7vmin;
            bottom: -10vmin;
            left: -15vmin;
        }
    }
    &:nth-child(5) {
        top: 60vh;
        right: 18vw;
        height: 28vmin;
        width: 28vmin;
        animation-delay: .6s; 
        &:before {
            width: 10vmin;
            height: 10vmin;
            bottom: 5vmin;
            left: -25vmin;
        }
    }
}

@keyframes float {
    100%{
        transform: translateX(10px);
    }
}
