// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";
@import "partials/cupn";

@import "3rd-party/_font-awesome.min.scss";
@import "3rd-party/_swiper.scss";

.personal{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    width:1030px;
    margin:15px 0;
    @include background-image(linear-gradient(to bottom, #f00, #000));
    @include border-radius(10px);
    .per_img{
        display: block;
        margin:10px 20px 10px 0;
        width:300px;
        height:300px;
        background: white;
        @include border-radius(10px);
    }
    .personal_info{
        margin: 10px 30px 10px 20px;
    }
    .personal_limit{
        display: flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 9px 0;
        border-bottom:2px solid black;
        p{
            color:#ffa;
            font-size:1.6rem;
        }
    }
    .name{
        color:white;
        margin: 15px 20px 15px 50px;
        font-size:1.3rem;
        line-height: 1.2;
        word-break: break-word;
    }
    .personal_buy{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin-left:40px;
        padding:15px;
        font-family: sans-serif;
        background-color: black;
        @include border-radius(10px);
        .dur{
            margin-bottom:17px;
            font-size:1.8rem;
            line-height: 1.4;
            color:#ffa;
            letter-spacing: 1px;
            font-family: sans-serif;
            span{
                font-size:1.4rem;
            }
        }
        .per_price{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
        }
        .nor{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            margin-right:10px;
            font-size:1.2rem;
            color:#888;
        }
        .del{
            color:#888;
            font-size:1.8rem;
        }
        .pay_dis{
            display:flex;
            flex-flow:row nowrap;
            align-items: baseline;
            color:#ff0;
            font-size:1.2rem;
            .price{
                margin-left:5px;
                font-size:2.5rem;
                color:#ff0;
            }
            .btn-imd{
                padding: 12px 30px;
                margin: -10px 10px;
                font-size: 1.3rem;
                letter-spacing: 3px;
                font-weight: 700;
                border: none;
                color: white;
                background-color: #e00;
                cursor: pointer;
                line-height: 1;
                align-self:center;
            }
        }
    }
}

.swiper-button-next,.swiper-button-prev{
    top: 55%;right:-20px;
    width: 27px;
    height: 20px;
    margin-top: -22px;
}
.swiper-button-prev{
    left:0;
    right:auto;
}
.per{
    margin:12px 0 0;
    .per_t{
        padding:7px 0 7px;
        color:#ffa;
        font-size:.98rem;
    }
    .per_img{
        display: block;
        width:190px;
        height:190px;
        @include border-radius(10px);
        background-color: white;
    }
    .per_info{
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        padding-right:30px;
        border-left: 3px solid #f00;
        border-right: 3px solid #f00;
        @include border-radius(5px);
        @include background-size(100%,3px);
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 3px;
        border-image: -o-linear-gradient(to bottom, #f00,#000000) 1 80%;
        border-image: -moz-linear-gradient(to bottom, #f00,#000000) 1 80%;
        border-image: -webkit-linear-gradient(to bottom, #f00,#000000) 1 80%;
        border-image: linear-gradient(to bottom, #f00,#000000) 1 80%;
        background-image: -o-linear-gradient(top,#f00 0%, #f00 100%), -o-linear-gradient(top, black 0%, black 100%);
        background-image: -moz-linear-gradient(top,#f00 0%, #f00 100%), -moz-linear-gradient(top, black 0%, black 100%);
        background-image: -webkit-linear-gradient(top,#f00 0%, #f00 100%), -webkit-linear-gradient(top, black 0%, black 100%);
        background-image: linear-gradient(top,#f00 0%, #f00 100%), linear-gradient(top, black 0%, black 100%);
        // @include background-image(linear-gradient(to bottom, #f00, #000));
        &.test{
            padding-right:20px;
            border-right: 30px solid #0080cc;
            border-image: -o-linear-gradient(to bottom, #0080cc,#000000) 1 80%;
            border-image: -moz-linear-gradient(to bottom, #0080cc,#000000) 1 80%;
            border-image: -webkit-linear-gradient(to bottom, #0080cc,#000000) 1 80%;
            border-image: linear-gradient(to bottom, #0080cc,#000000) 1 80%;
            background-image: -o-linear-gradient(top,#0080cc 0%, #0080cc 100%), -o-linear-gradient(top, black 0%, black 100%);
            background-image: -moz-linear-gradient(top,#0080cc 0%, #0080cc 100%), -moz-linear-gradient(top, black 0%, black 100%);
            background-image: -webkit-linear-gradient(top,#0080cc 0%, #0080cc 100%), -webkit-linear-gradient(top, black 0%, black 100%);
            background-image: linear-gradient(top,#0080cc 0%, #0080cc 100%), linear-gradient(top, black 0%, black 100%);
            &.hot{
                border-right: 30px solid #c09;
                border-image: -o-linear-gradient(to bottom, #c09,#000000) 1 80%;
                border-image: -moz-linear-gradient(to bottom, #c09,#000000) 1 80%;
                border-image: -webkit-linear-gradient(to bottom, #c09,#000000) 1 80%;
                border-image: linear-gradient(to bottom, #c09,#000000) 1 80%;
                background-image: -o-linear-gradient(top,#c09 0%, #c09 100%), -o-linear-gradient(top, black 0%, black 100%);
                background-image: -moz-linear-gradient(top,#c09 0%, #c09 100%), -moz-linear-gradient(top, black 0%, black 100%);
                background-image: -webkit-linear-gradient(top,#c09 0%, #c09 100%), -webkit-linear-gradient(top, black 0%, black 100%);
                background-image: linear-gradient(top,#c09 0%, #c09 100%), linear-gradient(top, black 0%, black 100%);
                .per_t{
                    color:#ffc;
                }
                .per_buy{
                    .pay_dis{
                        color:#ffc;
                        .price{
                            color:#ffc;
                        }
                    }
                }
                .per_l{
                    background: #c09;
                    background: -moz-linear-gradient(top,  #c09 0%, #000000 80%); 
                    background: -webkit-linear-gradient(top,  #c09 0%,#000000 80%); 
                    background: linear-gradient(to bottom,  #c09 0%,#000000 80%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c09', endColorstr='#000000',GradientType=0 );
                }
            }
            .per_l{
                background: #0080cc;
                background: -moz-linear-gradient(top,  #0080cc 0%, #000000 80%); 
                background: -webkit-linear-gradient(top,  #0080cc 0%,#000000 80%); 
                background: linear-gradient(to bottom,  #0080cc 0%,#000000 80%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080cc', endColorstr='#000000',GradientType=0 );
                .name{
                    flex-basis: 68px;
                    font-size:1.2rem;
                }
            }
            .per-next-black{
                color:white;
                right:-22px;
            }
            .per_t{
                color:#9df;
            }
            .per_buy{
                // margin:28px 0 13px 15px;
                // justify-content: space-between; 
                .pay_dis{
                    flex-flow: column wrap;
                    align-items: flex-start;
                    color:#9df;
                    .price{
                        margin:2px 0;
                        color:#9df;
                        font-size:2rem;
                    }
                    .btn-imd{
                        margin-top:5px;
                    }
                }
            }
        }
    }
    .per_l{
        display: flex;
        flex-basis:50%;
        flex-flow:row nowrap;
        padding:8px 18px;
        background: #f00;
        background: -moz-linear-gradient(top,  #f00 0%, #000000 80%); 
        background: -webkit-linear-gradient(top,  #f00 0%,#000000 80%); 
        background: linear-gradient(to bottom,  #f00 0%,#000000 80%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f00', endColorstr='#000000',GradientType=0 );
        @include border-radius(5px 0 0 5px);
    }
    .name{
        flex-basis: 68px;
        margin:4px 0 5px;
        font-size:1.2rem;
        color:white;
        line-height: 1.2;
        word-break: break-word;
        overflow: hidden;
    }
    .per_buy{
        display: flex;
        flex-flow: column nowrap;
        flex-basis:100%;
        margin: 28px 0 13px 15px;
        font-family: sans-serif;
        justify-content: space-between;
        .dur{
            margin-bottom: 10px;
            font-size: 1.25rem;
            line-height: 1.2;
            color:#ffa;
            letter-spacing: 1px;
            font-family: sans-serif;
            span{
                font-size:.9rem;
            }
        }
        .per_price{
            display: flex;
            flex-flow: column nowrap;
            flex-basis: 92px;
        }
        .nor{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            margin:0 10px 0 0;
            font-size:.9rem;
            color:#888;
        }
        .del{
            margin-left:3px;
            color:#888;
            font-size:1.3rem;
        }
        .pay_dis{
            width: 160px;
            display:flex;
            flex-flow:row wrap;
            flex-basis:100%;
            align-items: baseline;
            color:#ff0;
            font-size:.9rem;
            .price{
                margin-left:5px;
                font-size:1.65rem;
                color:#ff0;
            }
            .btn-imd{
                width: 100%;
                margin-top:10px;
                padding: 10px 0;
                font-size: 1rem;
                letter-spacing: 4px;
                border: none;
                color: white;
                background-color: #d00;
                cursor: pointer;
                line-height: 1;
                align-self:center;
            }
        }
    }
    .per_r{
        flex-basis:100%;
        position: relative;
        padding: 10px 30px 10px 0;
        margin-left: 30px;
        .per_r_info{
            flex-basis:100%;
        }
        .swiper-slide{
            display:flex;
            flex-flow: row nowrap;
            align-items: center;
            height:110px;
        }
        img{
            flex-basis: 100%;
            display: block;
            width:100px;
            max-height:100px;
            border:3px solid #e5e5e5;
            @include border-radius(10px);
        }
        .name{
            margin:0 0 0 5px;
            height:44px;
            color:#888;
            font-size:.8rem;
        }
        .per_price{
            display: flex;
            flex-flow:row nowrap;
            align-items: center;
            color:red;
            font-size:.9rem;
            margin:8px 0 0 5px;
            .title{
                font-size:.8rem;
            }
            .price{
                margin-left:3px;
            }
        }
    }
    .per-next-black,.per-prev-black{
        position: absolute;
        top: 42.8%;right:11px;
        font-size:2rem;
        cursor: pointer;

    }
    .per-prev-black{
        position: absolute;
        left:410px;right:auto;
    }
}
.ad_banner{
    margin-top:20px;
    img{
        display: block;
    }
}
.cupn_t,.item_t{
    margin-top:40px;
    color:#888;
    font-size:1.1rem;
}
.site-main{
    @include clearfix;
    .items{
        margin:15px 0;
        .item{
            width:(100%/7);
            display: inline-block;
            vertical-align: top;
            margin:5px 10px 5px 0;
            padding: 8px ;
            background-color: #eee;
            @include border-radius(10px);
            &:hover{
                background: #ddd;
            }
            &:nth-child(6n){
                margin-right:0;
            }
        }
        .photo{
            position: relative;
            display: block;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-top: 100%;
            .float{
                display: none;
            }
            img{
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                max-width: 100%;
                max-height: 100%;
                @include border-radius(10px);
            }
        }
        .info{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin:5px 0;
            padding-top: 5px;
        }
        .name{
            width:155px;
            color: #999;
            font-size:.7rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .price{
            margin-left:5px;
            color:#d00;
            font-size:.8rem;
            font-family: sans-serif;
        }
    }
    .brand{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding:5px 0;
        border-bottom:1px solid #666;
        .brand-l,.brand-r{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
        h2{
            margin-left:3px;
            color:#666;
            font-size:1.2rem;
        }
        .btn-grey, .btn-red{
            width:60px;
            text-align: center;
            padding:5px 10px;
            margin-right:8px;
            color:#666;
            background:#ddd;
            border:none;
            outline:none;
            cursor: pointer;
        }
        .btn-red{
            color:white;
            background:#f30;
        }
    }
    .brandlist{
        .items{
            .item{
                display: none;
            }
        }
    }
    .loader{
        text-align:center;
        .btn-load{
            margin-top:10px;
            padding:6px 10px 7px;
            color:#666;
            background:white;
            font-size:1.1rem;
            border:1px solid #6b88b6;
            outline:none;
            cursor: pointer;
            i{
                color:#6b88b6;
                margin-left:8px;
            }
        }
    }
}
