@import "partials/base";
@import "partials/mixin";
@import "3rd-party/_font-awesome.min.scss";
// 宣傳頁
body{
    width:100%;
}
sup{
    font-size:1rem;
    vertical-align: super;
}
.bold{
    font-weight: 700;
}
.blue_txt1{
    color:#0068b7;
}

.table_scroll{
    width:100%;
    margin:0 0 20px;
    overflow: auto;
}
a{
    color:#06c;
    text-decoration: underline;
}
.main{
    max-width:1100px;
    margin: 20px auto;
}
h1{
    margin-bottom: 30px;
    font-size:1.55rem;
    font-weight:700;
    color:black;
}
h2{
    margin-bottom: 20px;
    font-size:1.4rem;
    font-weight:700;
    color:black;
}
p{
    color:#333;
    margin-bottom: 20px;
    font-size:1.3rem;
    line-height: 1.4;
}
small{
    font-size:1rem;
    color:#888;
    a{
        font-size:1rem;
        font-weight: 700;
    }
}
ul{
    list-style:outside decimal;
    margin-bottom: 30px;
    li{
        margin-left:25px;
        font-size:1.3rem;
        line-height: 1.5;
    }
}
table{
    width:100%;
}
th{
    width:180px;
    min-width: 180px;
    text-align: right;
    font-weight: 700;
}
th,td{
    padding:10px;
    border:1px solid #ccc;
}
td:nth-child(2){
    min-width: 250px;
}
td:last-child{
    width:100px;
    min-width: 100px;
    text-align: center;
}
.sec,.third{
    th,td{
        color:#999;
    }
}
.note{
    margin-bottom: 20px;
    p,li{
        font-size:1rem;
        color:#888;
        line-height: 1.4;
        margin:0;
    }
    ul{
        list-style:outside;
        margin-left:20px;
    }
}
.site-footer{
    padding:20px;
    max-width:1075px;
    margin:0 auto;
    .contact{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        p{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            color:#888;
            font-size:1.5rem;
            margin:0;
            a{
                margin:0 3px;
                font-size:1.3rem;
                color:black;
                text-decoration: underline;
            }
        }
        a{
            text-decoration: none;
        }
        .btn-join{
            display: block;
            padding:10px;
            font-size:2rem;
            color:white;
            background: #0068b7;
            @include border-radius(5px);
        }
    }
    .copyright{
        margin-top:20px;
        font-size:.8rem;
        text-align: right;
        small{
            font-size:.8rem;
        }
    }
}


@media only screen and (max-width: 740px) {
    .main{
        padding:0 10px;
    }
    .site-footer{
        .contact{
            display: block;
            text-align: center;
            p{
                display: inline-flex;
                margin:15px 0;
                text-align: center;
                font-size:1.1rem;
                img{
                    width: 40px;
                }
                a{
                    font-size:1.1rem;
                }
            }
            .btn-join{
                display: inline-block;
                font-size:1.5rem;
            }
        }
    }
}