// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";
@import "partials/cupn";

@import "3rd-party/_font-awesome.min.scss";
@import "3rd-party/_swiper.scss";
@import "compass/css3";


.personal{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    margin:15px 0;
    // @include background-image(linear-gradient(to bottom, #f00, #000));
    // @include border-radius(10px);
    .per_img{
        display: block;
        margin:10px 130px 10px 0;
        background: white;
        @include border-radius(10px);
    }
    .personal_info{
        width:670px;
        margin: 10px 30px 10px 90px;
    }
    .personal_limit{
        display: flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 9px 0;
        border-bottom:2px solid black;
        p{
            color:#ffa;
            font-size:1.6rem;
        }
    }
    .name{
        height:48px;
        margin: 15px 20px 15px 50px;
        color:white;
        font-size:1.3rem;
        line-height: 1.2;
        word-break: break-word;
        overflow: hidden;
    }
    .personal_buy{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height:137px;
        margin-left:40px;
        padding:15px;
        font-family: sans-serif;
        background-color: black;
        @include border-radius(10px);
        .dur{
            margin-bottom:17px;
            font-size:1.8rem;
            line-height: 1.4;
            color:#ffa;
            letter-spacing: 1px;
            font-family: sans-serif;
            span{
                font-size:1.4rem;
            }
        }
        .per_price{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
        }
        .nor{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            margin-right:10px;
            font-size:1.2rem;
            color:#888;
        }
        .del{
            color:#888;
            font-size:1.8rem;
        }
        .pay_dis{
            display:flex;
            flex-flow:row nowrap;
            align-items: baseline;
            color:#ff0;
            font-size:1.2rem;
            .price{
                margin-left:5px;
                font-size:2.5rem;
                color:#ff0;
            }
            .btn-imd{
                padding:  12px 30px;
                margin: -10px 10px;
                font-size: 1.3rem;
                letter-spacing: 3px;
                font-weight: 700;
                border: none;
                color: white;
                background-color: #e00;
                cursor: pointer;
                line-height: 1;
                align-self:center;
            }
        }
    }
}

.swiper-button-next,.swiper-button-prev{
    top: 55%;right:-20px;
    width: 27px;
    height: 20px;
    margin-top: -22px;
}
.swiper-button-prev{
    left:0;
    right:auto;
}
.per{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin:12px 0 0;
    .per_t{
        padding:7px 0 7px;
        color:#ffa;
        font-size:1.15rem;
        letter-spacing: 0.3px;
    }
    .per_img{
        display: block;
        width:260px;
        height:260px;
        @include border-radius(10px);
        background-color: white;
    }
    .per_info{
        flex-basis:49.5%;
        &.test{
            .per_l{
                flex-basis: 50%;
                background: #0080cc;
                background: -moz-linear-gradient(top,  #0080cc 0%, #000000 80%); 
                background: -webkit-linear-gradient(top,  #0080cc 0%,#000000 80%); 
                background: linear-gradient(to bottom,  #0080cc 0%,#000000 80%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080cc', endColorstr='#000000',GradientType=0 );
            }
            .per-next-black{
                color:white;
                right:-22px;
            }
            .per_t{
                color:#9df;
                font-size:1.1rem;
            }
            .per_buy{
                justify-content: space-between; 
                .pay_dis{
                    flex-flow: column wrap;
                    color:#9df;
                    .title{
                        align-self: flex-start;
                        font-size:1.2rem;
                    }
                    .price{
                        align-self: flex-start;
                        margin:2px 0;
                        color:#9df;
                        font-size:2.5rem;
                    }
                    .btn-imd{
                        margin-top:5px;
                    }
                }
            }
        }
    }
    .per_l{
        display: flex;
        flex-flow:row nowrap;
        justify-items: stretch;
        padding:18px;
        background: #ff0000;
        background: -moz-linear-gradient(top,  #ff0000 0%, #000000 80%); 
        background: -webkit-linear-gradient(top,  #ff0000 0%,#000000 80%); 
        background: linear-gradient(to bottom,  #ff0000 0%,#000000 80%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=0 );
        @include border-radius(5px);
    }
    .name{
        flex-basis:90px;
        margin:4px 0 5px;
        font-size:1.6rem;
        color:white;
        line-height: 1.2;
        word-break: break-word;
        overflow: hidden;
    }
    .per_dur{
        flex-basis:48%;
    }
    .per_buy{
        flex-basis:52%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between; 
        margin: 28px 0 0 15px;
        font-family: sans-serif;
        .dur{
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 1.2;
            color:#ffa;
            letter-spacing: 1px;
            font-family: sans-serif;
            span{
                font-size:1.2rem;
            }
        }
        .per_price{
            display: flex;
            flex-flow: column nowrap;
        }
        .nor{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            margin:0 10px 5px 0;
            font-size:1.2rem;
            color:#888;
        }
        .del{
            margin-left:3px;
            color:#888;
            font-size:2rem;
        }
        .pay_dis{
            display:flex;
            flex-flow:row wrap;
            align-items: baseline;
            color:#ff0;
            font-size:1.2rem;
            .price{
                margin-left:5px;
                font-size:2.5rem;
                color:#ff0;
            }
            .btn-imd{
                width: 100%;
                margin-top:10px;
                padding: 10px 0 10px 26px;
                font-size: 1.2rem;
                letter-spacing: 16px;
                border: none;
                color: white;
                background-color: #d00;
                cursor: pointer;
                line-height: 1;
                align-self:center;
            }
        }
    }
}
.cupn_t,.item_t{
    margin-top:20px;
    color:#888;
    font-size:1.1rem;
}
.site-main{
    @include clearfix;
    .items{
        margin:5px 0;
        .item{
            width:(100%/7);
            display: inline-block;
            vertical-align: top;
            margin:5px 0;
            padding: 8px ;
            background-color: #eee;
            @include border-radius(10px);
            &:hover{
                background: #ddd;
            }
        }
        .photo{
            .float{
                display: none;
            }
            img{
                display: block;
                width:100%;
                @include border-radius(10px);
            }
        }
        .info{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin:5px 0;
            padding-top: 5px;
        }
        .name{
            width:155px;
            color: #999;
            font-size:.7rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .price{
            margin-left:5px;
            color:#d00;
            font-size:.8rem;
            font-family: sans-serif;
        }
    }
    .brand{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding:5px 0;
        border-bottom:1px solid #666;
        .brand-l,.brand-r{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
        h2{
            margin-left:3px;
            color:#666;
            font-size:1.2rem;
        }
        .btn-grey, .btn-red{
            width:60px;
            text-align: center;
            padding:5px 10px;
            margin-right:8px;
            color:#666;
            background:#ddd;
            border:none;
            outline:none;
            cursor: pointer;
        }
        .btn-red{
            color:white;
            background:#f30;
        }
    }
    .brandlist{
        .items{
            .item{
                display: none;
            }
        }
    }
    .loader{
        text-align:center;
        .btn-load{
            margin-top:10px;
            padding:6px 10px 7px;
            color:#666;
            background:white;
            font-size:1.1rem;
            border:1px solid #6b88b6;
            outline:none;
            cursor: pointer;
            i{
                color:#6b88b6;
                margin-left:8px;
            }
        }
    }
}


// @media all and (-ms-high-contrast:none){ 
//     *::-ms-backdrop,.per .per_l {
//         flex-basis:50% \0; 
//     }
//     *::-ms-backdrop, .per .per_r{
//         flex-basis:100% \0; 
//     }
// }