// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/page";

@import "3rd-party/_font-awesome.min.scss";
.body_container{
    background-color: #eee;
}
.site-main{
    @include clearfix;
    .supplier_t{
        margin-top:20px;
        font-size:.9rem;
        a{
            color:#069;
        }
        i{
            margin:0 10px;
        }
    }
    .supplier{
        display: flex;
        flex-flow: row wrap;
        margin-top:20px;
        a{
            flex-basis: 225px;
            height:130px;
            text-align: center;
            margin-right:20px;
            margin-bottom:0px;
            padding:0 10px 0 0;
            color:#555;
            @include box-sizing(border-box);
            &:nth-child(5n){
                margin-right:0;
            }
            .photo{
                position: relative;
                width: 100%;
                height: 0;
                padding-top: 100px;
                overflow: hidden;
                background-color: white;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    max-width: 175px;
                    max-height: 90px;
                }
            }
            p{
                display: none;
                padding:0 0 8px;
                font-size:.9rem;
                background-color: white;
                span{
                    display: block;
                    margin: 0 auto;
                    width:100%;
                    max-width:190px;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            &:hover{
                p{
                    display: block;
                }
            }
        }
    }
}
